@import (reference) '../../../common';

@padding: 1.5rem;
@icon-size: 2.1875rem;

.link-panel {
    &.navds-panel {
        width: 100%;
        display: flex;
        padding: @padding;
        margin: 0;

        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
        background-color: white;

        border: 1px solid @navds-semantic-color-link;
        box-sizing: border-box;
        text-decoration: none;
        color: black;
    }

    &:hover {
        box-shadow: 0 2px 1px 0 #a0a0a0;

        .link-panel__title {
            text-decoration: underline;
        }
    }

    &:focus,
    &:focus-visible,
    &:active {
        .panel-focus-mixin(false);
    }

    &__innhold {
        height: 100%;
        width: 100%;
        display: flex;
        justify-items: flex-start;
        align-items: flex-start;
        flex-direction: column;
        text-align: start;
    }

    &__header {
        width: 100%;
    }

    &__title {
        width: 100%;
        color: @navds-semantic-color-link;
    }

    &__ingress {
        width: 100%;
        margin: 1rem 0 0.5rem 0;
    }
}

.vertical .link-panel {
    text-align: center;

    &__icon {
        @marginBottom: 1rem;

        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: @marginBottom;

        img {
            height: @icon-size;
        }

        &--bg {
            margin: -@padding -@padding @marginBottom -@padding;
            padding: 0 1rem;
            width: calc(100% + @padding * 2);
            height: 6rem;

            img {
                height: auto;
                max-height: 5rem;
            }
        }
    }

    &__title {
        text-align: center;
    }

    &__ingress {
        text-align: center;
    }
}

.horizontal .link-panel {
    &__icon {
        margin-right: 0.5rem;

        img {
            width: @icon-size;
            height: @icon-size;
        }
    }

    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    &__innhold {
        padding-right: 0.5rem;
    }
}
