.officeInformation {
    margin: 2.5rem 0 4rem;
}

.accordionHeader {
    color: var(--a-text-action);
}

.accordionContent {
    :global(.navds-expansioncard__content-inner) {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}
