.warning-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: calc(var(--decorator-sticky-offset) + var(--a-spacing-4));
    left: 0;
    width: 100%;
    z-index: 2147483601; // +1 from the content studio overlay
}
