@use 'common' as common;

.kapittelNavigasjon {
    background-color: white;
    border-radius: var(--ax-radius-4);
    display: flex;
    flex-direction: column;
    margin: 0 0 var(--ax-space-24) 0;
    padding: var(--ax-space-16) 0;
    width: 100%;
    transition: all 0.3s linear;

    .title {
        padding: var(--ax-space-16);
    }

    ul {
        @include common.unstyled-list();
        width: 100%;

        .item {
            display: block;
            font-size: var(--ax-font-size-large);
            margin: 0 var(--ax-space-8);
            padding: var(--ax-space-12) var(--ax-space-8);
            position: relative;
            text-decoration: none;
            z-index: 1;
            font-weight: var(--ax-font-weight-bold);

            &:before {
                content: ' ';
                display: inline-block;
                height: 100%;
                left: calc(-1 * var(--ax-space-8));
                position: absolute;
                top: 0;
                width: var(--ax-space-8);
            }

            &.active {
                &:before {
                    background-color: var(--default-action-color);
                    content: '';
                    display: inline-block;
                    height: 100%;
                    left: calc(-1 * var(--ax-space-8));
                    position: absolute;
                    top: 0;
                    width: var(--ax-space-8);
                }
            }
        }

        a {
            &:hover {
                background-color: var(--ax-accent-200);
                color: var(--ax-neutral-1000);
                text-decoration: none;
            }
            &:focus {
                background: none;
                box-shadow: var(--a-shadow-focus);
                color: var(--default-action-color);
                cursor: pointer;
                outline: none;

                &:before {
                    left: 0;
                }
            }
        }
    }
}
