@import (reference) '~nav-frontend-typografi-style/src/index';
@import (reference) '~nav-frontend-core/less/_variabler';

.large-table-page {
    h1 {
        .typo-systemtittel;
        margin-bottom: 1rem;
    }

    table {
        border-collapse: collapse;
    }

    td {
        padding: 0.125rem 0.375rem;
    }

    th {
        .typo-undertittel;
        padding: 0.5rem 0;
    }

    thead {
        tr {
            border-bottom: 1px @navLysGra solid;
        }
    }

    .empty-row {
        height: 0.5rem;
        background-color: transparent;
        & + tr {
            .typo-element;
        }
    }

    .statHead {
        padding-right: 0.5rem;
        &:not(th) {
            .typo-element;
            color: @navGra80;
        }
    }

    tbody {
        tr:first-child {
            .typo-element;
            td {
                padding-top: 0.5rem;
            }
        }

        tr:nth-child(even) {
            background-color: @navBlaLighten80;
        }
    }

    .statSideskift {
        height: 2.5rem;
    }
}
