@import (reference) '~nav-frontend-typografi-style/src/index';
@import (reference) '~nav-frontend-core/less/_variabler';

.large-table-page {
    h1 {
        .typo-systemtittel;
        margin-bottom: 0.5rem;
    }

    td {
        padding: 0 0.375rem;
    }

    thead {
        & > * {
            .typo-element;
        }
    }

    .statHead {
        .typo-element;
        color: @navGra80;
    }

    tbody {
        tr:nth-child(even) {
            background-color: @navBlaLighten80;
        }
    }
}
