@use 'common' as common;

.navnoLenke {
    text-decoration: none;
}

.withChevron {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

    .lenketekst {
        display: inline-flex;
    }

    &:hover {
        .customChevronStyle {
            left: var(--a-spacing-1-alt);
        }
    }
}

.lenketekst {
    display: inline-flex;
    color: var(--default-action-color);
    @include common.link-underline-mixin();
}

.label {
    padding-top: var(--a-spacing-1);
    padding-left: var(--a-spacing-7);
    color: black;
}

.iconContainer {
    min-width: var(--a-spacing-7);

    .customChevronStyle {
        position: relative;
        transition: left 250ms;
        top: 1px;
        left: 0;
    }

    .arrowIcon {
        margin-left: 10px;
        position: relative;
        top: 2px;
    }
}
