@use 'common' as common;
@use 'sass:math';

.container {
    background-color: var(--a-white);
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin-top: var(--a-spacing-24); // Take topMarker negative pos into account

    &.pullUp {
        margin-top: 0;
    }

    :global(.icon-container) {
        align-items: center;
        align-self: flex-start;
        background-color: var(--a-white);
        border-radius: 50%;
        display: flex;
        height: var(--a-spacing-16);
        justify-content: center;
        position: relative;
        width: var(--a-spacing-16);

        img {
            height: var(--a-spacing-11);
            width: var(--a-spacing-11);
        }
    }
}

.topMarker .header {
    position: relative;
    margin-bottom: var(--a-spacing-7);
    color: var(--brand-purple-deep);

    &:before {
        @include common.header-before-rectangle();
    }
}

.headerWithIcon {
    margin-top: var(--a-spacing-2);
}

.editorViewBorder {
    outline: 1px gray dashed;
    outline-offset: 15px;
}

.hideOnDesktop {
    @media #{common.$mq-screen-desktop} {
        display: none;
    }
}
