@use 'common' as common;
@use 'sass:math';

$iconContainerRadius: var(--a-spacing-8);

.container {
    $iconContainerSize: $iconContainerRadius * 2;

    @mixin adjust-for-padding($sectionPadding) {
        $marginActual: var(--a-spacing-4);
        top: calc(-#{$sectionPadding} - #{$iconContainerRadius});
        margin-bottom: (-$iconContainerRadius) - ($sectionPadding - $marginActual);
    }

    display: inline-flex;
    flex-direction: column;
    background-color: var(--a-white);
    width: 100%;

    @include common.section-padding-mixin();

    :global(.icon-container) {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: $iconContainerSize;
        height: $iconContainerSize;
        position: relative;
        border-radius: 50%;
        background-color: var(--a-white);
        overflow: hidden;

        @include adjust-for-padding(common.$sectionPaddingDesktop);

        @media #{common.$mq-screen-tablet} {
            @include adjust-for-padding(common.$sectionPaddingTablet);
        }

        @media #{common.$mq-screen-mobile} {
            @include adjust-for-padding(common.$sectionPaddingMobile);
        }

        img {
            $iconSize: var(--a-spacing-11);
            height: $iconSize;
            width: $iconSize;
        }
    }
}

.withIcon {
    margin-top: $iconContainerRadius;
}

.header {
    margin-bottom: var(--a-spacing-4);
}

.headerWithIcon {
    margin-top: var(--a-spacing-4);
}
