@use 'common' as common;
@use 'sass:math';

.container {
    background-color: white;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin-top: var(--ax-space-96); // Take topMarker negative pos into account

    &.pullUp {
        margin-top: var(--ax-space-48);

        &:has(:global(.part__html-area)) {
            margin-top: 0;
        }

        &:has(:global(.part__dynamic-alert)) {
            margin-top: var(--ax-space-28);
        }
    }

    :global(.icon-container) {
        align-items: center;
        align-self: flex-start;
        background-color: white;
        border-radius: 50%;
        display: flex;
        height: var(--ax-space-64);
        justify-content: center;
        position: relative;
        width: var(--ax-space-64);

        img {
            height: var(--ax-space-44);
            width: var(--ax-space-44);
        }
    }
}

.topMarker .header {
    position: relative;
    margin-bottom: var(--ax-space-28);
    color: var(--brand-purple-deep);

    &:before {
        @include common.header-before-rectangle();
    }
}

.headerWithIcon {
    margin-top: var(--ax-space-8);
}

.editorViewBorder {
    outline: 1px gray dashed;
    outline-offset: 15px;
}

.hideOnDesktop {
    @media #{common.$mq-screen-desktop} {
        display: none;
    }
}
