.contactOption {
    background-color: transparent;
    display: flex;
    width: 100%;
    gap: var(--a-spacing-4);

    .content {
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        justify-content: center;
    }
}
