.overviewFilter {
    display: flex;
    flex-direction: column;
}

.filterWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
}

.tag {
    background-color: white;
    border: 1px solid var(--navds-global-color-gray-600);
    cursor: pointer;
    white-space: nowrap;
}

.filterButton {
    background-color: transparent;
    border: 0;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0;
}

.activeButton {
    .tag {
        background-color: rgb(219, 219, 219);
    }
}
