@use 'common' as common;

.currentTopics {
    @include common.full-width-mixin();
    background-color: var(--bg-color, var(--ax-bg-neutral-soft));
    padding-top: var(--ax-space-44);
    padding-bottom: var(--ax-space-44);

    @media #{common.$mq-screen-mobile} {
        padding-top: var(--ax-space-32);
        padding-bottom: var(--ax-space-32);
    }
}

.header {
    margin-bottom: var(--ax-space-24);

    @media #{common.$mq-screen-mobile} {
        margin-bottom: var(--ax-space-16);
    }
}

.list {
    list-style: none;
    position: relative;
    padding: 0;

    @include common.grid-layout-mixin(
        $numCols: 2,
        $rowGapMobileSmall: var(--ax-space-12),
        $columnGapMobileSmall: var(--ax-space-12)
    );
}

.item {
    background-color: var(--item-color, white);
    height: 100%;

    :global(.lenkepanelNavnoTextContent) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    @media #{common.$mq-screen-mobile-small} {
        padding: var(--ax-space-8) var(--ax-space-12);
    }
}

.date {
    color: var(--ax-neutral-800);
}
