@use 'common' as common;

.currentTopics {
    @include common.full-width-mixin();
    background-color: var(--bg-color, var(--a-bg-subtle));
    padding-top: var(--a-spacing-11);
    padding-bottom: var(--a-spacing-11);

    @media #{common.$mq-screen-mobile} {
        padding-top: var(--a-spacing-8);
        padding-bottom: var(--a-spacing-8);
    }
}

.header {
    margin-bottom: var(--a-spacing-6);

    @media #{common.$mq-screen-mobile} {
        margin-bottom: var(--a-spacing-4);
    }
}

.list {
    list-style: none;
    position: relative;
    padding: 0;

    @include common.grid-layout-mixin(
        $numCols: 2,
        $rowGapMobileSmall: var(--a-spacing-3),
        $columnGapMobileSmall: var(--a-spacing-3)
    );
}

.item {
    background-color: var(--item-color, var(--a-white));
    height: 100%;

    :global(.lenkepanelNavnoTextContent) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    @media #{common.$mq-screen-mobile-small} {
        padding: var(--a-spacing-2) --a-spacing-3;
    }
}

.date {
    color: var(--a-gray-700);
}
