@use 'common' as common;

.kontaktskjema {
    background-color: var(--ax-brand-blue-100);

    padding: common.$sectionPaddingMobile;

    @media #{common.$mq-screen-tablet} {
        padding: common.$sectionPaddingTablet;
    }

    @media #{common.$mq-screen-desktop} {
        padding: common.$sectionPaddingDesktop;
    }
}
