@import (reference) '../../../../global.less';

.radio-expanding-panel {
    button {
        padding: 0.5rem 0;
    }

    .ekspanderbartPanel__tittel {
        width: 100% !important;
    }

    .ekspanderbartPanel__indikator {
        display: none !important;
    }

    &:hover {
        box-shadow: none;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        .skjemaelement__label {
            .typo-element;
        }
    }
}
