@import (reference) '../../../../global';

.main-content-section {
    width: 100%;
    flex-shrink: 1;

    .region__pageContent {
        max-width: calc(@desktopMaxWidthInner / 2);

        @media @screen-mobile {
            max-width: 100%;
        }

        & > .layout {
            margin-top: 1rem;
            border-radius: @border-radius-base;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}
