@import (reference) '../../../../global';

.page__page-with-side-menus {
    .region__pageContent,
    .region__topPageContent {
        display: flex;
        flex-direction: column;

        & > :not(:last-child) {
            margin-bottom: 1.33rem;
        }

        &:empty {
            margin-bottom: 0;
        }
    }
}
