@import (reference) '../../../../global';

.page__page-with-side-menus {
    .region__pageContent {
        display: flex;
        flex-direction: column;

        & > :not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
}
