@use 'common' as common;

.innholdssideMedMeny {
    @include common.centered-content-spacing();

    :global(.region__intro) {
        margin-bottom: var(--a-spacing-9);
    }

    :global(.region__pageContent),
    :global(.region__topPageContent) {
        display: flex;
        flex-direction: column;
    }
}

.pullUp {
    padding-top: var(--a-spacing-3);
}

@media #{common.$mq-screen-desktop} {
    .innholdssideMedMeny {
        @include common.grid-dynamisk-meny-mixin();
    }

    .mainContent {
        display: contents;
        > * {
            grid-column: content-start;
        }
    }
}
