@use 'common' as common;

.innholdssideMedMeny {
    padding-top: var(--a-spacing-20);
    padding-bottom: var(--a-spacing-16);
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;

    @media #{common.$mq-screen-mobile} {
        padding-top: var(--a-spacing-9);
    }

    :global(.region__intro) {
        margin-bottom: var(--a-spacing-9);
    }

    :global(.region__pageContent),
    :global(.region__topPageContent) {
        display: flex;
        flex-direction: column;
    }
}

.pullUp {
    padding-top: var(--a-spacing-3);
}

@media #{common.$mq-screen-desktop} {
    .innholdssideMedMeny {
        display: grid;
        grid-template-columns:
            [content-start] minmax(0, min(42.5rem, 100%))
            [space-start] clamp(2.5rem, -6.5rem + 15vw, 8.5rem)
            [space-end] minmax(0, min(22.5rem, 30%))
            [content-end];
        padding-left: 8rem;
        max-width: none;
    }

    .mainContent {
        display: contents;
        > * {
            grid-column: content-start;
        }
    }

    .pageNavigationMenu {
        grid-column: space-end;
        grid-row: 2 / 6;
    }
}
