@use 'common' as common;

.innholdssideMedMeny {
    padding-top: var(--a-spacing-20);
    padding-bottom: var(--a-spacing-16);
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;

    @media #{common.$mq-screen-mobile} {
        padding-top: var(--a-spacing-9);
    }

    :global(.region__intro) {
        margin-bottom: var(--a-spacing-9);
    }

    :global(.region__pageContent),
    :global(.region__topPageContent) {
        display: flex;
        flex-direction: column;
    }
}

.pullUp {
    padding-top: var(--a-spacing-3);
}

@media #{common.$mq-screen-desktop} {
    .innholdssideMedMeny {
        @include common.grid-dynamisk-meny-mixin();
    }

    .mainContent {
        display: contents;
        > * {
            grid-column: content-start;
        }
    }
}
