@import (reference) '../../../global.less';

.search-hit {
    border-color: transparent;

    &__display-path {
        color: @navGra60;
    }

    &__highlight {
        margin-top: 0.5rem;
    }

    &__published {
        margin-top: 0.5rem;
        color: @navGra60;
    }
}
