@import (reference) '../../../global.less';

.search-results {
    display: flex;
    flex-direction: column;

    &__no-hits {
        padding: 0 1rem;
        margin-top: 1rem;
    }

    &__show-more {
        align-self: center;
        text-transform: none;
    }
}
