@import (reference) '../../../global.less';

.search-results-header {
    &__top-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 2rem;
    }

    &__bottom-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__sorting-selector {
        display: flex;
        flex-direction: column;
    }

    &__buttons {
        display: flex;
        margin-top: 0.25rem;
        & > * {
            margin-right: 2rem;
        }
    }
}
