@import (reference) '../../../global.less';

.search-results {
    display: flex;
    flex-direction: column;
    margin: 0 -1rem;

    &__subheading {
        padding: 0.5rem 1rem 0 1rem;
    }

    &__separator {
        border: none;
        margin: 1.5rem 1rem 0.5rem 1rem;
        border-bottom: 1px solid @navGra60;
    }

    &__show-more {
        align-self: center;
        text-transform: none;
    }
}
