@import (reference) '../../../global.less';

.search-results {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;

    .search-hit {
        margin-bottom: 1.25rem;
    }

    &__show-more {
        align-self: center;
        text-transform: none;
    }
}
