.userTestsEditor {
    :not(:last-child) {
        margin-bottom: var(--ax-space-4);
    }
}

.header {
    margin-top: var(--ax-space-40);
    border: 2px black solid;
    border-left-width: 0;
    border-right-width: 0;
    padding: var(--ax-space-8) 0;
}

.variant {
    margin-top: var(--ax-space-16);
}

.disabled {
    filter: grayscale(100%) blur(3px);
    pointer-events: none;
}
