@use 'common' as common;

.pageNavigationMenu {
    display: none;
}

@media #{common.$mq-screen-desktop} {
    .mobileOnly {
        display: none;
    }

    .pageNavigationMenu {
        display: block;
        grid-column: space-end !important;
        grid-row: 2 / 6;
    }
}
