@use 'common' as common;

@mixin page-navigation-menu-placement() {
    display: block;
    grid-column: space-end !important;
    grid-row: 2 / 999;
}

.pageNavigationMenu {
    display: none;
}

@media #{common.$mq-screen-desktop} {
    .mobileOnly {
        display: none;
    }

    .pageNavigationMenu {
        @include page-navigation-menu-placement();
    }
}
