@use '../../../common' as common;

.summaryError {
    margin-top: 2rem;
    background-color: common.$navds-global-color-orange-200;
}

.summaryText {
    margin-top: 2rem;
    background-color: common.$navds-global-color-lightblue-100;
}
