.calculator {
    margin-bottom: 1.75rem;

    &__title.navds-title {
        margin-bottom: 0.75rem;
    }

    &__calculateButton {
        margin-top: 1rem;

        .calculator__calculateIcon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}
