@import (reference) '../../../global';

.calculator-result {
    &.calculator-result__summaryText {
        margin-top: 2rem;
        background-color: @navLysBlaLighten80;
    }

    &.calculator-result__summaryError {
        margin-top: 2rem;
        background-color: @navOransjeLighten60;
    }
}
