@import (reference) '../../../global';

.calculator-result {
    &.calculator-result__summaryText {
        margin-top: 2rem;
        background-color: @navds-global-color-lightblue-100;
    }

    &.calculator-result__summaryError {
        margin-top: 2rem;
        background-color: @navds-global-color-orange-200;
    }
}
