.readMore {
    margin-bottom: var(--ax-space-36);

    &[data-state='open'] {
        :global(.aksel-read-more__button) {
            position: sticky;
            top: var(--decorator-sticky-offset, 0px);
        }
    }
}
