@use 'src/components/_common/area-card/graphics/AreaCardGraphicsCommon.module'
    as areaGraphics;
@import 'src/components/_common/area-card/AreaCard.module';

.arrow {
    @include transitionMixin;
    position: absolute;
    right: 0;
    top: 127px;
}

@media (hover) {
    #{areaGraphics.onExpand('.arrow')} {
        right: 191px;
    }
}

.letterPartOrange {
    background-color: var(--navds-global-color-orange-200);

    @include transitionMixin;
    position: absolute;
    width: 56px;
    height: 44px;
    right: -2px;
    top: 58px;
}

@media (hover) {
    #{areaGraphics.onExpand('.letterPartOrange')} {
        right: 48px;
        top: 58px;
    }
}

.letterPartBlue {
    background-color: var(--navds-global-color-deepblue-200);

    @include transitionMixin;
    position: absolute;
    width: 48px;
    height: 160px;
    right: -26px;
    top: 0;
}

@media (hover) {
    #{areaGraphics.onExpand('.letterPartBlue')} {
        right: 0;
    }
}

.mask {
    background-color: var(--navds-global-color-deepblue-100);

    @include transitionMixin;
    position: absolute;
    width: 193.56px;
    height: 499px;
    right: -42px;
    top: -100px;
    transform: skewX(-22.09deg);
}

@media (hover) {
    #{areaGraphics.onExpand('.mask')} {
        background-color: #ffb8b8;
        width: 48px;
        height: 160px;
        right: 100px;
        top: 0;
        transform: skewX(0);
    }
}

.dog {
    @include transitionMixin;
    position: absolute;
    right: 30px;
    top: 38px;
}

@media (hover) {
    #{areaGraphics.onExpand('.dog')} {
        right: 71px;
        top: 76px;
    }
}
