@use 'src/common' as common;
@use '../../../../IndexPage.module' as indexPage;

$graphicsHeight: 160px;
$graphicsWidth: 320px;

.panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 600px;
}

.gfxContainer {
    display: flex;
    justify-content: center;
    position: relative;
    align-self: flex-end;
    overflow: hidden;

    width: 100%;
    min-width: $graphicsWidth;
    max-width: 625px;
    height: $graphicsHeight;

    & > * {
        width: $graphicsWidth;
    }
}
