@use 'common' as common;

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: common.$a-green-100;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
}

.serverInfo {
    :global(.navds-alert__wrapper) > :not(:last-child) {
        margin-bottom: 0.25rem;
    }
}
