@use 'src/common' as common;

.wide {
    background-color: white;
    display: flex;
    justify-content: center;
    @include common.full-width-mixin();
}

.officeDetails {
    display: flex;
    flex-direction: column;
    border: none;
}

.addressPoster {
    background-color: var(--navds-global-color-orange-50);
}

.header {
    margin-bottom: 1rem;
}

.officeInformation {
    background-color: none;
}
