@use 'src/common' as common;

.officeDetails {
    display: flex;
    flex-direction: column;
    border: none;
}

.wide {
    background-color: white;
    display: flex;
    justify-content: center;
    @include common.full-width-mixin();
}

.placeIcon {
    background-color: var(--a-blue-50);
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    border-radius: 1.25rem;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;

    svg {
        color: var(--a-blue-500);
        width: 24px;
        height: 24px;
    }
}

.header {
    display: flex;
    align-items: center;
}

.addressPoster {
    background-color: var(--a-orange-50);
}

.officeInformation {
    background-color: none;
}
