@use 'src/common' as common;

$margin: 2rem;

.officeDetails {
    align-self: center;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;
    max-width: common.$contentMaxWidth;
    width: 100%;

    & > * {
        width: 100%;
    }
}

.pageContent {
    display: flex;
    flex-direction: column;

    & > :not(.layout__situation-flex-cols) {
        margin-bottom: $margin;
        max-width: common.$sectionMaxWidth;
    }

    // Prevent margins between adjacent situation-flex-cols layouts
    .layout__situation-flex-cols + .layout__situation-flex-cols {
        margin-top: -($margin * 2);
    }
}

.wide {
    background-color: white;
    display: flex;
    justify-content: center;
    @include common.full-width-mixin();
}

.placeIcon {
    align-items: center;
    display: inline-flex;
    height: 2.5rem;
    justify-content: center;
    margin-right: 0.5rem;
    width: 2.5rem;
}

.header {
    align-items: center;
    display: flex;
}

.addressPoster {
    background-color: var(--a-orange-50);
}
