@import (reference) '../../common';

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;

    .full-width-mixin();

    &--white {
        background-color: @navds-semantic-color-canvas-background-light;
    }

    &--widgets-offset {
        margin-top: 3.4rem;
    }

    &__notifications {
        @numCols: 2;
        @margin: 1rem;
        @margin-width-term: @margin * (@numCols - 1) / @numCols;

        padding: 1rem 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: calc((@desktopMaxWidth - @padding-sides-desktop * 2) * 0.75);
        width: 100%;

        @media @mq-screen-tablet-and-desktop {
            .notification {
                width: calc(100% / @numCols - @margin-width-term);

                &:not(:nth-child(@{numCols}n)):not(:last-child) {
                    margin-right: @margin;
                }
            }
        }

        @media @mq-screen-mobile {
            padding-top: 0;
            flex-direction: column;
            align-items: center;

            .notification {
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
