@import (reference) '../../common';

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;

    .full-width-mixin();

    &--white {
        background-color: @navds-semantic-color-canvas-background-light;
    }

    &--widgets-offset {
        margin-top: -0.75rem;
    }
}
