@use 'common' as common;

.lenkepanel {
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    background-color: var(--a-white);
    border: 1px solid var(--default-action-color);
    border-radius: var(--a-border-radius-small);
    padding: var(--a-spacing-6);
    text-decoration-line: none;
    color: black;
    transition: none;
    &:hover {
        box-shadow: 0 2px 1px 0 #a0a0a0;

        .title {
            text-decoration-thickness: 0.05em;
            text-underline-offset: 0.1em;
            text-decoration-line: underline;
        }
    }
    &:focus,
    &:focus-visible,
    &:active {
        @include common.panel-focus-mixin(false);
    }
    .innhold {
        display: flex;
        justify-items: flex-start;
        align-items: flex-start;
        flex-direction: column;
        text-align: start;
    }
    .header {
        width: 100%;
    }
    .title {
        color: var(--default-action-color);
    }
    .ingress {
        margin-top: var(--a-spacing-4);
    }
    .lenkebase {
        text-decoration: none;
    }
    :global(.navds-link-card__arrow) {
        margin-inline-start: var(--a-spacing-6);
    }
    :global(.navds-link-card__image-container) {
        border-radius: var(--a-border-radius-small);
    }
}

:global(.vertical).lenkepanel {
    .icon {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: var(--a-spacing-4);

        img {
            height: var(--a-spacing-9);
        }
        &.bg {
            margin: 0;
            padding: 0 var(--a-spacing-4);
            height: var(--a-spacing-24);

            img {
                height: auto;
                max-height: var(--a-spacing-20);
            }
        }
    }
    .title {
        text-align: center;
    }
    .ingress {
        text-align: center;
    }
}

:global(.horizontal).lenkepanel {
    .icon {
        margin-right: var(--a-spacing-2);

        img {
            width: var(--a-spacing-9);
            height: var(--a-spacing-9);
        }
    }
    .header {
        display: flex;
        align-items: center;
    }
}
