@use 'common' as common;

$iconSize: 2.1875rem;

.lenkepanel {
    &:global(.navds-panel) {
        width: 100%;
        display: flex;
        padding: var(--a-spacing-6);
        margin: 0;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
        background-color: var(--a-white);
        border: 1px solid var(--default-action-color);
        box-sizing: border-box;
        text-decoration-line: none;
        color: black;
    }
    &:hover {
        box-shadow: 0 2px 1px 0 #a0a0a0;

        .title {
            text-decoration-thickness: 0.05em;
            text-underline-offset: 0.1em;
            text-decoration-line: underline;
        }
    }
    &:focus,
    &:focus-visible,
    &:active {
        @include common.panel-focus-mixin(false);
    }
    .innhold {
        height: 100%;
        width: 100%;
        display: flex;
        justify-items: flex-start;
        align-items: flex-start;
        flex-direction: column;
        text-align: start;
    }
    .header {
        width: 100%;
    }
    .title {
        width: 100%;
        color: var(--default-action-color);
    }
    .ingress {
        width: 100%;
        margin: var(--a-spacing-4) 0 var(--a-spacing-2) 0;
    }
}

:global(.vertical).lenkepanel {
    text-align: center;

    .icon {
        $marginBottom: var(--a-spacing-4);
        $padding: var(--a-spacing-6);

        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: $marginBottom;

        img {
            height: $iconSize;
        }
        &.bg {
            margin: (-$padding) (-$padding) $marginBottom (-$padding);
            padding: 0 var(--a-spacing-4);
            width: calc(100% + #{$padding} * 2);
            height: 6rem;

            img {
                height: auto;
                max-height: var(--a-spacing-20);
            }
        }
    }
    .title {
        text-align: center;
    }
    .ingress {
        text-align: center;
    }
}

:global(.horizontal).lenkepanel {
    .icon {
        margin-right: var(--a-spacing-2);

        img {
            width: $iconSize;
            height: $iconSize;
        }
    }
    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .innhold {
        padding-right: var(--a-spacing-2);
    }
}
