@use 'common' as common;

@media #{common.$mq-screen-desktop} {
    .singleColPage {
        @include common.grid-dynamisk-meny-mixin();
    }

    .wrapperDiv {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
    }

    .region {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;

        > * {
            grid-column: content-start;
        }

        > :global(.part__page-navigation-menu) {
            grid-row: 1 / 999;
        }
    }
}
