.expandable {
    &[data-state='open'] {
        :global(.aksel-read-more__button) {
            position: sticky;
            top: var(--decorator-sticky-offset, 0px);
        }
    }

    &.legacy {
        :global(.aksel-read-more__button) {
            width: 100%;
            padding-left: var(--ax-space-16);
        }
    }

    :global(.parsedHtml:last-child) {
        margin-bottom: 0;
        > *:last-child {
            margin-bottom: 0;
            > *:last-child {
                margin-bottom: 0;
            }
        }
    }

    :global(.part__html-area):has(.expandable) + :global(.part__html-area):has(.expandable) {
        margin-top: calc(var(--ax-space-24) * -1);
    }

    :global(:not(:last-child)) {
        & > .expandable {
            margin-bottom: var(--ax-space-28);
        }
    }

    table {
        table-layout: fixed;
    }
}
