.expandable {
    display: block;
    border: none;
    box-shadow: none;

    .header[data-open='true'] {
        position: sticky;
        top: var(--decorator-sticky-offset, 0px);
    }

    .header {
        background-color: #e6f0ff;
        border-radius: 22px;
        padding: var(--ax-space-8) var(--ax-space-8) var(--ax-space-8) var(--ax-space-12);
        width: fit-content;

        div {
            display: flex;
            align-items: center;
            gap: var(--ax-space-8);
            color: var(--default-action-color);
        }

        :global(.aksel-expansioncard__header-button) {
            min-height: 20px;

            svg {
                path {
                    fill: var(--default-action-color);
                }
            }
        }

        &:hover {
            background-color: #cce1ff;

            :global(.aksel-expansioncard__header-button) {
                background-color: transparent;
            }
        }

        &:after {
            display: none;
        }
    }

    &.legacy {
        .header {
            width: 100%;
            padding-left: var(--ax-space-16);
        }
    }

    .headerIcon {
        display: flex;
        width: 28px;
        height: 28px;
    }

    .content {
        border: 0;
        border-left: 1px solid var(--ax-neutral-500);
        margin: var(--ax-space-8) 0 0 var(--ax-space-24);
        border-radius: 0;
        padding-left: var(--ax-space-20);
    }

    :global(.parsedHtml:last-child) {
        margin-bottom: 0;
        > *:last-child {
            margin-bottom: 0;
            > *:last-child {
                margin-bottom: 0;
            }
        }
    }

    :global(.part__html-area):has(.expandable) + :global(.part__html-area):has(.expandable) {
        margin-top: calc(var(--ax-space-24) * -1);
    }

    :global(:not(:last-child)) {
        & > .expandable {
            margin-bottom: var(--ax-space-28);
        }
    }

    // Only applicable when a table is inside an expandable. This is
    // why this rule is not inside the DefaultHtmlStyling.module.scss.
    table {
        table-layout: fixed;
    }
}
