@use 'common' as common;

.situationPage {
    .content {
        & > * {
            padding-top: var(--a-spacing-20);
            padding-bottom: var(--a-spacing-16);
            max-width: 40rem;
            margin-left: auto;
            margin-right: auto;

            @media #{common.$mq-screen-mobile} {
                padding-top: var(--a-spacing-9);
            }
        }
    }

    .pullUp {
        padding-top: var(--a-spacing-3);
    }
}
