@use 'common' as common;

.situationPage {
    .content {
        padding-top: var(--a-spacing-20);
        @media #{common.$mq-screen-mobile} {
            padding-top: var(--a-spacing-9);
        }

        & > * {
            @include common.centered-content-spacing();

            //Margin over kontaktmodul i edit mode
            & :global(.layout__situation-flex-cols) {
                margin-top: var(--a-spacing-16);
            }
        }
    }

    .pullUp {
        padding-top: var(--a-spacing-3);
    }
}
