@use 'common' as common;

.situationPage {
    display: flex;
    flex-direction: column;

    .content {
        margin-top: var(--a-spacing-20);
        width: 100%;
        padding-bottom: var(--a-spacing-16);

        @media #{common.$mq-screen-mobile} {
            margin-top: var(--a-spacing-9);
        }

        & > * {
            width: 100%;
            max-width: 40rem;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .pullUp {
        margin-top: var(--a-spacing-3);
    }
}
