@use 'common' as common;

.situationPage {
    .content {
        & > * {
            @include common.centered-content-spacing();
        }
    }

    .pullUp {
        padding-top: var(--a-spacing-3);
    }
}
