@use 'common' as common;

.situationPage {
    .content {
        padding-top: var(--a-spacing-20);
        @media #{common.$mq-screen-mobile} {
            padding-top: var(--a-spacing-9);
        }

        & > * {
            @include common.centered-content-spacing();
        }
    }

    .pullUp {
        padding-top: var(--a-spacing-3);
    }
}
