@use 'src/common' as common;

.container {
    background-color: var(--navds-semantic-color-component-background-light);
}

.animated {
    overflow-y: hidden;
    transition-property: height, opacity;
    transition-timing-function: ease-in;
}

.fullwidth {
    @include common.full-width-mixin();
}

.fade {
    animation-name: fade;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    opacity: 1;
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.25;
    }
}
