.trekkspill {
    margin-bottom: var(--ax-space-36);

    :global(.parsedHtml:last-child) {
        margin-bottom: 0;
        > *:last-child {
            margin-bottom: 0;
            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.item {
    &:global(.aksel-accordion__item--open) {
        .header {
            position: sticky;
            top: var(--decorator-sticky-offset, 0px);
        }
    }
}

.header {
    // Setter bakgrunnsfarge pga. sticky trekkspill
    background-color: white;

    &:hover {
        background-color: var(--ax-bg-moderate-hoverA);
    }
}
