.trekkspill {
    margin-bottom: var(--ax-space-36);

    :global(.parsedHtml:last-child) {
        margin-bottom: 0;
        > *:last-child {
            margin-bottom: 0;
            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.item {
    border-top: 1px solid var(--ax-neutral-400);
    padding: 0 var(--ax-space-12);

    &:last-of-type,
    &:last-child {
        border-bottom: 1px solid var(--ax-neutral-400);
        box-shadow: 0 0 0 0;
    }

    // We want the gray borders in top and below (actually the border top of the next item)
    // to disappear when hovering the header. However, we don't want the lower border
    // (again, actually the border top of the next item) to disappear when the panel
    // is actually expanded.
    &:has(:global(.aksel-accordion__header):hover) {
        border-top: 1px solid transparent;
    }

    :global(.aksel-accordion__header-chevron) {
        transform: rotate(0) !important;
    }

    :global(.aksel-accordion__header-content) {
        margin-bottom: 0;
    }

    &:global(.aksel-accordion__item--open) {
        .header {
            position: sticky;
            top: var(--decorator-sticky-offset, 0px);
        }
        .header:not(:focus-visible) {
            box-shadow: 0 0 0 0;
        }
        :global(.aksel-accordion__header-chevron) {
            transform: rotate(-180deg) !important;
        }
    }

    &:has(:global(.aksel-accordion__header):hover) {
        &:not(:global(.aksel-accordion__item--open)) {
            & + .item {
                border-top: 1px solid transparent;
            }

            &:last-of-type {
                border-bottom: 1px solid transparent;
            }
        }
    }
}

.header {
    --__ac-accordion-header-shadow: 0;
    background-color: white;
    border-radius: var(--ax-radius-8);
    border-top: 1px solid transparent;
    margin: 0 -0.75rem;
    width: calc(100% + var(--ax-space-24));

    :global(.aksel-accordion__icon-wrapper) {
        background-color: var(--ax-bg-accent-soft);
        border-radius: 9px;
        height: 22px;
        width: 22px;
        margin-right: var(--ax-space-6); // Align with content

        // Chevron icon
        svg > path {
            fill: var(--default-action-color);
        }
    }

    &:hover {
        background-color: var(--ax-bg-accent-soft);
        text-decoration: none;

        :global(.aksel-accordion__icon-wrapper) {
            background-color: var(--default-action-color);
        }
        :global(.aksel-accordion__header-chevron) {
            transform: translateY(0);
        }
        // Chevron icon
        svg > path {
            fill: var(--ax-bg-accent-soft);
        }
    }

    &:focus-visible {
        z-index: 2;
    }
}

.headerTitle {
    font-weight: var(--ax-font-weight-regular);
    font-size: var(
        --ax-font-size-heading-xsmall
    ); // TODO snart: Kan antagelig fjerne denne overstyringen når https://github.com/navikt/aksel/pull/4209 er merget
    color: var(--default-action-color);
}

.content {
    margin: var(--ax-space-12);
    margin-left: 10px; // Need to align border precicely beneath the chevron square
    padding: var(--ax-space-8) var(--ax-space-20);
    border-left: 1px solid var(--ax-neutral-500);
}
