.trekkspill {
    margin-bottom: var(--ax-space-36);

    :global(.parsedHtml:last-child) {
        margin-bottom: 0;
        > *:last-child {
            margin-bottom: 0;
            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.item {
    &[data-expanded='true'] {
        .header {
            position: sticky;
            top: var(--decorator-sticky-offset, 0px);
        }
    }
}

.header {
    // Setter bakgrunnsfarge pga. sticky trekkspill
    background-color: var(--ax-bg-default);

    &:hover {
        // Hardkod fargen fordi --ax-bg-moderate-hoverA er gjennomsiktig, og --ax-bg-moderate-hover gir ikke tilsvarende farge
        background-color: #d8e5fe;
    }
}
