@import (reference) '../../../common';

.expandable {
    &.navds-accordion__item {
        border-bottom: 1px @navds-global-color-gray-400 solid;
    }

    &.navds-accordion__item--open {
        .navds-accordion__content {
            visibility: visible;
        }
    }

    .navds-accordion__header {
        @focusPadding: 0.5rem;

        color: @navds-semantic-color-link;
        border-radius: @border-radius-base;
        border-bottom: 0;
        padding-left: @focusPadding;
        padding-right: @focusPadding;
        margin: 0 -@focusPadding;
        width: calc(100% + @focusPadding * 2);

        &:focus {
            .panel-focus-mixin(false);
        }
    }

    .navds-accordion__content {
        visibility: hidden;
        transition: visibility 250ms;
        padding: 1rem 0 0.5rem 0;
    }
}
