@import (reference) '../../../global';

.expandable {
    @boxShadow: inset 0px -1px 0px 0px @navGra20;
    border-radius: 0;
    box-shadow: @boxShadow;
    width: 100%;

    &:hover {
        box-shadow: @boxShadow;
    }

    .ekspanderbartPanel__hode {
        border-radius: @border-radius-base;

        &:focus {
            .panel-inset-focus-mixin();
        }
    }

    .ekspanderbartPanel__tittel {
        font-size: #px-to-rem(20) [];
    }

    .ekspanderbartPanel__tittel,
    .ekspanderbartPanel__indikator {
        color: @navBla;
    }

    .ekspanderbartPanel__innhold {
        transition: visibility 250ms;
        padding-left: 0;
        padding-right: 0;
    }

    .ekspanderbartPanel__flex-wrapper {
        margin: 0 -1rem;
    }

    .ekspanderbartPanel__hode {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 0 -0.5rem;
        width: calc(100% + 1rem);
    }

    &.ekspanderbartPanel--lukket {
        .ekspanderbartPanel__innhold {
            visibility: hidden;
        }
    }
}
