@use 'src/common' as common;

.expandable {
    border-bottom: 1px solid var(--ac-accordion-header-border,var(--a-border-divider));

    &:hover {
        border-bottom-color: transparent;
    }

    &:global(.navds-accordion__item--open) {
        border-bottom: 1px solid var(--ac-accordion-header-border,var(--a-border-divider));
    }

    :global(.navds-accordion__header) {
        color: common.$a-text-action;
        @include common.expandable-panel-mixin();
        &:focus {
            @include common.panel-focus-mixin(false);
        }
    }

    :global(.navds-accordion__content) {
        padding: 1rem 0 0.5rem 0;

        & > :first-child {
            margin-top: 0;
            & > :first-child {
                margin-top: 0;
            }
        }
    }
}

:global(:not(:last-child)) {
    & > .expandableWrapper {
        margin-bottom: 1.75rem;
        --__ac-accordion-header-shadow-color: none;
    }
}
