@use 'common' as common;

.expandable {
    border-bottom: 1px solid
        var(--ac-accordion-header-border, var(--a-border-divider));

    margin: 0 -1rem;
    padding: 0 1rem;

    &:global(.navds-accordion__item--open) {
        border-bottom: 1px solid
            var(--ac-accordion-header-border, var(--a-border-divider));
        padding-bottom: var(--a-spacing-4);
    }

    :global(.navds-accordion__header) {
        border-bottom: 0;
        color: var(--a-surface-action);
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        @include common.expandable-panel-mixin();
        &:focus {
            @include common.panel-focus-mixin(false);
        }
    }

    :global(.navds-accordion__content) {
        transition: visibility 0.25s;
        padding: 1rem 0 0.5rem 0;
        border-bottom: 0;

        & > :first-child {
            margin-top: 0;
            & > :first-child {
                margin-top: 0;
            }
        }
    }
}

:global(.part__html-area):has(.expandableWrapper)
    + :global(.part__html-area):has(.expandableWrapper) {
    margin-top: calc(var(--a-spacing-7) * -1);
}

:global(:not(:last-child)) {
    & > .expandableWrapper {
        --__ac-accordion-header-shadow-color: none;
        margin-bottom: var(--a-spacing-7);
    }
}
