@use 'common' as common;

$maxWidth: 1272px;

.indexPage {
    max-width: $maxWidth;
    margin: 0 auto -2rem auto;
}

.contentBottom {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    background-color: common.$a-white;

    @include common.full-width-mixin();
}
