@use 'src/common' as common;

$maxWidth: 1272px;

.indexPage {
    max-width: $maxWidth;
    margin: 0 auto -2rem auto;

    :global(.region__contentTop) {
        & > :last-child {
            padding-bottom: 2rem;

            @media #{common.$mq-screen-mobile-small} {
                padding-bottom: 1.75rem;
            }
        }
    }

    @media #{common.$mq-screen-mobile} {
        margin-top: -0.5rem; //kompenser for TopContainer
    }
}

.contentBottom {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
