.headerPart {
    margin-top: var(--ax-space-44);
    margin-bottom: var(--ax-space-8);
}

:global(.part__dynamic-header):last-child {
    .headerPart {
        margin-bottom: 0;
    }
}

:global(.part__dynamic-header):first-child {
    .headerPart {
        margin-top: 0;
    }
}
