@mixin link-underline-mixin($underlineDefault: true) {
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.1em;

    @if $underlineDefault {
        text-decoration-line: underline;
    } @else {
        text-decoration-line: none;
    }

    &:hover,
    &:focus {
        @if $underlineDefault {
            text-decoration-line: none;
        } @else {
            text-decoration-line: underline;
        }
    }
}

.liveLink {
    @include link-underline-mixin;
}

.editorLink {
    @include link-underline-mixin(false);
}
