.container {
    background-color: var(--ax-bg-neutral-soft);
    width: 100%;
    min-height: 100vh;
    padding: var(--ax-space-20);
}

.content {
    & > * {
        background-color: white;
        padding: var(--ax-space-20);
        &:not(:last-child) {
            margin-bottom: var(--ax-space-12);
        }
    }
}
