.container {
    background-color: var(--a-bg-subtle);
    width: 100%;
    min-height: 100vh;
    padding: var(--a-spacing-5);
}

.content {
    & > * {
        background-color: var(--a-white);
        padding: var(--a-spacing-5);
        &:not(:last-child) {
            margin-bottom: var(--a-spacing-3);
        }
    }
}
