.openingStatus {
    align-items: center;
    border-radius: var(--a-border-radius-medium);
    color: var(--navds-global-color-black);
    display: inline-flex;
    margin: 0 0 1rem 0;
    padding: 3px 8px;
}

.open {
    background-color: var(--a-green-100);
}

.closed {
    background-color: var(--a-gray-300);
}
