.textWithIndicator {
    display: flex;
    flex-direction: column;
    margin-top: var(--ax-space-16);
}

.prefix {
    font-weight: bold;
    display: inline-block;
}

.text {
    display: inline-flex;
    align-items: center;
    gap: var(--ax-space-8);
}

.indicator {
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: flex;
    height: var(--ax-space-16);
    width: var(--ax-space-16);
}

.indicatorInner {
    border-radius: 50%;
    display: flex;
    height: 0.6rem;
    width: 0.6rem;
}

.active {
    background-color: var(--ax-bg-success-soft);

    .indicatorInner {
        background-color: var(--ax-bg-success-strong);
        opacity: 0.7;
    }
}

.inactive {
    background-color: var(--ax-bg-neutral-soft);

    .indicatorInner {
        background-color: var(--ax-bg-neutral-strong);
        opacity: 0.7;
    }
}
