@use 'src/common' as common;

.badLinkWarning {
    color: common.$navds-semantic-color-feedback-danger-text;
    font-weight: bolder;
    padding: 0.25rem;
    border: dashed 2px common.$navds-semantic-color-feedback-danger-text;
}
