@import (reference) '../../../common';

.navno-lenke {
    text-decoration: none;
    background-color: red;

    .chevron {
        position: relative;
        transition: left 250ms;
        top: 0.0625rem;
        left: 0;
    }

    &--chevron {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;

        &:hover {
            .chevron {
                left: 0.325rem;
            }

            .navno-lenke__lenketekst {
                text-decoration: underline;
            }
        }

        .navno-lenke__lenketekst {
            display: inline-flex;
            border-bottom: none;
        }
    }

    &__lenketekst {
        display: inline;
        .link-border-bottom-mixin();
    }

    &__label {
        padding-top: 0.3rem;
        padding-left: 1.8rem;
        color: black;
    }

    &__icon-container {
        min-width: 1.8rem;
    }
}
