@import (reference) '../../../global';

.lenke-inline {
    border-bottom: 1px @navBla solid;
    text-decoration: none;
    transition: border-bottom-color 0.12s ease-out;

    &:hover,
    &:focus {
        border-bottom-color: transparent;
    }
}
