@import (reference) '../../../global';
@import (reference) '~nav-frontend-lenker-style/src/lenker-style';

.navno-lenke {
    .lenke;
    text-decoration: none;

    &--chevron {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;

        &:hover {
            .navno-lenke__chevron {
                left: 0.3rem;
            }

            .navno-lenke__lenketekst {
                text-decoration: underline;
            }
        }

        .navno-lenke__lenketekst {
            display: inline-flex;
            border-bottom: none;
        }
    }

    &__lenketekst {
        display: inline;
        .link-border-bottom-mixin();
    }

    &__label {
        padding-top: 0.3rem;
        padding-left: 1.8rem;
        color: black;
    }

    &__icon-container {
        min-width: 1.8rem;
    }

    &__chevron {
        transition: left 250ms;
        top: -0.0625rem;
        left: -0.125rem;
    }
}
