@import (reference) '~nav-frontend-core/less/_variabler';
@import (reference) '../../../../global';

.main-article-chapter-navigation {
    display: flex;
    margin-bottom: 2rem;
    width: 100%;

    ul {
        list-style: none;
        width: 100%;
        background-color: white;
        border-radius: 0.25rem;
        padding: 1rem 0.2rem;
        margin: 0;
        & li {
            a,
            p {
                z-index: 1;
                position: relative;
                padding: 0.65rem 1.75rem;
                display: block;
            }

            p {
                z-index: 0;
                &:before {
                    background-color: @navGra80;
                }
            }

            a {
                &:hover {
                    z-index: 0;
                    &:before {
                        background-color: #0067cc;
                    }
                }
                &:focus {
                    color: @navBla;
                    background: none;
                    text-decoration: underline;
                    cursor: pointer;
                    box-shadow: 0 0 0 0.2rem @fokusFarge;
                    outline: none;
                    &:before {
                        left: 0rem;
                    }
                }
            }

            p:before,
            a:before {
                display: inline-block;
                content: ' ';
                position: absolute;
                left: -0.2rem;
                height: 100%;
                width: 0.75rem;
                top: 0;
            }
        }
    }
}
