.disabled {
    pointer-events: none;
    filter: grayscale(100%) blur(3px);
}

.disabledMsg {
    position: absolute;
    max-width: 300px;
    margin: var(--a-spacing-4);
    padding: var(--a-spacing-4);
    z-index: 1;
    border-radius: var(--a-border-radius-medium);
    background-color: var(--a-orange-100);
}
