.disabled {
    pointer-events: none;
    filter: grayscale(100%) blur(3px);
}

.disabledMsg {
    position: absolute;
    max-width: 300px;
    margin: var(--ax-space-16);
    padding: var(--ax-space-16);
    z-index: 1;
    border-radius: var(--ax-radius-4);
    background-color: var(--ax-warning-200);
}
