@use 'common' as common;

.skjemadetaljer {
    ul {
        list-style: disc;
        margin-bottom: var(--ax-space-28);
    }

    li {
        margin-bottom: var(--ax-space-4);

        &:last-child {
            margin-bottom: 0;
        }
        & > * {
            margin: 0;
        }
    }

    h3 {
        margin-bottom: var(--ax-space-6);
    }

    // pull lists upward to text above if any.
    :global(.navds-body-long + ul),
    :global(.navds-body-long + ol) {
        margin-top: calc(-1 * var(--ax-space-16));
    }
}

.variation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--ax-space-8);
    margin-bottom: var(--ax-space-16);

    @media #{common.$mq-screen-mobile-small} {
        flex-direction: column;
    }
}

.ingress {
    & > :last-child {
        margin-bottom: 0;
    }
    &:not(:last-child) {
        margin-bottom: var(--ax-space-16);
    }
}

.formNumbers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--ax-space-8);
    margin-top: var(--ax-space-16);
}
