@use 'src/common' as common;

$margin: 2rem;

.currentTopicPage {
    display: flex;
    flex-direction: column;

    @media #{common.$mq-screen-mobile} {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.contentAligner {
    display: flex;
    width: 100%;
    max-width: 63.5rem;
}

.contentWrapper {
    display: flex;
    justify-content: center;
    @include common.full-width-mixin;
}

.content {
    display: flex;
    width: 100%;
    max-width: 37.5rem;

    & > * {
        width: 100%;
    }
}

.region__pageContent {
    display: flex;
    flex-direction: column;

    & > :not(.layout__situation-flex-cols) {
        margin-bottom: $margin;
    }

    & > :not(.layout__situation-flex-cols) {
        max-width: common.$sectionMaxWidth;
    }

    // Prevent margins between adjacent situation-flex-cols layouts
    .layout__situation-flex-cols + .layout__situation-flex-cols {
        margin-top: -($margin * 2);
    }
}
