@import (reference) '../../../global';
@import (reference) '~nav-frontend-typografi-style/src/index';

.page-nav-link {
    @padding: 1rem;

    display: flex;
    padding: 1rem;
    color: @navBla;

    &:hover {
        text-decoration: none;
        background-color: @navGra20;

        .page-nav-link__decor {
            background-color: @navBla;
        }
    }

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 3px @fokusFarge inset;
    }

    &--up {
        .page-nav-link__decor {
            transform-origin: top;
        }

        &.page-nav-link__current {
            .page-nav-link__decor {
                transform-origin: bottom;
            }
        }
    }

    &--down {
        .page-nav-link__decor {
            transform-origin: bottom;
        }

        &.page-nav-link__current {
            .page-nav-link__decor {
                transform-origin: top;
            }
        }
    }

    &__current {
        color: black;
        text-decoration: none;

        .page-nav-link__decor {
            transform: scaleY(1);
        }
    }

    &__decor {
        @width: 0.5rem;
        width: @width;
        margin: -@padding calc(@padding - @width) -@padding -@padding;
        background-color: @navBla;

        transform: scaleY(0);

        transition-property: transform;
        transition-duration: 0.12s;
        transition-timing-function: linear;
    }

    &__text {
        .typo-element;
    }
}
