@import (reference) '../../../global';

.inpage-navigation-menu {
    &__wrapper {
        background-color: #ffffff;
    }

    &__menu-item {
        box-shadow: 0 0 0;
        text-decoration: none;

        &:hover {
            background-color: inherit;
            text-decoration: underline;
        }
    }

    .navds-accordion-anchor-menu__title {
        margin-left: 2rem;
    }

    .navds-accordion-menu-item {
        padding: 0.5rem 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .navds-accordion-menu-item--active {
        color: @navBla;
    }
}
