@use 'common' as common;

.pageNavigationMenu {
    margin: var(--a-spacing-6) 0;
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
    background-color: var(--a-orange-50);
}

.chapterNavigation {
    border-top: 5px solid rgb(153, 24, 94); // Finnes pr nå ikke i Aksel.
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list {
    @include common.unstyled-list();
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.link {
    display: inline-flex;
    align-items: center;
    gap: 0.375rem;
    text-underline-offset: 2.5px;
    text-decoration-line: none;
    text-decoration-thickness: 2px;

    &:hover {
        text-decoration-line: underline;
    }
}
