@use 'src/common' as common;

.pageNavCollapsable {
    display: flex;
    color: common.$a-text-action;
    width: calc(100% - 0.5rem);
    justify-content: flex-start;
    padding-right: 0;
    cursor: pointer;

    &:has(:active) {
        background-color: common.$a-blue-100;
    }

    &:has(:focus) {
        outline: 0;
        box-shadow: 0 0 0 3px common.$a-border-focus inset;
    }
}

.toggleCollapse {
    border-radius: 0;
    justify-content: flex-start;
    padding: 0;
    width: calc(100% - 1rem);

    &:active {
        color: common.$a-text-action;
        background-color: common.$a-blue-100 !important;
    }

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0;
    }

    :global(.navds-button__icon) {
        margin-left: auto;
    }
}

.list {
    position: relative;
    display: none;
    list-style: none;
    padding: 0 0 0 0.5rem;
    flex-direction: column;

    &.open {
        display: flex;
    }
}
