@import (reference) '../../../global';
@import (reference) '~nav-frontend-typografi-style/src/index';

.page-nav-link {
    @padding: 1rem;
    display: flex;
    color: @navBla;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &__text {
        .typo-element;
    }
}
