@use 'src/common' as common;

.pageNavLink {
    display: flex;
    color: common.$a-text-action;
    text-decoration-line: none;
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.1em;

    &:hover {
        text-decoration-line: underline;
    }
}

.linkText {
    font-weight: var(--a-font-weight-bold);
}

.subLink {
    padding-left: 1rem;

    .linkText {
        font-weight: var(--a-font-weight-regular);
    }
}
