.toggleCollapse {
    border-radius: 0;
    justify-content: flex-start;
    margin: 0 0.5rem;
    padding: 0.75rem 1rem 0.75rem 0.5rem;
    width: calc(100% - 1rem);
}

.list {
    position: relative;
    display: none;
    list-style: none;
    padding: 0 0 0 0.5rem;
    flex-direction: column;
    background-color: var(--a-surface-selected);

    &::before {
        background-color: var(--a-surface-action-subtle-hover);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 0.25rem;
    }

    &.open {
        display: flex;
    }
}
