.page-nav-menu {
    background-color: white;
    padding: 1rem 0;

    &__title {
        padding: 1rem;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
