@use 'src/common' as common;

.pageNavLink {
    display: flex;
    color: common.$a-text-action;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.linkText {
    font-weight: common.$a-font-weight-bold;
}
