{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "endOfLine": "auto",
    "printWidth": 100,
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "parser": "yaml"
            }
        }
    ]
}
