@import (reference) '../../../global';

.main-article {
  padding: 1.5rem;
  background: #fff;

  &__text, &__facts {
    p {
      margin-bottom: 0.875rem;
    }
  }

  &__facts {
    img {
      width: 1.25rem;
      height: 1.25rem;
      display: flex;
      margin: 0 auto;
    }
    h3 {
      text-align: center;

    }
    .decorated {
      margin-bottom: 1.25rem;

      &:after {
        border-top: 1px solid #808080;
        content: ' ';
        display: block;
        margin: 1.25rem auto 0;
        width: 2rem;
      }

    }
    background: #f1f1f1;
    border: 1px solid #d1d1d1;
    padding: 1.5rem;
    margin-top: 3.75rem;
  }

  &__header {
    margin-bottom:  1.5rem;
  }

  &__preface {
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
  }
}



.figure-container {
  text-align: center;
  figure {
    width: 100%;
    margin-top: 60px;
    display: inline-block;

    img {
      max-width: 100%;
      height: auto;
    }

    &.figure-small img {
      max-width: 40%;
    }

    &.figure-full img {
      max-width: 100%;
    }

    &.figure-medium img {
      max-width: 70%;
    }

    figcaption {
      padding-top: 6px;
      margin-bottom: 0;
      color: #555;
      font-size: 0.75rem;
    }
  }

}


.table-of-contents{
  margin-top: 2rem;
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #d1d1d1;
  }
  li {
    font-size: 1.1rem;
    border-bottom: 1px solid #d1d1d1;
  }

  a {
    color: #3e3832;
    font-weight: 600;
    display: block;
    padding: 6px 0;
    position: relative;
    text-decoration: none;


    &:hover,
    &:active {
      color: #0067c5;
    }

    &focus {
      outline: none;
      color: white;
      background-color: #254b6d;
      box-shadow: 0 0 0 2px #254b6d;
    }
    &:hover:before,
    &:focus:before,
    &:active:before {
      border: 3px solid #0067c5;
      border-radius: 50%;
      display: inline-block;
      content: ' ';
      position: absolute;
      left: -11px;
      top: 14px;
    }
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
