@use 'common' as common;

.list {
    @include common.unstyled-list();
    margin-top: var(--ax-space-32);
}

.item {
    padding: var(--ax-space-24) 0;
    border-top: 1px solid var(--ax-border-neutral-subtle);

    &:last-child {
        border-bottom: 1px solid var(--ax-border-neutral-subtle);
    }
}
