@import (reference) '../../../../../global';

.version-selector {
    position: relative;
    top: 0.5rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    perspective: 500px;
    perspective-origin: top;

    &__inner {
        position: absolute;
        visibility: hidden;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: center;

        transform: rotateX(-90deg);
        transform-origin: top;

        transition-property: visibility, transform;
        transition-duration: 0.25s;
        transition-timing-function: ease-out;

        background-color: white;
        border-radius: @border-radius-base;
        box-shadow: 0 0 0 2px @navGronnLighten60 inset;
        padding: 1rem 2rem;

        &--open {
            visibility: visible;
            transform: rotateX(0);
        }
    }

    &__input {
        display: flex;
    }

    &__input-left {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        width: 50%;
    }

    &__time {
        margin: 0.5rem 0;
    }

    &__date {
    }

    &__input-right {
        align-self: flex-end;
        width: 50%;
    }

    &__button {
        margin-top: 0.5rem;
        width: 100%;
    }

    &__help-text {
        //width: 100%;
    }
}
