@use 'common' as common;

.left {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    width: 50%;

    .time {
        margin: var(--a-spacing-2) 0;
    }
    .date,
    .time {
        min-height: common.$versionSelectorMinHeight;
        padding: var(--a-spacing-2);
    }
}

.right {
    align-self: flex-end;
    width: 50%;

    :global(.version-selector-submit) {
        margin-top: var(--a-spacing-2);
        width: 100%;
        min-height: common.$versionSelectorMinHeight;
    }
}
