@import (reference) '../../../global.less';

.search-facet {
    @option-spacing: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: @option-spacing;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        .skjemaelement__label {
            .typo-element;
        }
    }

    .search-filter-option {
        margin-bottom: @option-spacing;
        &:last-child {
            margin-bottom: -@option-spacing;
        }
    }
}
