@import '../../../global';

.link-lists {
    @numCols: 3;
    @margin: 1.5rem;
    @margin-between: 1.5rem;

    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem 2rem 2rem;
    border-radius: @border-radius-base;
    box-shadow: 0 0 0 2px @navGra40;
    background-color: white;
    margin-top: 1rem;

    @media @screen-mobile {
        flex-wrap: wrap;
    }

    &__column {
        margin-top: 2rem;
        @media @screen-mobile {
            width: 100%;
        }
        @media @screen-desktop {
            width: calc(
                100% / @numCols - ((@numCols - 1) * @margin-between) / @numCols
            );
        }
    }

    &__flere-nyheter {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}
