.lenkeliste {
    &__tittel {
        margin-left: 1.75rem;
        margin-bottom: 0.5rem;
    }

    &__lenker {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__lenke {
        padding: 0.5rem 0;
    }
}
