.chat {
    position: relative;
    background-color: var(--ax-bg-default);
    border-radius: var(--ax-space-24) var(--ax-space-24) var(--ax-space-24) 0;
    margin-bottom: var(--ax-space-24);

    &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: var(--ax-space-24);
        height: var(--ax-space-24);
        background-color: var(--ax-bg-default);
        clip-path: polygon(0 0, 0 100%, 100% 0);
        display: block;
    }
    :global(.aksel-body-long):last-of-type {
        margin-bottom: 0;
    }
}
