@use 'sass:math';
@use 'common' as common;

.legacyChat {
    $width: math.div(common.$desktopMaxWidth, 2);

    display: flex;
    justify-content: center;
    margin: 2rem 0 var(--a-spacing-4) 0;

    & > div {
        width: $width;
        max-width: 100%;
        background-color: var(--a-white);
        &::after {
            border-top-color: var(--a-white);
        }
    }
}
