.versionHistory {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--ax-space-16);

    :global(.chevron) {
        margin-left: var(--ax-space-8);
    }

    .spinnerContainer {
        margin-top: var(--ax-space-16);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
