@import (reference) '../../../global';

.page__page-with-side-menus {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .content {
        display: flex;

        @media @screen-mobile {
            flex-direction: column;
        }
    }
}
