@use 'common' as common;

$sectionMaxWidth: common.px-to-rem(600);
$sideMenusMaxWidth: common.px-to-rem(288);

$sectionGutterLarge: 1.5rem;
$sectionGutterSmall: 0.75rem;
$verticalMargin: 1.75rem;

.pageWithSideMenus {
    max-width: common.px-to-rem(1080);
    margin: 0 auto;

    .topRow {
        display: flex;
        flex-direction: column;

        @media #{common.$mq-screen-tablet-and-desktop} {
            flex-direction: row;
            margin-top: 3rem;
        }
    }

    .leftCol,
    .rightCol {
        width: 100%;
        max-width: $sectionMaxWidth;

        @media #{common.$mq-screen-tablet-and-desktop} {
            width: $sideMenusMaxWidth;
            max-width: $sideMenusMaxWidth;
        }
    }

    .leftCol {
        @media #{common.$mq-screen-tablet-and-desktop} {
            margin-right: $sectionGutterSmall;

            :global(.region__topPageContent) {
                display: none;
            }
        }

        @media #{common.$mq-screen-desktop} {
            margin-right: $sectionGutterLarge;
        }
    }

    .mainCol {
        max-width: 100%;

        :global(.region__topPageContent) {
            display: none;

            @media #{common.$mq-screen-tablet-and-desktop} {
                display: flex;
            }
        }
    }

    .rightCol {
        @media #{common.$mq-screen-tablet-and-desktop} {
            margin-left: $sectionGutterSmall;
        }

        @media #{common.$mq-screen-desktop-large} {
            margin-left: $sectionGutterLarge;
        }
    }

    :global(.region__intro) {
        margin-bottom: $verticalMargin;
    }

    :global(.region__pageContent),
    :global(.region__topPageContent) {
        display: flex;
        flex-direction: column;
        margin-top: $verticalMargin;

        & > * {
            width: 100%;
            max-width: $sectionMaxWidth;
            margin-bottom: $verticalMargin;
        }

        @media #{common.$mq-screen-tablet-and-desktop} {
            margin-top: 0;

            // Ensure the first section is aligned with the menu if it has an icon
            &:first-child {
                :global(.layout__section-with-header--with-icon):first-child {
                    margin-top: 0;
                }
            }
        }
    }

    :global(.region__pageContent) {
        & > :last-child {
            margin-bottom: 0;
        }
    }

    :global(.region__bottomRow) {
        max-width: 57rem;
        margin-left: $sectionGutterSmall;
        margin-right: $sectionGutterSmall;

        @media #{common.$mq-screen-desktop} {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
