@import (reference) '../../../global';

.page {
    &__page-with-side-menus {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }
}

.region {
    &__leftMenu,
    &__rightMenu {
        width: 15rem;
        top: calc(@decorator-height + 1rem);

        & > * {
            padding: 1rem;
            background-color: white;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }

    &__pageContent {
        max-width: 42rem;
        width: 100%;
        padding: 0 @padding-sides-mobile;

        & > .layout {
            margin-top: 1rem;

            &:first-child {
                margin-top: 0;
            }
        }

        @media @screen-desktop {
            padding: 0 @padding-sides-desktop;
        }
    }

    &__leftMenu {
        margin-right: 1.25rem;
    }

    &__rightMenu {
        margin-left: 1.25rem;
    }
}
