@import (reference) '../../../global';

.region__rightMenu {
    @menuTopOffsetDesktop: 16px;

    width: 15rem;
    min-width: 10rem;
    margin-left: 1.25rem;

    &--sticky {
        position: sticky;
        top: calc(var(--sticky-offset) + @menuTopOffsetDesktop);

        @media @screen-mobile {
            position: static;
            top: auto;
        }
    }

    & > * {
        padding: 1rem;
        background-color: white;
        border-radius: @border-radius-base;

        &:not(:first-child) {
            margin-top: 1rem;
        }

        @media @screen-mobile {
            background-color: transparent;

            &:first-child {
                margin-top: 0;
                padding-top: 0;
            }
        }
    }
}
