.button {
    white-space: break-spaces;
    color: var(--default-action-color);
    box-shadow: inset 0 0 0 2px var(--default-action-color);

    &__icon {
        height: 1.5rem;
    }
    :global(.navds-label) {
        text-align: center;
    }
}

.buttonFullWidth {
    width: 100%;
}

.lenkestyling {
    color: var(--default-action-color);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.1em;
    text-decoration-line: underline;
    margin-bottom: 0;
    box-shadow: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;

    &:hover,
    &:focus {
        text-decoration-line: none;
    }

    &:hover,
    &:active {
        box-shadow: none;
        background-color: transparent;
    }

    &:active {
        box-shadow: none;
        background-color: transparent;
        text-decoration-line: none;
        text-decoration-color: var(--default-action-color);
        color: var(--default-action-color);
    }

    :global(.navds-heading) {
        color: var(--default-action-color);
    }
}
