.relatedSituations {
    margin-top: var(--ax-space-32);

    &.no-margin {
        margin-top: 0;
    }
    .description {
        margin-bottom: var(--ax-space-16);
    }

    .situationsList {
        padding: 0;
        margin: 0;
        list-style: none;

        li:not(:last-of-type) {
            padding-bottom: var(--ax-space-16);
        }
    }

    .card {
        margin-bottom: 0;
    }
}
