@use 'common' as common;

.filtreringsmeny {
    box-shadow: var(--ax-accent-300) inset 0 0 0 8px;
    border-radius: var(--ax-radius-4);
    background-color: var(--a-white);

    @include common.section-padding-mixin();

    :global(.ekspanderbartPanel) {
        border-bottom: 0;

        :global(.ekspanderbartPanel__innhold) {
            padding-left: 0;
        }
    }

    .category:global(.aksel-fieldset) {
        margin-top: 1.5em;

        :global(.aksel-fieldset__legend) {
            font-size: var(--ax-font-size-large);
        }
        :global(.aksel-checkboxes) {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }
    }

    .introduction {
        margin: 1.5em 0;
    }
}
