@import (reference) '../../../global';

.page-list {
    width: 100%;
    background: white;
    border-radius: 0.25rem;

    @media @screen-mobile {
        padding: 1.5rem;
    }
    @media @screen-tablet {
        padding: 1.5rem;
    }
    @media @screen-desktop {
        padding: 2.5rem;
    }

    &__ingress {
        margin-top: 0.5rem;
    }
    &__list {
        margin-top: 2rem;
    }
    &__row {
        border-top: 1px solid #d1d1d1;
        padding: 2rem 0;
    }
    &__date {
        margin-top: 0.5rem;
    }
}
