@use '../../../common' as common;

.pagination {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.paginationButton {
    background-color: transparent;
    border: 0;
    color: common.$navds-global-color-blue-500;
    padding: 0;
    padding: 0.4rem;
}

.activeButton {
    background-color: common.$navds-global-color-blue-500;
    color: white;
}

.paginationList {
    display: flex;
    list-style: none;
    padding: 0;

    li {
        display: flex;
    }
}
