@import (reference) '../../../../../../global';
@import (reference) '~nav-frontend-typografi-style/src/index';

.gv-item {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    &__name {
        .typo-element;
    }

    &__value {
        margin-left: 0.25rem;
    }

    &__key-editor {
        display: flex;

        .knapp {
            margin-left: 0.25rem;
        }
    }

    &__right-buttons {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        & > :not(:last-child) {
            margin-bottom: #round-rem(0.25rem) [];
        }
    }
}
