@import (reference) '../../../../../../common';

.gv-item {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    &__value {
        margin-left: 0.25rem;
    }

    &__key-editor {
        display: flex;

        .knapp {
            margin-left: 0.25rem;
        }
    }

    &__right-buttons {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        a {
            width: 100%;
        }

        & > :not(:last-child) {
            margin-bottom: #round-rem(0.25rem) [];
        }
    }
}
