.version-selector-published {
    @selectorHeight: 3rem;

    display: flex;
    align-items: flex-end;

    &__select {
        min-height: @selectorHeight;
    }

    &__button {
        margin-left: 0.5rem;

        &.knapp {
            min-height: @selectorHeight;
        }
    }
}
