@import (reference) '../../../global';

.region {
    &__first {
        flex: 2;

        @media @screen-desktop {
            &:not(:only-child) {
                padding-right: 2rem;
            }
        }
    }

    &__second {
        flex: 1;

        @media @screen-mobile {
            margin-top: 2rem;
        }
    }
}

.layout {
    &__main {
        display: flex;
        flex-direction: row;
        align-items: stretch;

        max-width: 56.5rem;
        width: 100%;
        margin: 1rem auto;

        @media @screen-mobile {
            flex-direction: column;
        }
    }

    &__dynamic-2-col {
        & > * {
            flex: 50;
        }
    }

    &__dynamic-3-col {
        & > * {
            flex: 33.3;
        }
    }

    &__dynamic-4-col {
        & > * {
            flex: 25;
        }
    }

    &__dynamic-2-col,
    &__dynamic-3-col,
    &__dynamic-4-col {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;

        @media @screen-mobile {
            flex-direction: column;
        }

        .part,
        .region {
            display: flex;
            align-items: stretch;
            width: 100%;
        }

        & > * {
            @media @screen-tablet {
                padding: 0 0.5rem;
            }
            @media @screen-desktop {
                padding: 0 1rem;
            }
        }
        & > :first-child {
            @media @screen-tablet {
                padding-right: 0.5rem;
            }
            @media @screen-desktop {
                padding-right: 1rem;
            }
        }
        & > :last-child {
            @media @screen-tablet {
                padding-left: 0.5rem;
            }
            @media @screen-desktop {
                padding-left: 1rem;
            }
        }
    }
}
