@import (reference) '../../../global';

.layout {
    &__dynamic-1-col,
    &__dynamic-2-col,
    &__dynamic-3-col,
    &__dynamic-4-col {
        display: flex;
        justify-content: center;
        align-items: stretch;

        @media @screen-mobile {
            flex-direction: column;
        }
    }
}

.region {
    &__dynamic-1,
    &__dynamic-2,
    &__dynamic-3,
    &__dynamic-4 {
        display: flex;
        flex-direction: column;
        width: 100%;

        & > * {
            display: flex;
            align-items: stretch;
            height: 100%;
        }

        &:not(:last-child) {
            @media @screen-tablet {
                margin-right: 1rem;
            }
            @media @screen-desktop {
                margin-right: 1rem;
            }
        }

        // Fix for XP region preview
        .xp-page-editor-item-placeholder,
        .ui-sortable-placeholder {
            width: 100%;
        }
    }
}
