@use 'common' as common;

.layout {
    &__dynamic-1-col,
    &__dynamic-2-col,
    &__dynamic-3-col {
        display: flex;
        justify-content: center;
        align-items: stretch;

        @media #{common.$mq-screen-mobile} {
            flex-direction: column;
        }
    }
}

.region {
    &__dynamic-1,
    &__dynamic-2,
    &__dynamic-3 {
        display: flex;
        flex-direction: column;
        width: 100%;

        & > * {
            display: flex;
            flex-grow: 1;

            &:not(:first-child) {
                margin-top: 1rem;
            }
        }

        &:not(:first-child) {
            margin-left: 2.2rem;

            @media #{common.$mq-screen-tablet} {
                margin-left: 1rem;
            }

            @media #{common.$mq-screen-mobile} {
                margin-left: 0;
                margin-top: 1rem;
            }
        }

        // Fix for XP region preview
        .xp-page-editor-item-placeholder,
        .live-edit-drag-placeholder-container {
            width: 100%;
        }
    }
}
