@use 'common' as common;

.phonePoster {
    background-color: var(--a-gray-50);
    border-radius: var(--a-border-radius-small);
    padding: common.$sectionPaddingMobile;
    margin-top: var(--a-spacing-4);

    @media #{common.$mq-screen-tablet} {
        padding: common.$sectionPaddingTablet;
    }

    @media #{common.$mq-screen-desktop} {
        padding: common.$sectionPaddingDesktop;
    }
}

.heading {
    font-weight: normal;
    margin-bottom: var(--a-spacing-2);
}

.phoneNumberWrapper {
    margin-bottom: var(--a-spacing-4);
}

.phoneNumber {
    align-items: center;
    color: rgb(0, 0, 0);
    display: flex;
    font-size: var(--a-spacing-6);
    font-weight: var(--a-font-weight-bold);
    padding-right: var(--a-spacing-4);
    text-decoration: none;

    &:focus {
        background-color: transparent;
        color: rgb(0, 0, 0);
    }
}

.telephoneIcon {
    background-color: var(--a-white);
    border-radius: var(--a-spacing-8);
    height: var(--a-spacing-10);
    width: var(--a-spacing-10);
    margin-right: var(--a-spacing-1);
    padding: var(--a-spacing-2);
    transform: translateY(-1px) translateX(-6px);
}
