@use 'common' as common;

.phonePoster {
    background-color: var(--ax-neutral-100);
    border-radius: var(--ax-radius-2);
    padding: common.$sectionPaddingMobile;

    @media #{common.$mq-screen-tablet} {
        padding: common.$sectionPaddingTablet;
    }

    @media #{common.$mq-screen-desktop} {
        padding: common.$sectionPaddingDesktop;
    }
}

.heading {
    font-weight: normal;
    margin-bottom: var(--ax-space-8);
}

.phoneNumberWrapper {
    margin-bottom: var(--ax-space-16);
}

.phoneNumber {
    align-items: center;
    color: rgb(0, 0, 0);
    display: flex;
    font-size: var(--ax-font-size-heading-medium);
    font-weight: var(--ax-font-weight-bold);
    padding-right: var(--ax-space-16);
    text-decoration: none;

    &:focus {
        background-color: transparent;
        color: rgb(0, 0, 0);
    }
}

.telephoneIcon {
    background-color: white;
    border-radius: var(--ax-space-32);
    height: var(--ax-space-40);
    width: var(--ax-space-40);
    margin-right: var(--ax-space-4);
    padding: var(--ax-space-8);
    transform: translateY(-1px) translateX(-6px);
}
