.versionStatus {
    display: flex;
    padding: var(--ax-space-16) var(--ax-space-48);
    margin-bottom: var(--ax-space-16);
    background-color: var(--a-white);
    border-radius: var(--ax-radius-4);
    box-shadow: 0 0 0 2px var(--ax-warning-600) inset;
}
