@use 'common' as common;

.personShortcuts {
    @include common.full-width-mixin();
    padding-top: var(--a-spacing-9);
    padding-bottom: var(--a-spacing-9);
    background-color: var(--a-red-50);

    @media #{common.$mq-screen-mobile} {
        padding-top: var(--a-spacing-8);
        padding-bottom: var(--a-spacing-2);
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        padding: 0;
        column-gap: var(--a-spacing-6);

        @media #{common.$mq-screen-mobile} {
            grid-template-columns: auto;
        }

        .listItem {
            width: 100%;
            display: flex;
            padding: var(--a-spacing-3) 0;
            border-top: 1px solid var(--a-border-subtle, #cbcfd5);

            &:nth-child(1),
            &:nth-child(2) {
                border-top: none;
            }

            @media #{common.$mq-screen-mobile} {
                &:nth-child(2) {
                    border-top: 1px solid var(--a-border-subtle, #cbcfd5);
                }
            }

            .lenkepanel {
                display: flex;
                text-decoration-thickness: 0.05em;
                text-decoration-color: var(--a-text-default);
                text-underline-offset: 0.1em;
                align-items: center;
                padding: 0;
                gap: var(--a-spacing-2);
                width: 100%;

                &:hover {
                    text-decoration-line: none;
                }

                &:focus {
                    @include common.panel-focus-mixin();
                }

                .text {
                    color: var(--a-text-default);
                    font-feature-settings:
                        'liga' off,
                        'clig' off;
                    font-size: var(--a-font-size-heading-medium);
                    font-style: normal;
                    font-weight: 400;

                    @media #{common.$mq-screen-mobile-small} {
                        font-size: var(--a-font-size-xlarge);
                        letter-spacing: -0.02px;
                    }
                }
                .icon {
                    display: flex;
                    flex-shrink: 0;
                    width: var(--a-spacing-8);
                    height: auto;
                    color: var(--a-icon-subtle);

                    margin: 4px;

                    & > * {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
