@use 'src/common' as common;

.usage {
    padding: 1rem 2rem;
    background-color: white;
    margin-bottom: 2rem;
    border: 2px solid common.$a-green-200;
    border-radius: common.$border-radius-large;

    .header {
        display: flex;
        align-items: center;
    }

    .button {
        margin-left: 1rem;
    }

    .usageHeader {
        margin-top: 1rem;
    }
}
