@use 'common' as common;

.illustration {
    width: var(--a-spacing-16);
    height: var(--a-spacing-16);

    :global(.back) {
        @include common.brand-purple-filter-back();
    }
    :global(.front) {
        @include common.brand-purple-filter-front();
    }
}

.tagline {
    letter-spacing: 0.4px;
    font-variant-caps: all-small-caps;
}
