@import (reference) '../../../../global';

.button-part {
    text-transform: none;

    img {
        height: #round-rem(1.5rem) [];
        margin-right: #round-rem(0.5rem) [];
    }

    &__fullwidth {
        width: 100%;
    }
}
