@import (reference) '../../../global';
@import (reference) '../shared-mixins.less';

@productPageColor: @navGronnLighten60;

.product-page {
    display: flex;
    flex-direction: column;

    .icon-container {
        background-color: @productPageColor;
        img {
            width: 50%;
            height: 50%;
        }
    }

    &__content {
        align-self: center;
        width: #px-to-rem(1080) [];
        max-width: 100%;

        // Break out of the global app padding for better screen-width usage
        // on narrower screens
        @media @mq-screen-tablet-and-desktop {
            margin-left: -@padding-sides-tablet;
            margin-right: -@padding-sides-tablet;
        }

        @media @mq-screen-desktop {
            margin-left: -@padding-sides-desktop;
            margin-right: -@padding-sides-desktop;
        }
    }

    .product-mixins();
}
