@import (reference) '../../../global';

@productColor: @navBlaLighten40;
@situationColor: @navOransjeLighten20;

@productColorLight: @navBlaLighten80;
@situationColorLight: @navOransjeLighten60;

.product-page {
    display: flex;
    flex-direction: column;

    &--product {
        .icon-container {
            background-color: @productColorLight;
        }
    }

    &--situation {
        .icon-container {
            background-color: @situationColorLight;
        }

        .region__pageContent {
            & > * {
                margin-top: 2rem;
            }
        }
    }

    &__content {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-start;
        align-self: center;
        width: 100%;
        max-width: 52rem;

        & > * {
            width: 100%;
        }

        .layout__section-with-header {
            max-width: 38rem;
        }
    }
}
