@use 'common' as common;

.officePageHeader {
    align-items: center;
    background-color: var(--a-white);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: var(--a-spacing-8);
    padding-bottom: var(--a-spacing-4);

    @include common.full-width-mixin();
}

.heading {
    text-align: left;
    margin-bottom: var(--a-spacing-2);
}

.content {
    background-color: var(--a-white);
    max-width: 56.25rem;
    text-align: center;
    width: 100%;
}

.taglineWrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;

    @media #{common.$mq-screen-mobile} {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

.taglineLabel {
    color: var(--a-gray-800);
    text-align: left;
    white-space: nowrap;
    display: flex;
    text-transform: uppercase;
}

.branchNamesLabel {
    color: var(--a-gray-800);
    text-align: left;
    display: flex;
    @media #{common.$mq-screen-mobile} {
        margin-bottom: var(--a-spacing-2);
    }

    &::before {
        content: '';
        border-left: 1px solid black;
        display: flex;
        padding: 0 var(--a-spacing-3) 0 0;
        margin-left: var(--a-spacing-3);

        @media #{common.$mq-screen-mobile} {
            display: none;
        }
    }
}
