@use 'src/common' as common;

.editorWidgets {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;

    @include common.full-width-mixin();

    &.whiteBackground {
        background-color: var(--a-bg-default);
    }

    &:empty {
        display: none;
    }
}
