.fallbackChevron {
    position: relative;
    display: flex;
    width: 64px;
    height: 64px;
    margin-right: 1rem;

    .front,
    .back {
        width: 64px;
        height: 64px;
        position: absolute;
        display: block;

        svg {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
