.illustration {
    &__image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        background-size: contain;
        width: 100%;
        height: 100%;

        &--icon1 {
            transform: translateX(-40%) translateY(30%);
        }
        &--icon2 {
            align-self: center;
            justify-self: center;
        }

        &--icon3 {
            transform: translateX(40%) translateY(-30%);
        }
    }
}
