@import (reference) '~nav-frontend-typografi-style/src/index';
@import (reference) '~nav-frontend-core/less/_variabler';

.large-table-page {
    .typo-normal;
    margin-top: -2rem;

    .tilbake-lenke {
        margin-bottom: 2rem;
        margin-top: 1rem;
        .navno-lenke__lenketekst {
            align-items: center;
        }

        @media print {
            display: none;
        }
    }

    h1 {
        .typo-systemtittel;
        margin-bottom: 1rem;
        &:not(:first-child) {
            margin-top: 2rem;
        }
    }

    table {
        border-collapse: collapse;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    td {
        padding: 0.125rem 0.375rem;
    }

    th {
        .typo-element;
        font-size: 110%;
        padding: 0.5rem 0.25rem;
        text-align: left;
    }

    thead {
        tr {
            border-bottom: 1px @navGra20 solid;
        }
    }

    tbody {
        tr:first-child {
            .typo-element;
            td {
                padding-top: 0.5rem;
            }
        }

        tr:nth-of-type(even) {
            background-color: @navBlaLighten80;
        }

        td {
            white-space: nowrap;
        }
    }

    .spacer-row {
        height: 0.5rem;
        background-color: transparent;
        & + tr {
            .typo-element;
        }
    }

    .statPage {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 1rem;
    }

    .statTab {
    }

    .statGroupHead,
    .statGroupRest {
        .typo-element;
    }

    .statHead {
        padding-right: 0.5rem;
        &:not(th) {
            .typo-element;
        }
    }

    .statRest {
        text-align: right;
    }

    .statFoot {
        margin-top: 0.5rem;
    }

    .statSideskift {
    }
}
