@use 'common' as common;

.wrapper {
    background-color: var(--a-white);

    @include common.full-width-mixin();

    @media #{common.$mq-screen-mobile} {
        padding-bottom: var(--a-spacing-6);
    }
}

.person {
    padding-top: var(--a-spacing-7);
    padding-bottom: var(--a-spacing-11);

    @media #{common.$mq-screen-mobile} {
        padding-top: var(--a-spacing-5);
    }
}

.employer {
    padding-top: 3.5rem;
    padding-bottom: 4.25rem;

    @media #{common.$mq-screen-mobile} {
        padding-top: var(--a-spacing-8);
        padding-bottom: var(--a-spacing-9);
    }
}
.provider {
    padding-top: var(--a-spacing-10);
    padding-bottom: 4.5rem;

    @media #{common.$mq-screen-mobile} {
        padding-top: var(--a-spacing-9);
        padding-bottom: 3.25rem;
    }
}

.header {
    margin-bottom: var(--a-spacing-6);
}

.cards {
    @include common.unstyled-list();

    &.twocols {
        @include common.grid-layout-mixin(2);
    }
    &.threecols {
        @include common.grid-layout-mixin(3);
    }
}
