@use 'common' as common;

.wrapper {
    background-color: white;

    @include common.full-width-mixin();

    @media #{common.$mq-screen-mobile} {
        padding-bottom: var(--ax-space-24);
    }
}

.person {
    padding-top: var(--ax-space-28);
    padding-bottom: var(--ax-space-44);

    @media #{common.$mq-screen-mobile} {
        padding-top: var(--ax-space-20);
    }
}

.employer {
    padding-top: var(--ax-space-56);
    padding-bottom: var(--ax-space-64);

    @media #{common.$mq-screen-mobile} {
        padding-top: var(--ax-space-32);
        padding-bottom: var(--ax-space-36);
    }
}
.provider {
    padding-top: var(--ax-space-40);
    padding-bottom: var(--ax-space-72);

    @media #{common.$mq-screen-mobile} {
        padding-top: var(--ax-space-36);
        padding-bottom: var(--ax-space-56);
    }
}

.header {
    margin-bottom: var(--ax-space-24);
}

.cards {
    @include common.unstyled-list();

    &.twocols {
        @include common.grid-layout-mixin(2);
    }
    &.threecols {
        @include common.grid-layout-mixin(3);
    }
}
