@use 'src/components/_common/area-card/graphics/AreaCardGraphicsCommon.module'
    as areaGraphics;
@import 'src/components/_common/area-card/AreaCard.module';

.shapes {
    @include transitionMixin;
    position: absolute;
    right: 52px;
    top: 49px;
}

@media (hover) {
    #{areaGraphics.onExpand('.shapes')} {
        right: 190px;
        top: 118px;
    }
}

.letterU {
    @include transitionMixin;
    position: absolute;
    right: -98px;
    top: 0;
}

@media (hover) {
    #{areaGraphics.onExpand('.letterU')} {
        right: 0;
    }
}

.mask {
    background-color: var(--navds-global-color-deepblue-100);

    @include transitionMixin;
    position: absolute;
    width: 145px;
    height: 245px;
    right: -30px;
    top: -45px;
    transform: rotate(22.09deg);
}

@media (hover) {
    #{areaGraphics.onExpand('.mask')} {
        right: -184px;
    }
}

.wallet {
    @include transitionMixin;
    position: absolute;
    width: 75.73px;
    height: 71px;
    right: 56.27px;
    top: 40px;
}

@media (hover) {
    #{areaGraphics.onExpand('.wallet')} {
        right: 98.27px;
        top: 89px;
    }
}
