@import (reference) '../../../global';

.lenkeliste {
    &__tittel {
        margin-bottom: 0.5rem;
    }

    &__lenker {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__lenke {
        @horizontalPadding: 0.5rem;
        @verticalPadding: #px-to-rem(11) [];
        padding: @verticalPadding @horizontalPadding;
        margin: 0 -@horizontalPadding;

        &:focus,
        &:focus-visible,
        &:active {
            .panel-inset-focus-mixin();
            background-color: transparent;
            color: @navBla;
        }
    }
}
