@use 'src/common' as common;

.frontpageNews {
    background-color: var(--navds-global-semantic-canvas-background);
    padding: 2em;
    @include common.full-width-mixin();
}

.header {
    margin-bottom: 2em;
}

.newsList {
    display: flex;
    flex-direction: row;

    @media #{common.$mq-screen-mobile} {
        flex-direction: column;
        .newsItem {
        }
    }
    @media #{common.$mq-screen-tablet} {
        .newsItem {
        }
    }
    @media #{common.$mq-screen-desktop} {
    }
}

.newsItem {
    margin: 0 1em 1.5em 0;
    flex: 1;

    &:last-child {
        margin-right: 0;
    }
}

.moreNews {
    color: var(--navds-semantic-component-background-inverted);
    font-weight: 600;
    padding-right: 0.5rem;
    text-decoration: none;

    svg {
        color: black;
        height: 1.3rem;
        margin-right: 0.2rem;
        width: auto;
    }

    &:hover,
    &:focus {
        background-color: transparent;
        color: var(--navds-global-color-blue-500);

        svg {
            color: var(--navds-global-color-blue-500);
        }
    }
}
