@use 'common' as common;

.officePage {
    display: flex;
    flex-direction: column;
}
.pageContent {
    display: flex;
    flex-direction: column;
}

.content {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
    max-width: common.$sectionMaxWidth;

    & > * {
        width: 100%;
    }
}
