@use 'common' as common;

.officePage {
    display: flex;
    flex-direction: column;
}
.pageContent {
    display: flex;
    flex-direction: column;

    :global {
        .layout__section-with-header {
            max-width: common.$sectionMaxWidth;
            margin-bottom: var(--a-spacing-8);
        }
    }
}

.content {
    margin-top: var(--a-spacing-8);
    display: flex;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
    max-width: common.$contentMaxWidth;

    & > * {
        width: 100%;
    }
}
