@use 'common' as common;

.officePage {
    display: flex;
    flex-direction: column;
}

.pageContent {
    display: flex;
    flex-direction: column;

    :global {
        .layout__section-with-header {
            max-width: common.$sectionMaxWidth;
            margin-bottom: var(--a-spacing-8);
        }

        .icon-container {
            //Hardkoder ikonfargen. Vi vil i utgangspunktet ikke at det skal være noen variasjon i fargen på kontorsidene. Og det var en del jobb å skulle oppdatere alle hjelpemiddelsentral-sidene manuell.
            background-color: var(--a-deepblue-100) !important;
        }
    }
}

.content {
    margin-top: var(--a-spacing-8);
    display: flex;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
    max-width: common.$sectionMaxWidth;
    padding-bottom: var(--a-spacing-8);

    & > * {
        width: 100%;
    }
}
