.moreLink {
    margin-top: var(--a-spacing-4);
    margin-left: var(--a-spacing-6);
    display: inline-block;

    & > * {
        font-weight: bold;
    }

    :global(.chevron) {
        display: none;
    }
}

.arrow {
    transform: translateY(3px);
    margin-left: calc(-1 * var(--a-spacing-6));
    margin-right: var(--a-spacing-3);
}
