@import (reference) '../../../global.less';

.search-input {
    margin-bottom: 1rem;
    display: flex;

    &__input {
        flex-grow: 1;
        margin-right: 0.5rem;

        input {
            .typo-normal;
            font-size: 150%;
        }
    }
}
