@import (reference) '../../../global';

.contactInformationPage {
    display: flex;
    flex-direction: column;

    &__components {
        padding: 2rem;
    }

    &__preview-wrapper {
        width: 33%;
    }
}
