@import (reference) '../../../global';

.contactInformationPage {
    display: flex;
    flex-direction: column;

    &__content {
        background-color: #ffffff;
        padding: 2.5rem;
        width: 37.5rem;
    }
}
