@use 'common' as common;

.officeDetails {
    align-self: center;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: var(--a-spacing-8);
    row-gap: var(--a-spacing-5);
    max-width: common.$sectionMaxWidth;
    width: 100%;
}

.wide {
    background-color: var(--a-white);
    display: flex;
    justify-content: center;
    @include common.full-width-mixin();
}

.addressPoster {
    background-color: var(--a-orange-50);
}

.kontaktskjema {
    background-color: var(--a-deepblue-50);

    padding: common.$sectionPaddingMobile;

    @media #{common.$mq-screen-tablet} {
        padding: common.$sectionPaddingTablet;
    }

    @media #{common.$mq-screen-desktop} {
        padding: common.$sectionPaddingDesktop;
    }
}
