@use 'common' as common;

.officeDetails {
    display: flex;
    flex-direction: column;
    margin-top: var(--ax-space-32);
    row-gap: var(--ax-space-20);
    max-width: common.$sectionMaxWidth;
    width: 100%;
}

.wide {
    background-color: var(--ax-bg-default);
    display: flex;
    justify-content: center;
    @include common.full-width-mixin();
}

.addressPoster {
    background-color: var(--ax-warning-100);
}
