.gvItem {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: var(--a-spacing-2);
    }

    .value {
        margin-left: var(--a-spacing-1);
    }

    .rightButtons {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        a {
            width: 100%;
        }

        & > :not(:last-child) {
            margin-bottom: var(--a-spacing-1);
        }
    }
}
