.linkPanel {
    background-color: var(--a-lightblue-50);
    border-radius: 0.5rem;
    border-style: none;
    margin-top: 2rem;
    padding: 1.5rem;

    :global(.navds-link-panel__content) {
        display: flex;
        flex-direction: row;
    }

    :global(.navds-link-panel__chevron) {
        display: none;
    }
}

.informationIcon {
    height: 2.25rem;
    width: 2.25rem;
    margin-right: 1rem;
}

.noIngress {
    display: flex;
    align-items: center;
}
