@use 'common' as common;

.header {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    width: 100%;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &.anchorButtonEnabled:hover {
        .anchorHotspot {
            display: inline-flex;
        }
    }
}

.anchorHotspot {
    position: absolute;
    display: none;
    cursor: pointer;
}

.anchorButton {
    align-items: center;
    background-color: var(--a-surface-action-subtle);
    border-radius: var(--a-spacing-6);
    color: inherit;
    display: flex;
    height: var(--a-spacing-9);
    justify-content: center;
    margin: var(--a-spacing-05) 0 0 var(--a-spacing-2);
    padding: var(--a-spacing-1);
    position: relative;
    text-decoration: inherit;
    width: var(--a-spacing-9);

    svg {
        width: var(--a-spacing-6);
        height: var(--a-spacing-6);
        path {
            fill: var(--default-action-color);
        }
    }
}
