@use 'common' as common;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &__left {
        align-items: flex-start;
    }

    &__center {
        align-items: center;
    }

    &__right {
        align-items: flex-end;
    }
}
