// Set this class on an element to always show the expanded version of any contained graphics
$expandGraphics: expandGraphics;

// Set this class on an element to transition on hover to the expanded version of any contained graphics
$expandOnHover: expandOnHover;

@function onExpand($graphics-element) {
    @return ':global(.#{$expandOnHover}):hover #{$graphics-element},:global(.#{$expandGraphics}) #{$graphics-element}';
}

:export {
    expandGraphics: $expandGraphics;
    expandOnHover: $expandOnHover;
}
