@use 'src/common' as common;

.pageNavInContent {
    background-color: white;

    @include common.section-padding-mixin;
}

.title {
    margin-bottom: 1rem;
}

.list {
    @include common.unstyled-list();
}

.pageNavLink {
    padding: 0.6875rem 0.5rem;
    margin: 0 -0.5rem;

    &:hover {
        background-color: common.$a-blue-100;
        color: common.$a-gray-900;
        text-decoration: none;

        .decor {
            background-color: common.$a-text-action;
        }
    }

    &:focus {
        @include common.panel-focus-mixin;
    }
}
