@import (reference) '../../../../global';

.page-nav-sidebar {
    background-color: white;
    padding: 1rem 0;

    &__title {
        padding: 1rem;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .page-nav-link {
        @verticalPadding: 0.7rem;
        @horizontalPadding: 1rem;
        @decorWidth: 0.5rem;
        padding: @verticalPadding @horizontalPadding;
        margin: 0 @decorWidth;

        &:hover {
            background-color: @navBlaLighten80;

            .page-nav-link__decor {
                background-color: @navBla;
            }
        }

        &:focus {
            outline: 0;
            box-shadow: 0 0 0 3px @fokusFarge inset;
        }

        &--up {
            .page-nav-link__decor {
                transform-origin: top;
            }

            &.page-nav-link__current {
                .page-nav-link__decor {
                    transform-origin: bottom;
                }
            }
        }

        &--down {
            .page-nav-link__decor {
                transform-origin: bottom;
            }

            &.page-nav-link__current {
                .page-nav-link__decor {
                    transform-origin: top;
                }
            }
        }

        &__current {
            .page-nav-link__decor {
                transform: scaleY(1);
            }
        }

        &__decor {
            visibility: hidden;
        }

        @media (min-width: @_MQ_mobileMaxWidthDs) {
            &__current {
                color: black;
                text-decoration: none;
            }

            &__decor {
                visibility: visible;
                min-width: @decorWidth;
                margin: -@verticalPadding @decorWidth -@verticalPadding
                    (-@decorWidth - @horizontalPadding);
                background-color: @navBla;

                transform: scaleY(0);

                transition-property: transform;
                transition-duration: 0.12s;
                transition-timing-function: linear;
            }
        }
    }
}
