@import (reference) '../../../../global';

.page-nav-sidebar {
    background-color: white;
    padding: 1rem 0;

    &__title {
        padding: 1rem;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .page-nav-link {
        @verticalPadding: 0.75rem;
        @horizontalPadding: 1rem;
        @decorWidth: 0.5rem;
        padding: @verticalPadding @horizontalPadding;

        @media @mq-screen-tablet-and-desktop {
            margin: 0 @decorWidth;
        }

        &:hover {
            background-color: @navds-global-color-blue-100;
            color: @navds-global-color-gray-900;
            text-decoration: none;

            .page-nav-link__decor {
                background-color: @navds-semantic-color-link;
            }
        }

        &:focus {
            outline: 0;
            box-shadow: 0 0 0 3px @navds-semantic-color-focus inset;
        }

        &--up {
            .page-nav-link__decor {
                transform-origin: top;
            }

            &.page-nav-link__current {
                .page-nav-link__decor {
                    transform-origin: bottom;
                }
            }
        }

        &--down {
            .page-nav-link__decor {
                transform-origin: bottom;
            }

            &.page-nav-link__current {
                .page-nav-link__decor {
                    transform-origin: top;
                }
            }
        }

        &__decor {
            visibility: hidden;
        }

        @media @mq-screen-tablet-and-desktop {
            &__current {
                color: black;
                text-decoration: none;

                .page-nav-link__decor {
                    transform: scaleY(1);
                }
            }

            &__decor {
                visibility: visible;
                min-width: @decorWidth;
                margin: -@verticalPadding @decorWidth -@verticalPadding
                    (-@decorWidth - @horizontalPadding);
                background-color: @navds-semantic-color-link;

                transform: scaleY(0);

                transition-property: transform;
                transition-duration: 0.12s;
                transition-timing-function: linear;
            }
        }
    }
}
