@import (reference) '../../../../global';

.page-nav-in-content {
    background-color: white;

    .section-padding-mixin();

    &__title {
        margin-bottom: 1rem;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .page-nav-link {
        padding: #round-rem(0.66rem) [] 0.5rem;
        margin: 0 -0.5rem;

        &:hover {
            background-color: @navds-global-color-blue-100;
            color: @navds-global-color-gray-900;
            text-decoration: none;

            .page-nav-link__decor {
                background-color: @navds-semantic-color-link;
            }
        }

        &:focus {
            .panel-inset-focus-mixin();
        }
    }
}
