@use 'src/common' as common;

.summary {
    display: inline-flex;
    align-items: center;
    margin: 1rem 0;
    border-bottom: 1px common.$a-gray-300 solid;
    width: 100%;
    height: 2.75rem;
}

.reset {
    margin-left: 1rem;
    display: inline-flex;
    align-items: center;

    text-decoration: none;
    text-underline-offset: 0.25rem;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    svg {
        margin-right: 0.25rem;
    }
}
