@import (reference) '~nav-frontend-core/less/_variabler';
@import (reference) '../../../global';

.main-article-linked-list {
    display: flex;
    margin-bottom: 2rem;
    width: 100%;

    ul {
        list-style: none;
        width: 100%;
        background-color: white;
        padding: 1rem 0;
        margin: 0;

        li {
            a {
                padding: 0.625rem 1.875rem;
                display: block;
                background-color: #fff;

                &:active,
                &:focus {
                    color: #fff;
                    box-shadow: none;
                }

                span {
                    position: relative;
                }
            }

            .selected {
                text-decoration: none;
                position: relative;
            }

            a:hover span:before {
                background-color: #bbd6e9;
            }

            .selected span:before {
                background-color: #0067cc;
            }

            .selected span:before,
            a:hover span:before,
            a:focus span:before {
                display: inline-block;
                content: ' ';
                position: absolute;
                left: -1.89rem;
                height: calc(100% + 1.5rem);
                width: 0.75rem;
                top: -0.755rem;
            }
        }
    }
}
