@use 'common' as common;

.container {
    display: flex;
    flex-direction: column;
    padding: var(--a-spacing-4) 2rem;
    background-color: var(--a-white);
    margin-bottom: var(--a-spacing-4);
    border: 2px solid var(--a-green-200);
    border-radius: common.$border-radius-large;
}

.loader {
    display: inline-flex;
    align-self: center;
    align-items: center;
    & > :first-child {
        margin-right: var(--a-spacing-4);
    }
}
