.container {
    display: flex;
    flex-direction: column;
    padding: var(--ax-space-16) var(--ax-space-32);
    background-color: white;
    margin-bottom: var(--ax-space-16);
    border: 2px solid var(--ax-success-300);
    border-radius: var(--ax-radius-8);
}

.loader {
    display: inline-flex;
    align-self: center;
    align-items: center;
    & > :first-child {
        margin-right: var(--ax-space-16);
    }
}
