@import (reference) '../../../global';
@import (reference) '~nav-frontend-tabell-style/src/index';

.calculator {
    &__calculateButton {
        margin-top: 1rem;

        .calculator__calculateIcon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &__summaryText {
        margin-top: 2rem;
    }
}
