.filterExplanation {
    margin-left: -(var(--a-spacing-2));
    padding: var(--a-spacing-2) 0.3rem var(--a-spacing-2) var(--a-spacing-2);
    display: flex;
    align-items: center;
    transition: all 0.8s linear;
    border-radius: 3px;
    width: calc(100% + var(--a-spacing-4));
    font-size: var(--a-spacing-4);
    border: 1px solid transparent;
}

.filterExplanationHighlight {
    background-color: var(--a-green-100);
    border: 1px solid var(--a-green-500);
    transition: all 0.4s linear;
}

.iconWrapper {
    display: block;
    height: var(--a-spacing-6);
    width: var(--a-spacing-6);
    margin-right: var(--a-spacing-1);
    position: relative;

    .highlighted {
        color: var(--a-surface-success);
    }
}

.icon {
    display: block;
    height: var(--a-spacing-6);
    width: var(--a-spacing-6);
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.4s;
}

.iconVisible {
    opacity: 1;
}

.iconHidden {
    opacity: 0;
}
