.filterExplanation {
    margin-left: calc(-1 * var(--ax-space-8));
    padding: var(--ax-space-8) var(--ax-space-6) var(--ax-space-8) var(--ax-space-8);
    display: flex;
    align-items: center;
    transition: all 0.8s linear;
    border-radius: var(--ax-radius-4);
    width: calc(100% + var(--ax-space-16));
    font-size: var(--ax-font-size-medium);
    border: 1px solid transparent;
}

.filterExplanationHighlight {
    background-color: var(--ax-success-200);
    border: 1px solid var(--ax-success-600);
    transition: all 0.4s linear;
}

.iconWrapper {
    display: block;
    height: var(--ax-space-24);
    width: var(--ax-space-24);
    margin-right: var(--ax-space-4);
    position: relative;

    .highlighted {
        color: var(--ax-bg-success-strong);
    }
}

.icon {
    display: block;
    height: var(--ax-space-24);
    width: var(--ax-space-24);
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.4s;
}

.iconVisible {
    opacity: 1;
}

.iconHidden {
    opacity: 0;
}
