@use 'src/common' as common;

.areasPageNavigation {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2px; // In order not to clip focus outline
    padding-bottom: 1rem;
    visibility: visible;
    opacity: 100%;

    transition-property: max-height, visibility, padding, opacity;
    transition-duration: 500ms;
    transition-timing-function: linear;

    @include common.full-width-mixin();

    @media #{common.$mq-screen-tablet-and-mobile} {
        overflow-y: hidden;
        overflow-x: scroll;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none;
        flex-wrap: nowrap;

        &::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }
    }
}

.navigationWrapper {
    display: flex;
    flex-wrap: inherit;
    padding: 10px 0;
}

.areasPageNavigationLink {
    display: inline-flex;
    white-space: nowrap;
    margin: 0 0.5rem 0.5rem 0;
    border: 0;
    -webkit-touch-callout: none; /* Disable Safari link preview, becaus we want touch&scroll feature */
    user-select: none;

    @media #{common.$mq-screen-tablet-and-mobile} {
        margin: 0 0.5rem 0 0;
    }
}

.hidden {
    max-height: 0;
    padding-bottom: 0;
    visibility: hidden;
    opacity: 0;
}
