@use 'src/common' as common;

.areasPageNavigation {
    padding-bottom: 1rem;
    visibility: visible;
    max-height: 50px;
    overflow: hidden;

    transition-property: max-height, visibility;
    transition-duration: 1000ms;
    transition-timing-function: linear;

    @include common.full-width-mixin();
}

.areasPageNavigationLink {
    margin-right: 1rem;
}

.hidden {
    max-height: 0;
    visibility: hidden;
}
