.generalPageHeader {
    display: block;
}

.header {
    margin-top: var(--a-spacing-3);
    color: rgb(153, 24, 94); // Finnes pr nå ikke i Aksel.
}

.tagline {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.ingress {
    margin-top: var(--a-spacing-6);
}
