.generalPageHeader {
    display: block;
}

.header {
    margin-top: var(--a-spacing-3);
}

.tagline {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.ingress {
    margin-top: var(--a-spacing-6);
}
