@import (reference) '../../../global';

@guidePageColor: @navds-global-color-blue-200;

.guide-page {
    display: flex;
    flex-direction: column;

    .icon-container {
        background-color: @guidePageColor;
        img {
            width: 50%;
            height: 50%;
        }
    }

    &__content {
        align-self: center;
        width: 100%;

        // Break out of the global app padding for better screen-width usage
        // on narrower screens
        @media @mq-screen-tablet-and-desktop {
            margin-left: -@padding-sides-tablet;
            margin-right: -@padding-sides-tablet;
        }

        @media @mq-screen-desktop {
            margin-left: -@padding-sides-desktop;
            margin-right: -@padding-sides-desktop;
        }
    }

    // For now use product-mixins. If page is to divert from product
    // page layout at some later date, separate mixins can be created.
    .product-mixins();
}
