@use 'common' as common;

.container {
    @include common.full-width-mixin();

    background-color: var(--ax-brand-blue-100);
    padding-top: var(--ax-space-36);
    padding-bottom: var(--ax-space-44);

    @media #{common.$mq-screen-mobile} {
        padding-top: var(--ax-space-8);
        padding-bottom: var(--ax-space-16);
    }
}

// Quick fix for margins when used on the old frontpage type
:global(.page__main-page) .container {
    margin-bottom: calc(-1 * var(--ax-space-32));
}

.header {
    margin-bottom: var(--ax-space-24);

    @media #{common.$mq-screen-mobile} {
        margin-bottom: var(--ax-space-16);
    }
}

.links {
    @include common.grid-layout-mixin(2);
}
