.alert {
    margin-bottom: var(--ax-space-12);
    border-radius: var(--ax-radius-8);
    padding: var(--ax-space-12);
    display: flex;
    gap: var(--ax-space-12);
    align-items: center;
}

.white {
    background-color: var(--a-white);
}

.yellow {
    background-color: #fff5e4;
}
