.alert {
    margin-bottom: 0.75rem;
    border-radius: var(--a-spacing-2);
    padding: var(--a-spacing-3);
    display: flex;
    gap: var(--a-spacing-3);
    align-items: center;
}

.white {
    background-color: var(--a-white);
}

.yellow {
    background-color: #fff5e4;
}
