@use 'common' as common;

$metadataIndent: 34px;

.singleReception {
    background-color: var(--a-deepblue-50);
    border-radius: var(--a-border-radius-small);
    padding: common.$sectionPaddingMobile;

    @media #{common.$mq-screen-tablet} {
        padding: common.$sectionPaddingTablet;
    }

    @media #{common.$mq-screen-desktop} {
        padding: common.$sectionPaddingDesktop;
    }

    table {
        margin-left: $metadataIndent;
        margin-bottom: var(--a-spacing-3);
        width: auto;
        th,
        td {
            border: none;
            font-size: 1.125rem;
            padding: 0.3rem 2rem 0.3rem 0;
            vertical-align: top;
        }
        td:last-of-type {
            padding-right: 0;
        }

        :global(.dayInformation) {
            min-width: 9rem;
            font-weight: normal;

            @media #{common.$mq-screen-mobile} {
                min-width: auto;
            }
        }

        :global(.openingInformation) {
            min-width: 7.3rem;
            font-weight: var(--a-font-weight-bold);

            &:first-letter {
                text-transform: capitalize;
            }
        }
    }
}

.heading {
    display: flex;
    align-items: flex-start;
}

.headingIcon {
    color: var(--a-surface-inverted);
    margin-right: 12px;
}

.iconPlace {
    transform: translateY(1px) translateX(1px);
    flex-shrink: 0;
}

.iconClock {
    transform: translateY(3px) translateX(1px);
    flex-shrink: 0;
}

.iconInfo {
    width: 27px;
    height: 27px;
    transform: translateY(-1px);
    flex-shrink: 0;
}

.address {
    margin-bottom: var(--a-spacing-6);
}

.addressLine {
    margin-left: $metadataIndent;
    margin-bottom: 1rem;
}

.appointmentBookingInfo {
    display: flex;
    gap: 0.375rem;
}
