@use 'src/common' as common;

.wrapper {
    @include common.full-width-mixin();
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
    margin-bottom: -3rem !important; // Can't find a way to override the margin-bottom from the parent
    background-color: var(--bg-color, var(--a-white));
}

.header {
    @media #{common.$mq-screen-mobile} {
        margin-bottom: 0rem;
    }
}
