@import (reference) '../../../global';

.global-notifications {
    @numCols: 2;
    @margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 @padding-sides-desktop;

    @media @screen-desktop {
        .notification {
            width: calc(
                percentage(0.75 / @numCols) - @margin *
                    ((@numCols - 1) / @numCols)
            );
            &:not(:nth-child(@{numCols}n)):not(:last-child) {
                margin-right: @margin / 2;
            }
            &:not(:nth-child(@{numCols}n-1)) {
                margin-left: @margin / 2;
            }
        }
    }

    @media @screen-mobile {
        padding: 1rem @padding-sides-mobile;
        flex-direction: column;

        .notification {
            width: 100%;
            margin-right: 0;
        }
    }
}
