.layout__section-with-header {
    padding: 1rem 1.5rem;
    background-color: white;

    .region__content {
        margin-top: 1rem;

        & > * {
            margin-top: 1rem;
        }
    }
}
