@import (reference) '../../../global';

.layout__section-with-header {
}

.global-notifications {
    background-color: @navBakgrunn;
    padding-top: 1rem;
}

.app .global-notifications {
    background-color: @navGraBakgrunn;
    padding-top: 0;
}
