.container {
    background-color: white;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin-top: calc(
        var(--a-spacing-20) + var(--a-spacing-5)
    ); // Take topMarker negative pos into account

    &.pullUp {
        margin-top: var(--a-spacing-12);
    }
}

.topMarker:before {
    background-color: rgb(230, 199, 216); // Finnes pr nå ikke i Aksel.
    content: '';
    height: 7px;
    left: 0;
    position: absolute;
    top: calc(var(--a-spacing-5) * -1);
    width: 40px;
}

.header {
    margin-top: var(--a-spacing-2);
    margin-bottom: var(--a-spacing-4);
    color: rgb(153, 24, 94); // Finnes pr nå ikke i Aksel.
}

.editorViewBorder {
    outline: 1px gray dashed;
    outline-offset: 15px;
}
