@import (reference) '../../../../global';

.region__dynamic-link-panel {
    height: 100%;
}

.lenkepanel__indikator {
    display: none;
}

.vertical .link-panel {
    &__ikon {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        img {
            height: #round-rem(2rem) [];
        }
    }
    &__title {
        text-align: center;
    }
    &__ingress {
        text-align: center;
    }
}

.horisontal .link-panel {
    &__ikon {
        margin-right: 0.5rem;
        img {
            height: #round-rem(1.75rem) [];
        }
    }
    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    &__innhold {
        padding-right: 0.5rem;
    }
}

.link-panel {
    width: 100%;
    display: flex;
    padding: 1.5rem;

    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    background-color: white;

    border: 1px solid @navBla;
    box-sizing: border-box;

    &:hover {
        .link-panel {
            &__title {
                text-decoration: underline;
            }
        }
    }

    &__innhold {
        height: 100%;
        width: 100%;
        display: flex;
        justify-items: flex-start;
        align-items: flex-start;
        flex-direction: column;
        text-align: start;
    }
    &__header {
        width: 100%;
    }

    &__title {
        width: 100%;
        color: @navBla;
    }
    &__ingress {
        width: 100%;
        margin: 1rem 0 0.5rem 0;
    }
}
