@use 'common' as common;

$blueLinkColor: var(--default-action-color);
$blackLinkColor: var(--ax-text-neutral);

.lenkepanelNavno {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: var(--ax-space-24);
    border-radius: var(--ax-radius-8);

    &:hover {
        .lenkepanelNavnoLink {
            text-decoration: none;
            color: $blueLinkColor;
        }
    }

    &:focus,
    &:focus-within {
        @include common.panel-focus-mixin();
    }

    :global(.aksel-label) {
        font-size: var(--ax-font-size-heading-medium);
    }
}

// gjør hele komponenten klikkbar
.clickArea::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.lenkepanelNavnoLink {
    color: $blueLinkColor;
    text-decoration-line: underline;
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.1em;

    @media #{common.$mq-screen-mobile-small} {
        font-size: var(--ax-font-size-xlarge);
        line-height: var(--ax-font-line-height-xlarge);
    }

    &.linkBlack {
        color: $blackLinkColor;
        text-decoration-color: $blackLinkColor;
    }

    &.underline {
        text-decoration-line: underline;
    }

    &:focus {
        outline: none;
    }

    // Stretches the link over the entire parent container
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.lenkepanelNavnoIngress {
    margin-top: var(--ax-space-16);
}

.lenkepanelNavnoIcon {
    margin-right: var(--ax-space-16);
}
