@use 'src/common' as common;

.phonePoster {
    padding: common.$padding-sides-mobile;
    background-color: var(--a-gray-50);

    @media #{common.$mq-screen-tablet} {
        padding: common.$padding-sides-tablet;
    }

    @media #{common.$mq-screen-desktop} {
        padding: common.$padding-sides-desktop;
    }
}

.heading {
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.phoneNumberWrapper {
    margin-bottom: 1rem;
}

.phoneNumber {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: var(--a-font-weight-bold);
    padding-right: 1rem;

    &:focus {
        background-color: transparent;
        color: rgb(0, 0, 0);
    }
}

.telephoneIcon {
    padding: 0.6rem;
    background-color: white;
    border-radius: 2rem;
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}
