@use 'src/common' as common;

.phonePoster {
    padding: common.$padding-sides-mobile;
    background-color: var(--a-gray-50);

    a:link {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    @media #{common.$mq-screen-tablet} {
        padding: common.$padding-sides-tablet;
    }

    @media #{common.$mq-screen-desktop} {
        padding: common.$padding-sides-desktop;
    }
}
