.uxSignalsWidget {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    :global(.uxsignals-embed) {
        h2 {
            font-size: var(--a-font-size-heading-large) !important;
            line-height: var(--a-font-line-height-heading-large) !important;
        }
        p,
        span {
            font-size: var(--a-font-size-large) !important;
            line-height: var(--a-font-size-xlarge) !important;
        }
    }

    &:empty {
        display: none;
    }

    & > div {
        margin: 0;
    }
}
