@import (reference) '../../../../global';

.page-nav-link {
    @padding: 0.5rem;
    @transition-duration: 0.15s;

    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 0;
    text-decoration: none;

    border-bottom-right-radius: @border-radius-large;
    border-top-right-radius: @border-radius-large;

    &:hover {
        text-decoration: underline;

        .page-nav-link__decor {
            background-color: @navBla;
        }
    }

    &:focus {
        background-color: transparent;
        color: @navBla;
        box-shadow: 0 0 0 2px @navDypBla inset;

        .page-nav-link__decor {
            background-color: @navDypBla;
        }
    }

    &--current {
        .page-nav-link__text {
            border-bottom: @navBla 2px dotted;
        }

        .page-nav-link__decor {
            background-color: black;
        }
    }

    &__decor {
        align-self: stretch;
        min-width: 0.3125rem;
        margin: -@padding 0.75rem -@padding 0;
        background-color: @navGra20;
        transition-property: background-color;
        transition-duration: @transition-duration;
        transition-timing-function: linear;
    }

    &__text {
        transform-origin: left center;
        transition-property: font-size;
        transition-duration: @transition-duration;
        transition-timing-function: ease-in;
    }
}
