@use 'common' as common;

@mixin contactBackground() {
    padding-bottom: var(--a-spacing-16);
    background-color: var(
        --a-gray-50
    ) !important; // To override inline colors set in XP (to be changed in the future)
    --size: 6px;
    --p: 3px;
    --R: 6px;
    mask:
        radial-gradient(var(--R) at left 50% top calc(var(--size) + var(--p)), #000 99%, #0000 101%)
            calc(50% - 2 * var(--size)) 0 / calc(4 * var(--size)) 100%,
        radial-gradient(var(--R) at left 50% top calc(-1 * var(--p)), #0000 99%, #000 101%) left 50%
            top var(--size) / calc(4 * var(--size)) 100% repeat-x;
}

.flexCols {
    &:last-child {
        padding-bottom: var(--a-spacing-16);
    }

    :global(.region__flexcols) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;

        @include common.content-studio-drop-zone-fix-global();
    }

    :global(.region__flexcols--1-cols) {
        @include common.flex-cols-mixin(1);
    }

    :global(.region__flexcols--2-cols) {
        @include common.flex-cols-mixin(2, 2rem);

        @media #{common.$mq-screen-mobile} {
            @include common.flex-cols-mixin(1);
        }
    }

    :global(.region__flexcols--3-cols) {
        @media #{common.$mq-screen-desktop} {
            @include common.flex-cols-mixin(3, 2rem);
        }

        @media #{common.$mq-screen-tablet} {
            @include common.flex-cols-mixin(2);
        }

        @media #{common.$mq-screen-mobile} {
            @include common.flex-cols-mixin(1);
        }
    }
}

.header {
    margin-bottom: var(--a-spacing-10);
}

.layoutSituationOrProduct {
    $singleColMaxWidth: calc(#{common.$sectionMaxWidth} + 2 * #{common.$padding-sides-mobile});
    $doubleColMaxWidth: calc(#{common.$contentMaxWidth} + 2 * #{common.$padding-sides-tablet});

    @include common.full-width-mixin();

    padding-top: var(--a-spacing-16);
    padding-bottom: var(--a-spacing-16);

    &:has(:global(.part__contact-option)) {
        @include contactBackground();
        padding-top: var(--a-spacing-20);

        .contentWrapper {
            margin-left: auto;
            margin-right: auto;
        }

        :global(.region__flexcols--2-cols) {
            :global(.part__contact-option) {
                margin-bottom: var(--a-spacing-8);
            }
        }
    }

    :global(.region__flexcols.region__flexcols) {
        //Double class to increase specificity, to avoid media query being overridden
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;

        @include common.content-studio-drop-zone-fix-global();

        @media #{'only screen and (max-width: #{$singleColMaxWidth})'} {
            @include common.flex-cols-mixin(1);
        }
    }

    :global(.region__flexcols--1-cols) {
        @include common.flex-cols-mixin(1);
    }

    :global(.region__flexcols--2-cols) {
        @include common.flex-cols-mixin(2);
    }

    :global(.region__flexcols--3-cols) {
        @include common.flex-cols-mixin(3);

        @media #{'only screen and (max-width: #{$doubleColMaxWidth})'} {
            @include common.flex-cols-mixin(2);
        }
    }
}

.layoutSituationShelf {
    padding-top: var(--a-spacing-24);
    padding-bottom: 0;
}

.shelfHeader {
    color: var(--brand-purple-deep);
    margin-bottom: var(--a-spacing-4);
    text-wrap: balance;
    position: relative;

    &:before {
        @include common.header-before-rectangle();
    }
    :global(.navds-heading) {
        margin-top: var(--a-spacing-2);
    }
}

.shelfLayout {
    display: flex;
    gap: var(--a-spacing-3);

    > * {
        margin: 0 !important; //overstyr nth-child margin fra generell flexcols
        width: 100%;
    }
}
