.publikumsmottak {
    .header {
        margin-bottom: var(--a-spacing-4);
    }

    table {
        margin-bottom: var(--a-spacing-6);
        width: auto;

        th,
        td {
            vertical-align: top;
            padding: var(--a-spacing-1) var(--a-spacing-4) var(--a-spacing-1) 0;
            font-size: 18px;
        }

        :global(.dayInformation) {
            min-width: var(--a-spacing-24);
        }

        :global(.openingInformation) {
            min-width: 7.3rem;

            &:first-letter {
                text-transform: capitalize;
            }
        }
    }
}
