.publikumsmottak {
    .header {
        margin-bottom: var(--ax-space-16);
    }

    table {
        margin-bottom: var(--ax-space-24);
        width: auto;

        th,
        td {
            vertical-align: top;
            padding: var(--ax-space-4) var(--ax-space-16) var(--ax-space-4) 0;
            font-size: var(--ax-font-size-large);
        }

        :global(.dayInformation) {
            min-width: var(--ax-space-96);
        }

        :global(.openingInformation) {
            min-width: 7.3rem;

            &:first-letter {
                text-transform: capitalize;
            }
        }
    }
}
