@use 'common' as common;

.search {
    margin-bottom: var(--ax-space-16);

    .form {
        display: flex;
        position: relative;
    }

    .input {
        flex-grow: 1;

        input {
            font-size: 150%;
            border-width: 2px;
            border-color: var(--default-action-color);
            border-radius: var(--ax-radius-4);
            padding-right: 13rem;
            @media #{common.$mq-screen-mobile} {
                padding-right: 10rem;
            }
        }
    }

    .buttonsContainer {
        position: absolute;
        right: 0;
        height: 100%;
    }

    .button {
        align-self: center;
        text-transform: none;
        transform: none;
        box-shadow: none;
        border-radius: 0 var(--ax-radius-4) var(--ax-radius-4) 0;
        height: 100%;
        font-size: 125%;

        &::after,
        &::before {
            all: unset;
        }

        &:hover {
            transform: none;
            box-shadow: none;
        }
    }
}
