.bulletList {
    margin: 0;
    padding-left: var(--ax-space-24);

    li {
        margin-bottom: var(--ax-space-8);
    }
}
.anchor {
    border-bottom: 1px var(--default-action-color) solid;
    text-decoration: none;
    transition: border-bottom-color 0.12s ease-out;
}
