.bulletList {
    margin: 0;
    padding-left: var(--a-spacing-6);

    li {
        margin-bottom: var(--a-spacing-2);
    }
}
.anchor {
    border-bottom: 1px var(--default-action-color) solid;
    text-decoration: none;
    transition: border-bottom-color 0.12s ease-out;
}
