.moreLink {
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.1em;
    text-decoration-line: underline;
    margin: var(--ax-space-8) 0 var(--ax-space-16) 0;
    display: block;
    color: var(--default-action-color);
}
