.moreLink {
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.1em;
    text-decoration-line: underline;
    margin: var(--a-spacing-2) 0 var(--a-spacing-4) 0;
    display: block;
    color: var(--default-action-color);
}
