.container {
    &:hover,
    &:focus {
        .micro {
            background-color: var(--a-blue-50);
        }
    }
}

.micro {
    border-radius: 16px;
    border: 1px solid var(--a-border-default);
    box-shadow: 0 0 0 3px var(--default-action-color);
    color: var(--a-gray-900);
    display: inline-flex;
    font-size: var(--a-font-size-medium);
    letter-spacing: 0.01em;
    line-height: var(--a-spacing-5);
    padding: var(--a-spacing-1) var(--a-spacing-2);
    position: relative;

    &:not(:hover):not(:active) {
        box-shadow:
            0 1px 3px rgba(38, 38, 38, 0.2),
            0 1px 6px rgba(0, 0, 0, 0.14),
            0 2px 8px rgba(38, 38, 38, 0.12);
    }

    &:hover,
    &:focus {
        border: 1px solid transparent;
    }

    &:before {
        content: '';
        align-self: center;
        position: relative;
        display: flex;
        width: var(--a-spacing-2);
        height: var(--a-spacing-2);
        border-radius: var(--a-spacing-2);
        margin: 0 var(--a-spacing-2) 0 0;
        flex: none;
        background-color: var(--brand-purple-deep);
    }

    &:after {
        border-radius: 16px;
        box-shadow: 0 0 0 2px var(--a-white);
        height: calc(100% - 2px);
        margin: 1px;
        width: calc(100% - 2px);
    }
}
