.header {
    font-weight: var(--ax-font-weight-bold);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: var(--ax-space-12);
    margin-top: var(--ax-space-4);
    margin-bottom: var(--ax-space-28);
}
