.header {
    font-weight: var(--a-font-weight-bold);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: var(--a-spacing-3);
    margin-top: var(--a-spacing-1);
    margin-bottom: var(--a-spacing-7);
}
