.container {
    &.inline {
        display: inline-block;
        width: auto;
        padding: var(--ax-space-6) 0;
        margin: 0;
        text-decoration-line: none;
    }

    &:hover,
    &:focus {
        .micro {
            background-color: var(--ax-accent-200);
            border: 1px solid transparent;
        }
    }
}

.micro {
    border-radius: 16px;
    border: 1px solid var(--ax-border-neutral);
    color: var(--ax-neutral-1000);
    display: inline-flex;
    font-size: var(--ax-font-size-medium);
    letter-spacing: 0.01em;
    line-height: var(--ax-font-line-height-medium);
    padding: var(--ax-space-4) var(--ax-space-8);
    position: relative;

    box-shadow:
        0 1px 3px rgba(38, 38, 38, 0.2),
        0 1px 6px rgba(0, 0, 0, 0.14),
        0 2px 8px rgba(38, 38, 38, 0.12);

    &:before {
        content: '';
        align-self: center;
        position: relative;
        display: flex;
        width: var(--ax-space-8);
        height: var(--ax-space-8);
        border-radius: var(--ax-radius-8);
        margin: 0 var(--ax-space-8) 0 0;
        flex: none;
        background-color: var(--ax-text-brand-magenta-subtle);
    }

    &:after {
        border-radius: 16px;
        box-shadow: 0 0 0 2px white;
        height: calc(100% - 2px);
        margin: 1px;
        width: calc(100% - 2px);
    }
}
