@import (reference) '../../../../global';

.micro-card {
  /* Auto Layout */
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 0.77rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 8px;

  position: static;
  width: 221px;
  height: 24px;
  left: 94px;
  top: 0px;
  width: fit-content;



  /* navOransje/$navOransjeLighten60 */

  background: #FFD799;
  border-radius: 16px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
}