@use 'common' as common;

.LargeCard {
    width: 100%;
    height: 100%;

    :global(.navds-link-card__title) {
        color: var(--default-action-color);
    }

    :global(.navds-link-card__arrow) {
        display: none;
    }

    @media #{common.$mq-screen-mobile-small} {
        :global(.navds-link-card__icon) {
            grid-column: 2;
            grid-row: 1;

            margin-block-end: var(--a-spacing-4);
        }
    }
}

.illustration {
    width: var(--a-spacing-16);
    height: var(--a-spacing-16);

    :global(.back) {
        [fill]:not([fill='none']) {
            fill: var(--brand-purple-light);
        }
        [stroke] {
            stroke: var(--brand-purple-light);
        }
    }
    :global(.front) {
        [fill]:not([fill='none']) {
            fill: var(--brand-purple-deep);
        }
        [stroke] {
            stroke: var(--brand-purple-deep);
        }
    }
}

.tagline {
    letter-spacing: 0.4px;
    font-variant-caps: all-small-caps;
}
