@use 'common' as common;

$topOffset: calc(var(--decorator-sticky-offset, 0px) + 1rem);
$bottomOffset: 2rem;

.left-menu {
    top: $topOffset;

    @media #{common.$mq-screen-tablet-and-desktop} {
        overflow: auto;
        max-height: calc(100vh - #{$topOffset} - #{$bottomOffset});
    }

    &--sticky {
        position: sticky;
    }

    & * {
        word-break: break-word;
    }

    .region__leftMenu,
    .region__topLeftMenu {
        & > * {
            padding: 1rem;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }

    .region__leftMenu {
        & > * {
            background-color: white;
        }

        & > :first-child {
            margin-top: 1rem;
        }
    }

    // The top region should have a consistent background color behind all components
    // to make it blend in with the navigation-menu
    .region__topLeftMenu {
        background-color: white;
    }

    // When used in the left menu, LinkList with Expandable capabilities
    // should not add an underline after the Expandable components, as
    // there's no other content below that needs separation.
    .link-list {
        .expandable {
            box-shadow: none;
        }
    }
}
