.largeTablePage {
    font-size: var(--ax-font-size-medium);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: auto;

    h1 {
        font-size: var(--ax-font-size-heading-medium);
        margin-bottom: var(--ax-space-16);
        &:not(:first-child) {
            margin-top: var(--ax-space-32);
        }
    }

    table {
        border-collapse: collapse;
        &:not(:last-child) {
            margin-bottom: var(--ax-space-16);
        }
    }

    th {
        font-weight: var(--ax-font-weight-bold);
        padding: var(--ax-space-8) var(--ax-space-4);
        text-align: left;
    }

    thead {
        tr {
            border-bottom: 1px var(--ax-neutral-300) solid;
        }
    }

    tbody {
        tr:first-child {
            font-weight: var(--ax-font-weight-bold);
            td {
                padding-top: var(--ax-space-8);
            }
        }

        tr:nth-of-type(even) {
            background-color: var(--ax-accent-200);
        }

        td {
            white-space: nowrap;
        }
    }

    :global(.statPage) {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: var(--ax-space-16);
    }

    :global(.statHead),
    :global(.statGroupHead),
    :global(.statGroupRest) {
        padding: 0.125rem var(--ax-space-8);
        &:not(th) {
            font-weight: var(--ax-font-weight-bold);
        }
    }

    :global(.statRest),
    :global(.statGroupRest) {
        text-align: right;
        padding: 0.125rem 0.125rem 0.125rem var(--ax-space-16);
    }

    :global(.statFoot) {
        margin-top: var(--ax-space-8);
    }
}
