.contactOption {
    &__wrapper {
    }
    &__icon {
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;

        &--chat {
            background-image: url('/gfx/chat.svg');
        }

        &--call {
            background-image: url('/gfx/phone.svg');
        }

        &--write {
            background-image: url('/gfx/message.svg');
        }
    }

    &__link {
        margin-bottom: 1rem;
        display: block;
    }
}
