@use 'src/common' as common;

$padding: 1.5rem;

.linkPanel {
    padding: $padding;
    cursor: pointer;
    border-radius: common.$border-radius-large;

    &:hover {
        .link {
            border-bottom: 2px common.$navds-semantic-color-link solid;
        }
    }

    &:focus,
    &:focus-within {
        @include common.panel-focus-mixin(true);
    }
}

.link {
    text-decoration: none;
    border-bottom-color: transparent;
    transition: border-bottom-color 0.25s ease-out;
}

.content {
    margin-top: 1rem;
}
