@use 'src/common' as common;

// Use global CSS rather than module to simplify overriding of styles
// The component this styling applies to is intended for very flexible styling

$padding: 1.5rem;
$color: common.$navds-semantic-color-link;

.linkPanelNavno {
    position: relative;

    display: flex;
    align-items: flex-start;

    padding: $padding;
    border-radius: common.$border-radius-xlarge;

    &.linkPanelWithIcon {
        align-items: center;
    }

    &:hover {
        .linkPanelNavnoLink {
            border-bottom-color: transparent;

            &.underline {
                border-bottom-color: $color;

                &.black {
                    border-bottom-color: black;
                }
            }
        }
    }

    &:focus,
    &:focus-within {
        @include common.panel-focus-mixin(true);
    }
}

.linkPanelNavnoLink {
    text-decoration: none;
    border-bottom: 2px common.$navds-semantic-color-link solid;
    transition: border-bottom-color 0.15s ease-out;

    &.black {
        color: black;
        border-bottom-color: black;
    }

    &.underline {
        border-bottom-color: transparent;
    }

    &:focus {
        outline: none;
    }

    // Stretches the link over the entire parent container
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.linkPanelNavnoIngress {
    margin-top: 1rem;
}

.linkPanelNavnoIcon {
    margin-right: 1rem;
}
