@use 'src/common' as common;

// Use global CSS rather than module to simplify overriding of styles
// The component this styling applies to is intended for very flexible styling

$padding: 1.5rem;
$blueLinkColor: common.$a-text-action;
$blackLinkColor: common.$a-text-default;

.linkPanelNavno {
    position: relative;

    display: flex;
    align-items: flex-start;

    padding: $padding;
    border-radius: common.$border-radius-xlarge;

    &.linkPanelWithIcon {
        align-items: center;
    }

    &:hover {
        .linkPanelNavnoLink {
            border-bottom-color: transparent;
            color: $blueLinkColor;

            &.underline {
                border-bottom-color: $blueLinkColor;
            }
        }
    }

    &:focus,
    &:focus-within {
        @include common.panel-focus-mixin(true);
    }
}

.linkPanelNavnoLink {
    text-decoration: none;
    color: $blueLinkColor;
    border-bottom: 1px $blueLinkColor solid;
    transition-property: border-bottom-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;

    &.linkBlack {
        color: $blackLinkColor;
        border-bottom-color: $blackLinkColor;
    }

    &.underline {
        border-bottom-color: transparent;
    }

    &:focus {
        outline: none;
    }

    // Stretches the link over the entire parent container
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.linkPanelNavnoIngress {
    margin-top: 1rem;
}

.linkPanelNavnoIcon {
    margin-right: 1rem;
}
