@use 'src/common' as common;

$color: common.$navds-semantic-color-link;

.linkPanel {
    display: flex;

    padding: 1.5rem 1rem;
    border-radius: common.$border-radius-xlarge;

    text-decoration: none;

    &.withIcon {
        align-items: center;
    }

    &:hover {
        .text {
            border-bottom-color: transparent;

            &.underline {
                border-bottom-color: $color;

                &.black {
                    border-bottom-color: black;
                }
            }
        }
    }

    &:focus {
        @include common.panel-focus-mixin(true);
    }
}

.icon {
    margin-right: 1rem;
}

.text {
    transition: border-bottom-color 0.15s ease-out;
    border-bottom: 2px common.$navds-semantic-color-link solid;

    &.black {
        color: black;
        border-bottom-color: black;
    }

    &.underline {
        border-bottom-color: transparent;
    }
}
