@use 'src/common' as common;

$blueLinkColor: common.$a-text-action;
$blackLinkColor: common.$a-text-default;

.linkPanel {
    display: flex;

    padding: 1.5rem;
    border-radius: common.$border-radius-xlarge;

    text-decoration: none;

    @media #{common.$mq-screen-mobile-small} {
        padding: 0.625rem;
    }

    &.withIcon {
        align-items: center;
    }

    &:hover {
        .text {
            border-bottom-color: transparent;

            &.underlineOnHover {
                border-bottom-color: $blueLinkColor;

                &.black {
                    border-bottom-color: $blackLinkColor;
                }
            }
        }
    }

    &:focus {
        @include common.panel-focus-mixin(true);
    }
}

.icon {
    margin-right: 1rem;
    display: flex;

    @media #{common.$mq-screen-mobile-small} {
        width: 3rem;
        height: 3rem;
    }
}

.text {
    transition-property: border-bottom-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;

    border-bottom: 1px $blueLinkColor solid;

    @media #{common.$mq-screen-mobile-small} {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    color: common.$a-text-default;
    border-bottom-color: $blackLinkColor;

    &.underlineOnHover {
        border-bottom-color: transparent;
    }

    &.underlineNone {
        border-bottom: none;
    }
}
