@use 'src/common' as common;

$color: common.$navds-semantic-color-link;

.linkPanel {
    display: flex;

    padding: 1.5rem 1rem;
    border-radius: common.$border-radius-xlarge;

    text-decoration: none;

    @media #{common.$mq-screen-mobile-small} {
        padding: 0.625rem;
    }

    &.withIcon {
        align-items: center;
    }

    &:hover {
        .text {
            color: common.$navds-semantic-color-link;
            border-bottom-color: transparent;

            &.underlineOnHover {
                border-bottom-color: $color;

                &.black {
                    border-bottom-color: common.$navds-semantic-color-text;
                }
            }
        }
    }

    &:focus {
        @include common.panel-focus-mixin(true);
    }
}

.icon {
    margin-right: 1rem;
}

.text {
    transition: border-bottom-color 0.15s ease-out;
    border-bottom: 1px common.$navds-semantic-color-link solid;

    @media #{common.$mq-screen-mobile-small} {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    &.black {
        color: common.$navds-semantic-color-text;
        border-bottom-color: common.$navds-semantic-color-text;
    }

    &.underlineOnHover {
        border-bottom-color: transparent;
    }

    &.underlineNone {
        border-bottom: none;
    }
}
