@use 'common' as common;

.featuredHeader {
    background-color: var(--ax-bg-default);
    display: flex;
    justify-content: center;

    @include common.full-width-mixin;
}

.header {
    text-wrap: balance;
    margin-bottom: var(--ax-space-16);
    max-width: 63.5rem;
    width: 100%;
}
