@import (reference) '../../../../../global';
@import (reference) '~nav-frontend-knapper-style/src/mixins';

.search {
    margin-top: 1rem;

    &__form {
        margin-top: 0.25rem;
        margin-bottom: 1rem;
        display: flex;
        position: relative;
    }

    &__input {
        flex-grow: 1;

        input {
            font-size: 150%;
            border-width: 2px;
            border-color: @navBla;
            border-radius: @border-radius-base;
            padding-right: 12rem;
            @media @screen-mobile {
                padding-right: 9rem;
            }
        }
    }

    &__buttons-container {
        position: absolute;
        right: 0;
        height: 100%;
    }

    &__button {
        align-self: center;
        text-transform: none;
        transform: none;
        box-shadow: none;
        border-radius: 0 @border-radius-base @border-radius-base 0;
        height: 100%;
        font-size: 125%;

        &::after,
        &::before {
            all: unset;
        }

        &:hover {
            transform: none;
            box-shadow: none;
        }

        @media @screen-mobile {
            .knappmini-mixin;
        }
    }
}
