@use 'common' as common;

.panel {
    display: flex;
    padding-bottom: var(--a-spacing-7);
    background-color: var(--a-white);
    padding-top: var(--a-spacing-8);
    @include common.full-width-mixin();

    @media #{common.$mq-screen-mobile} {
        padding-bottom: var(--a-spacing-3);
    }
}

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 100%;

    @media #{common.$mq-screen-mobile} {
        min-width: 100%;
        max-width: 100%;
    }
}

.gfxContainer {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    flex: 1;
    height: 10rem;
    margin-bottom: -(var(--a-spacing-7));
    pointer-events: none;

    > * {
        width: 21.875rem;
    }

    @media #{common.$mq-screen-mobile} {
        display: none;
    }
}
