@import (reference) '../../../global';

.lenkepanel-liste {
    width: 100%;
    margin-bottom: 2rem;

    &__tittel {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__ingress {
        text-align: center;
        margin-top: 1rem;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 1rem;
        width: 100%;
    }

    &__item {
        text-align: start;
        margin-bottom: 1rem;
        @media @mq-screen-mobile {
            width: 100%;
        }
        @media @mq-screen-tablet-and-desktop {
            width: calc(50% - 0.5rem);
        }
    }
}
