@use 'common' as common;

.list {
    @include common.unstyled-list();
    margin-top: 2rem;
}

.item {
    padding: var(--a-spacing-6) 0;
    border-top: 1px solid var(--a-gray-200);

    &:last-child {
        border-bottom: 1px solid var(--a-gray-200);
    }
}
