.notSupported {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--a-spacing-8);
    padding: var(--a-spacing-8);
    background-color: var(--a-white);
    border: 4px solid var(--a-green-200);
}

.type {
    font-weight: normal;
}
