@import (reference) '../../../global';
@import (reference) '~nav-frontend-tabell-style/src/index';

.html-area {
    word-break: break-word;

    .navds-body-long + .card {
        margin-top: -1.2rem;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    table {
        float: none;
        margin-bottom: 1.75rem;
        line-height: 1.3em;

        th,
        td {
            vertical-align: top;
            padding: 0.7rem;
            font-size: 1.125rem;
        }
    }

    ul,
    ol {
        padding-left: 1.4rem;
        margin-bottom: 1.75rem;
        font-size: 1.125rem;
    }

    // pull lists upward to text above if any.
    .navds-body-long + ul,
    .navds-body-long + ol {
        margin-top: -1rem;
    }
}
