@use 'common' as common;

.htmlArea {
    margin-bottom: var(--a-spacing-9);
}

:global(.part__html-area):last-child {
    .htmlArea > :last-child {
        margin-bottom: 0;
    }
}

:global(.part__html-area):first-child {
    .htmlArea > :first-child {
        margin-top: 0;
    }
}
