.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--a-green-100);
    padding: var(--a-spacing-5);
    margin-bottom: var(--a-spacing-5);
}

.serverInfo {
    :global(.navds-alert__wrapper) > :not(:last-child) {
        margin-bottom: var(--a-spacing-1);
    }
}
