.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--ax-success-200);
    padding: var(--ax-space-20);
    margin-bottom: var(--ax-space-20);
}

.serverInfo {
    :global(.navds-alert__wrapper) > :not(:last-child) {
        margin-bottom: var(--ax-space-4);
    }
}
