@use 'common' as common;

.banner {
    display: flex;
    justify-content: space-between;
    gap: var(--ax-space-16);
    width: calc(100% - var(--ax-space-12));

    text-decoration: none;
    color: var(--ax-text-neutral);
    margin-top: var(--ax-space-16);
    padding: var(--ax-space-28);
    background-color: var(--ax-danger-300);
    border-radius: var(--ax-radius-8);

    transition: background-color 200ms ease-out;

    &:hover {
        background-color: var(--ax-danger-400);
    }

    &:focus {
        @include common.panel-focus-mixin();
    }

    @media #{common.$mq-screen-mobile} {
        padding: var(--ax-space-24) var(--ax-space-20);
        transform: none;
        width: 100%;
    }
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: var(--ax-space-28);
    justify-content: center;
    width: 100%;

    > * {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        font-size: var(--ax-font-size-heading-medium);
        font-weight: var(--ax-font-weight-bold);
    }
}

.icon {
    align-self: center;
}
