@use 'common' as common;

.banner {
    display: flex;
    justify-content: space-between;
    gap: var(--a-spacing-4);
    width: calc(100% - var(--a-spacing-3));

    text-decoration: none;
    color: var(--a-text-default);
    margin-top: var(--a-spacing-4);
    padding: var(--a-spacing-7);
    background-color: var(--a-red-50);
    border-radius: var(--a-border-radius-large);

    transition: background-color 200ms ease-out;

    &:hover {
        background-color: var(--hover-color);
    }

    &:focus {
        @include common.panel-focus-mixin();
    }

    @media #{common.$mq-screen-mobile} {
        padding: var(--a-spacing-6) var(--a-spacing-5);
        transform: none;
        width: 100%;
    }
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: var(--a-spacing-7);
    justify-content: center;
    width: 100%;

    > * {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        font-size: var(--a-font-size-heading-medium);
        font-weight: var(--a-font-weight-bold);
    }
}

.icon {
    align-self: center;
}
