@import '../AreaCardPart.module.scss';

.compass {
    @include transitionMixin;
    position: absolute;
    width: 48px;
    height: 48px;
    right: 0px;
    top: 112px;

    :hover > & {
        right: 200px;
        transform: rotate(45deg);
    }
}

.letterS {
    @include transitionMixin;
    position: absolute;
    right: -74px;
    top: 0px;

    :hover > & {
        right: 1px;
    }
}

.mask {
    background-color: var(--navds-global-color-deepblue-100);

    @include transitionMixin;
    position: absolute;
    width: 145px;
    height: 245px;
    right: -30px;
    top: -45px;
    transform: rotate(22.09deg);

    :hover > & {
        right: -184px;
    }
}

.heart {
    @include transitionMixin;
    position: absolute;
    width: 48px;
    height: 40.08px;
    right: 64px;
    top: 30px;

    :hover > & {
        width: 56px;
        height: 48px;
        right: 98px;
        top: 91px;
    }
}

.hand {
    @include transitionMixin;
    position: absolute;
    width: 98px;
    height: 45.96px;
    right: 37px;
    top: 80.08px;

    :hover > & {
        right: 79px;
        top: 114px;
    }
}
