.text {
    // Siden processedHtml er en p-tag, må vi legge til important for å overstyre margin-bottom for å få riktig avstand
    margin-bottom: 0 !important;

    :global(.aksel-body-long.aksel-body-long--medium) {
        color: black;
        margin-bottom: 0;
    }

    :global(.aksel-body-long) {
        margin-bottom: var(--ax-space-16);
    }
}
