@use 'sass:math';
@use 'common' as common;

.pageWithSideMenus {
    display: block;
    padding-top: var(--a-spacing-16);

    :global(.region__intro) {
        margin-bottom: var(--a-spacing-9);
    }

    :global(.region__pageContent),
    :global(.region__topPageContent) {
        display: flex;
        flex-direction: column;
    }
}

.pullUp {
    padding-top: 0;
}

.bottomContent {
    position: relative;
    grid-column: 1 / -1;

    :global(.region) {
        position: relative;
    }
}

@media #{common.$mq-screen-desktop} {
    .pageWithSideMenus {
        display: grid;
        grid-template-columns: minmax(0, min(42.5rem, 100%)) minmax(0, min(22.5rem, 30%));
        column-gap: 8.5rem;
        padding-left: 8rem;
    }

    .mainContent {
        display: contents;
        > * {
            grid-column: 1;
        }
    }

    .pageNavigationMenu {
        grid-column: 2;
        grid-row: 1 / 5;
        height: max-content;
        position: sticky;
        top: calc(var(--decorator-sticky-offset) + var(--a-spacing-6));
    }
}
