@use 'sass:math';
@use 'common' as common;

.pageWithSideMenus {
    padding-top: var(--a-spacing-16);
    padding-bottom: var(--a-spacing-16);

    :global(.region__intro) {
        margin-bottom: var(--a-spacing-9);
    }

    :global(.region__pageContent),
    :global(.region__topPageContent) {
        display: flex;
        flex-direction: column;
    }
}

.pullUp {
    padding-top: 0;
}

.mobileExpandableMenu {
    position: fixed;
    top: var(--decorator-sticky-offset);
    z-index: 100;
    width: calc(100% - var(--a-spacing-8));

    opacity: 0;
    transform: translateY(-1.5rem);
    transition:
        opacity 200ms ease-out,
        transform 200ms ease-out;

    &.show {
        opacity: 1;
        transform: translateY(0);
    }

    :global(.navds-expansioncard__title),
    :global(.navds-expansioncard__content) {
        margin-bottom: 0; //overstyr global-override-styles.scss
    }
}

.mobileExpandableMenuHeader {
    display: flex;
    align-items: center;

    background-color: var(--a-blue-50) !important;
    color: var(--a-blue-600);
    border: none !important;
    outline: 2px solid white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@media #{common.$mq-screen-desktop} {
    .pageWithSideMenus {
        display: grid;
        grid-template-columns:
            [content-start] minmax(0, min(42.5rem, 100%))
            [space-start] clamp(2.5rem, -6.5rem + 15vw, 8.5rem)
            [space-end] minmax(0, min(22.5rem, 30%))
            [content-end];
        padding-left: 8rem;
    }

    .mainContent {
        display: contents;
        > * {
            grid-column: content-start;
        }
    }

    .pageNavigationMenu {
        grid-column: space-end;
        grid-row: 2 / 6;
    }

    .mobileExpandableMenu {
        display: none;
    }
}
