.publikumsmottak {

  &__header {
    margin-bottom: 1rem;
  }

  table {
    margin: 0.5rem 0 1.4rem;
    border: none;
    width: auto;
    line-height: 1.15em;

    th,
    td {
      vertical-align: top;
      padding: 0 1rem 0 0;
    }

    tr:first-child th{
      color: #3e3832;
      background-color: #fff;
      border-bottom: 1px solid rgba(0, 0, 0, 0.55);
      font-weight: 600;
      line-height: 1.375rem;
    }

    tr:nth-child(even) {
      color: #3e3832;
      font-size: 1rem;
      background-color: rgba(0, 0, 0, 0.03);
      border-top: 1px solid rgba(0, 0, 0, 0.15);
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      font-weight: 400;
      padding: 1rem;
      line-height: 1.375rem;
    }
    tr:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.55);
    }

    tr:first-child th strong,
    tr:first-child td strong {
      font-size: 1.1rem;
      font-weight: 700;
    }

    th p:last-child,
    td p:last-child {
      margin: 0;
    }
  }
}
