@use 'common' as common;

.officeEditorialPage {
    display: flex;
    flex-direction: column;

    :global {
        .layout__section-with-header {
            margin-bottom: var(--ax-space-32);
        }
    }

    .content {
        align-self: center;
        display: flex;
        justify-content: flex-start;
        margin-top: var(--ax-space-32);
        max-width: common.$contentMaxWidth;
        width: 100%;

        & > * {
            width: 100%;
        }
    }
}
