@use 'common' as common;

.officeEditorialPage {
    display: flex;
    flex-direction: column;

    .content {
        align-self: center;
        display: flex;
        justify-content: flex-start;
        margin-top: 2rem;
        max-width: common.$contentMaxWidth;
        width: 100%;

        & > * {
            width: 100%;
        }
    }
}
