@use 'src/common' as common;

$paddingVertical: 2rem;
$paddingHorizontal: $paddingVertical * 1.62;

.globalValuesPage {
    width: 100%;
    background-color: white;
    padding: $paddingVertical $paddingHorizontal;
    border: 4px solid common.$navds-global-color-green-200;

    .headerRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .sortSelector {
        width: 100%;
        max-width: 10rem;
    }

    .content {
        display: flex;
        width: 100%;

        @media #{common.$mq-screen-mobile} {
            flex-direction: column;
        }
    }

    .leftCol {
        min-width: 60%;
        width: 100%;
    }

    .subHeaderRow {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 0.75rem;
    }
}
