// This is an override mixin specific for product and livesituation pages.
// To be removed when DS has updated design packages.

.product-mixins() {
    .part__html-area {
        &:not(:first-child) {
            margin-top: 0;
        }

        .html-area {
            margin-top: 0;

            > .typo-normal,
            ul {
                margin-bottom: 2rem;
            }
        }

        .expandable {
            margin-bottom: 1rem;
            .typo-normal:last-of-type {
                margin-bottom: 0;
            }
        }

        // The very final paragraph in a section to have no margin-bottom.
        &:last-of-type {
            .typo-normal:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    // Cards that immediately follows a html-area should
    // have less distance to text above. Counteract with negative margin-top.
    .part__html-area + .part__product-card-mini {
        .card {
            margin-top: -0.8rem;
        }
    }

    // If a mini card has been placed within a html-area via macros
    .part__html-area .html-area .card {
        margin-top: -0.9rem;
        margin-bottom: 2.5rem;
    }

    .part__product-card-micro {
        margin-bottom: 2.5rem;
    }

    // Correct spacing for multiple mini cards.
    .part__product-card-mini + .part__product-card-mini {
        margin-top: 0;
    }

    // If mini card is the very last element, skip margin bottom.
    .part__product-card-mini:last-child {
        .card {
            margin-bottom: 0;
        }
    }

    // Microcards should have less distance to header if used, so
    // counteract with negative margin-top.
    .part__dynamic-header + .part__product-card-micro {
        margin-top: -0.5rem;
    }
}
