// This is an override mixin specific for product and livesituation pages.
// To be removed when DS has updated design packages.

.product-mixins() {
    .part__html-area {
        .expandable {
            // Override Ekspanderbart Panel styling
            margin-bottom: 1.75rem;
        }
    }

    // h3 signifies a new "sub chapter" within a section.
    // should have extra spacing above content, but only if
    // not the topmost element within region. Except first-child.
    .part {
        h3 {
            margin-top: 2.75rem;
        }
    }

    .region__content {
        > :first-child {
            h3:first-child {
                margin-top: 0;
            }
        }
    }

    // The very last child of the very last part or fragment
    // within a region__content should not have margin-bottom.
    // Reason for select all (">"): fragments are inserted without a class,
    // so just select any child that may contain any of the elements.
    .region__content {
        > :last-child {
            .tabell:last-child,
            .card:last-child,
            .calculator,
            ul:last-child,
            p:last-child {
                margin-bottom: 0rem;
            }
        }
    }
}
