@import (reference) '../../../global';

.filters-menu {
    &__wrapper {
        box-shadow: @navBlaLighten60 inset 0 0 0 8px;
        border-radius: 0.2em;
        padding: 2.5em;
        background-color: white;

        .ekspanderbartPanel {
            border-bottom: 0;

            .ekspanderbartPanel__hode {
                border-bottom: 2px solid #e7e9e9;
            }

            .ekspanderbartPanel__innhold {
                padding-left: 0;
            }
        }

        .checkboxgruppe {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            margin-top: 1.5em;
        }
    }

    &__introduction {
        margin: 1.5em 0;
    }
}
