@import (reference) '../../../common';

.filters-menu {
    &__wrapper {
        box-shadow: @navds-global-color-blue-200 inset 0 0 0 8px;
        border-radius: 0.2em;
        background-color: white;

        .section-padding-mixin();

        .ekspanderbartPanel {
            border-bottom: 0;

            .ekspanderbartPanel__innhold {
                padding-left: 0;
            }
        }
    }

    &__category.navds-fieldset {
        margin-top: 1.5em;

        .navds-fieldset__legend {
            font-size: @navds-font-size-large;
        }

        .navds-checkboxes {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }

        .filter-checkbox__label {
            font-size: #px-to-rem(14px) [];
        }
    }

    &__introduction {
        margin: 1.5em 0;
    }
}
