@use 'src/common' as common;

.overviewFilter {
    display: flex;
    flex-direction: column;
}

.filterWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 1rem;
    padding: 0;
}

.filterButton {
    background-color: common.$a-deepblue-50;
    box-shadow: none;

    padding-left: common.$a-spacing-3;

    &:hover {
        background-color: common.$a-deepblue-100;
    }

    &:hover:not(:focus) {
        box-shadow: none;
    }

    svg {
        display: none;
    }
}
