@use 'common' as common;

.contactStepPage {
    padding-bottom: 1rem;
    display: grid;
    row-gap: var(--a-spacing-5);
    margin: 1.25rem auto var(--a-spacing-10);
    grid-template-areas:
        'header'
        'content'
        'link';

    @media #{common.$mq-screen-tablet-and-desktop} {
        grid-template-columns: 6rem 2fr 6rem;
        grid-template-areas:
            'pictogram header .'
            '. content .'
            '. link .';
        column-gap: var(--a-spacing-10);
    }
}

.pictogram {
    grid-area: pictogram;
    display: none;

    @media #{common.$mq-screen-tablet-and-desktop} {
        display: block;
    }
}
.header {
    grid-area: header;
}

.content {
    grid-area: content;

    & > * {
        border-radius: common.$border-radius-large;
    }
}

.link {
    grid-area: link;
}

/* Innrykk i ekspanderende paneler */
.header :global(.navds-expansioncard__content) {
    @media #{common.$mq-screen-desktop} {
        padding-left: 82px;
    }
}

.steps {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.linkPanel {
    border-radius: 8px;
    border: 1px solid var(--a-border-subtle);

    & :global {
        .navds-link-panel__title {
            color: var(--default-action-color);
            font-size: 1.25rem;
        }
    }
}