.contactStepPage {
    padding-bottom: 1rem;
    row-gap: var(--a-spacing-2);
    column-gap: var(--a-spacing-2);
    margin: 1.25rem auto var(--a-spacing-10);
    display: grid;
    grid-template-columns: 1fr 40rem 1fr;
    grid-template-areas:
        'pictogram header .'
        '. content .'
        '. backLink .';

    @media only screen and (max-width: 1024px) {
        grid-template-columns: none;
        grid-template-areas:
            '. pictogram .'
            '. header .'
            '. content .'
            '. backLink .';
    }
    .pictogram {
        grid-area: pictogram;
        display: block;
        justify-self: end;
        width: 4.5rem;
        height: auto;
        position: relative;
        display: block;
        align-self: flex-start;

        @media only screen and (max-width: 1024px) {
            width: 4rem;
            justify-self: start;
        }
    }
    .header {
        grid-area: header;
    }

    .content {
        grid-area: content;

        .linkPanels {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            list-style-type: none;
            padding: 0;

            .linkPanel {
                border-radius: 6px;
                border: 1px solid var(--a-border-subtle);

                & :global {
                    .navds-link-panel__title {
                        color: var(--default-action-color);
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }

    .backLink {
        grid-area: backLink;
    }
}
