@use 'common' as common;

.mainPanels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.25rem;
    text-align: center;
    width: 100%;

    @media #{common.$mq-screen-mobile} {
        @include common.flex-cols-mixin(1, var(--a-spacing-4), var(--a-spacing-4));
    }

    @media #{common.$mq-screen-tablet} {
        @include common.flex-cols-mixin(2, var(--a-spacing-4), var(--a-spacing-4));
    }

    @media #{common.$mq-screen-desktop} {
        @include common.flex-cols-mixin(3, var(--a-spacing-4), var(--a-spacing-4));
    }

    .item {
        padding: 1.5rem;
    }
}
