@import (reference) '../../../../global';

.fragment-macro-usage {
    padding: 1rem 2rem;
    background-color: white;
    margin-bottom: 1rem;
    border: 2px solid @navGronnLighten60;
    border-radius: @border-radius-large;

    &__header {
        display: flex;
        align-items: center;
    }

    &__button {
        margin-left: 1rem;
    }

    &__page-usage {
        margin-top: 0.25rem;
    }
}
