@use 'common' as common;

.container {
    background-color: common.$a-bg-subtle;
    width: 100%;
    min-height: 100vh;
    padding: 1.25rem;
}

.content {
    & > * {
        background-color: white;
        padding: 1.25rem;
        &:not(:last-child) {
            margin-bottom: 0.75rem;
        }
    }
}
