@use 'src/common' as common;

.card {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem;
    border-radius: 8px;

    background-color: white;

    text-decoration: none;
    cursor: pointer;

    &:hover {
        .text {
            color: var(--a-text-action);
            // border-bottom-color: transparent;
        }
    }

    @media #{common.$mq-screen-mobile-small} {
        padding: 0.625rem;
    }
}

.illustration {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;

    @media #{common.$mq-screen-mobile-small} {
        width: 3rem;
        height: 3rem;
    }
}

.text {
    color: var(--a-text-default);

    transition-property: border-bottom-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;

    // border-bottom: 1px var(--a-text-action) solid;
    // border-bottom-color: var(--a-text-default);

    @media #{common.$mq-screen-mobile-small} {
        font-size: 1.25rem;
    }
}
