@use 'src/common' as common;

.card {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem;
    border-radius: 8px;

    color: var(--a-text-default);
    background-color: white;

    text-decoration: none;
    cursor: pointer;
}

.illustration {
    flex-basis: 4rem;
    flex-shrink: 0;

    @media #{common.$mq-screen-mobile-small} {
        flex-basis: 3rem;
    }
}

.text {
    @media #{common.$mq-screen-mobile-small} {
        font-size: 1.25rem;
    }
}
