@use 'src/common' as common;

.shortcuts {
    background-color: common.$navPink;
    padding-top: 2.75rem;
    padding-bottom: 4rem;

    @include common.full-width-mixin();
}

.header {
    margin-bottom: 1.5rem;
}

.list {
    @include common.grid-layout-mixin(3);
}

.item {
    background-color: white;

    :global(.linkPanelNavnoIcon) {
        margin-right: 1.5rem;
    }
}
