@use 'src/common' as common;

.frontpageShortcuts {
    background-color: rgba(255, 230, 230, 1);
    padding: 2em;
    margin-bottom: 0.5rem;
    @include common.full-width-mixin();
}

.header {
    margin-bottom: 2em;
}

.shortcutList {
    display: flex;
    flex-direction: row;
}

.shortcutItem {
    margin: 0 1em 1.5em 0;
    flex: 1;

    &:last-child {
        margin-right: 0;
    }
}
