.section-page {
    @numCols: 3;
    @margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__tittel {
        text-align: center;
        margin-bottom: 2rem;
    }

    .transport-page {
        margin-top: 2rem;
    }

    &__table-contents {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    &__table-item {
        text-align: start;
        width: calc(percentage(1 / @numCols) - @margin);
        margin-bottom: @margin;
        padding: 1.5rem;
        &:not(:nth-child(@{numCols}n)) {
            margin-right: @margin;
        }
    }

    &__content-lists {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        width: 100%;
    }

    &__content-list {
        width: calc(percentage(1 / @numCols) - 1rem);
    }

    &__nyheter {
        display: flex;
        flex-direction: column;
    }

    &__flere-nyheter {
        align-self: center;
        padding: 0.5rem;
        margin-top: 0.5rem;
    }
}
