.kalkulator {
    margin-bottom: var(--ax-space-28);
}

.title {
    margin-bottom: var(--ax-space-12);
}

.calculateButton {
    color: var(--default-action-color);
    box-shadow: inset 0 0 0 2px var(--default-action-color);
    margin-top: var(--ax-space-16);
}

.calculateIcon {
    width: var(--ax-space-24);
    height: var(--ax-space-24);

    path {
        fill: var(--default-action-color);
    }
}
