@use 'common' as common;

.expandable {
    border-bottom: 1px var(--a-deepblue-100) solid;
    border-radius: 0;
    --__ac-expansioncard-border-width: 0;

    &:global(.navds-expansioncard--open) {
        :global(.navds-expansioncard__header) {
            border-radius: common.$border-radius-xlarge;
        }
    }
}

.expandableHeader {
    padding: var(--a-spacing-5);
    border-radius: common.$border-radius-xlarge;

    @media #{common.$mq-screen-mobile} {
        padding: var(--a-spacing-3);
    }

    &:after {
        display: none;
    }

    &:hover,
    &:focus {
        background-color: var(--a-deepblue-100);
        color: var(--a-text-default);
        box-shadow: 0 0 0 0;
        outline: 5px solid var(--a-bg-default);

        & + :global(.navds-expansioncard__content) {
            box-shadow: 0 0 0 0;
        }

        .illustration {
            & > :first-child:not(:last-child) * {
                fill: var(--a-white);
            }
        }
    }

    :global(.navds-expansioncard__header-content) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--a-spacing-4);
    }

    :global(.navds-expansioncard__header-button) {
        align-self: center;
    }
}

.expandableContent {
    padding: var(--a-spacing-3) var(--a-spacing-3) var(--a-spacing-7);

    @media #{common.$mq-screen-tablet-and-desktop} {
        padding-left: calc(64px + var(--a-spacing-4) + var(--a-spacing-5));
    }

}

.illustration {
    width: 56px;
    height: 56px;
    flex-shrink: 0;

    @media #{common.$mq-screen-mobile} {
        width: 40px;
        height: 40px;
    }

    & > :first-child:not(:last-child) * {
        fill: var(--a-deepblue-100);
    }
}

.copyLink {
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;

    :global(.navds-loader) {
        margin-bottom: 1rem;
    }
}

.panelHeader {
    display: flex;
    flex-direction: column;
    font-weight: var(--a-font-weight-bold);
    font-size: var(--a-font-size-heading-small);
    word-break: break-word;

    > * {
        line-height: 1.5;
    }
}

.ingress {
    color: var(--a-gray-700);
    text-wrap: pretty;
}
