@use 'common' as common;

.expandable {
    border-bottom: 1px var(--a-deepblue-100) solid;
    border-radius: 0;
    --__ac-expansioncard-border-width: 0;

    &:global(.navds-expansioncard--open) {
        :global(.navds-expansioncard__header) {
            border-radius: var(--a-border-radius-large);
        }
    }
}

.expandableHeader {
    padding: var(--a-spacing-5) var(--a-spacing-1) var(--a-spacing-5) var(--a-spacing-3);
    gap: var(--a-spacing-4);
    border-radius: var(--a-border-radius-large);

    &:after {
        display: none;
    }

    &:hover,
    &:focus {
        background-color: var(--a-deepblue-100);
        color: var(--a-text-default);
        box-shadow: none;
        outline: 5px solid var(--a-bg-default);

        & + :global(.navds-expansioncard__content) {
            box-shadow: none;
        }
        .illustration :global(.back) [fill]:not([fill='none']) {
            fill: var(--a-white);
        }
    }

    &:hover :global(.navds-expansioncard__header-button) {
        background-color: transparent;
    }

    &.alignCenter {
        :global(.navds-expansioncard__header-content) {
            align-items: center;
        }
    }

    :global(.navds-expansioncard__header-content) {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: var(--a-spacing-4);
    }

    :global(.navds-expansioncard__header-button) {
        align-self: center;
    }
}

.expandableContent {
    padding: var(--a-spacing-1) var(--a-spacing-3) var(--a-spacing-7);

    // Remove when we remove the old overview pages.
    &:not(.noLeftPadding) {
        @media #{common.$mq-screen-tablet-and-desktop} {
            padding-left: 76px;
        }
    }
}

.illustration {
    width: var(--a-spacing-12);
    height: var(--a-spacing-12);
    flex-shrink: 0;

    :global(.back) [fill]:not([fill='none']) {
        fill: var(--a-deepblue-100);
    }
    :global(.back) [stroke] {
        stroke: var(--a-deepblue-100);
    }
}

.copyLink {
    margin-bottom: var(--a-spacing-6);
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;

    :global(.navds-loader) {
        margin-bottom: var(--a-spacing-4);
    }
}

.panelHeader {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: var(--a-font-size-xlarge);
    font-weight: var(--a-font-weight-bold);
    word-break: break-word;
}

.ingress {
    color: var(--a-text-subtle);
    text-wrap: pretty;
}
