@use 'common' as common;

.expandable {
    border-bottom: 1px var(--a-deepblue-100) solid;
    border-radius: 0;
    --__ac-expansioncard-border-width: 0;

    &:global(.navds-expansioncard--open) {
        :global(.navds-expansioncard__header) {
            border-radius: common.$border-radius-xlarge;
        }
    }
}

.expandableHeader {
    padding: var(--a-spacing-5);
    gap: var(--a-spacing-4, 1rem);
    border-radius: common.$border-radius-xlarge;

    @media #{common.$mq-screen-mobile} {
        padding: var(--a-spacing-3) 0;
    }

    &:after {
        display: none;
    }

    &:hover,
    &:focus {
        background-color: var(--a-deepblue-100);
        color: var(--a-text-default);
        box-shadow: 0 0 0 0;
        outline: 5px solid var(--a-bg-default);

        & + :global(.navds-expansioncard__content) {
            box-shadow: 0 0 0 0;
        }

        .illustration {
            & > :first-child:not(:last-child) * {
                fill: var(--a-white);
            }
        }
    }

    :global(.navds-expansioncard__header-content) {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: var(--a-spacing-4);
    }

    :global(.navds-expansioncard__header-button) {
        align-self: center;
    }

    @media #{common.$mq-screen-mobile} {
        :global(.navds-expansioncard__header-button) {
            transform: translateX(10px);
        }
    }
}

.expandableContent {
    padding: var(--a-spacing-1) var(--a-spacing-3) var(--a-spacing-7);

    // Remove when we remove the old overview pages.
    &:not(.noLeftPadding) {
        @media #{common.$mq-screen-tablet-and-desktop} {
            padding-left: 82px;
        }
    }
}

.illustration {
    width: 48px;
    height: 48px;
    flex-shrink: 0;

    & > :first-child:not(:last-child) * {
        fill: var(--a-deepblue-100);
    }
}

.copyLink {
    margin-bottom: var(--a-spacing-6);
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;

    :global(.navds-loader) {
        margin-bottom: 1rem;
    }
}

.panelHeader {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    font-weight: var(--a-font-weight-bold);
    word-break: break-word;

    > * {
        line-height: 1.5;
    }

    @media #{common.$mq-screen-mobile} {
        font-size: 20px;
    }
}

.ingress {
    color: var(--a-text-subtle);
    text-wrap: pretty;
}
