@use 'common' as common;

.expandable {
    border: none;
    box-shadow: none;
    border-bottom: 1px var(--ax-brand-blue-300) solid;
    border-radius: 0;
}

.expandableHeader {
    padding: var(--ax-space-20) var(--ax-space-4) var(--ax-space-20) var(--ax-space-12);
    gap: var(--ax-space-16);
    border-radius: var(--ax-radius-8);

    &:after {
        display: none;
    }

    &:hover,
    &:focus {
        background-color: var(--ax-brand-blue-300);
        color: var(--ax-text-neutral);
        box-shadow: none;
        outline: 5px solid var(--ax-bg-default);

        & + :global(.aksel-expansioncard__content) {
            box-shadow: none;
        }
        .illustration :global(.back) [fill]:not([fill='none']) {
            fill: white;
        }
    }

    &:hover :global(.aksel-expansioncard__header-button) {
        background-color: transparent;
    }

    &.alignCenter {
        :global(.aksel-expansioncard__header-content) {
            align-items: center;
        }
    }

    :global(.aksel-expansioncard__header-button) {
        align-self: center;
    }
}

.expandableContent {
    // Remove when we remove the old overview pages.
    &:not(.noLeftPadding) {
        @media #{common.$mq-screen-tablet-and-desktop} {
            padding-left: 76px;
        }
    }
}

.illustration {
    width: var(--ax-space-48);
    height: var(--ax-space-48);
    flex-shrink: 0;

    :global(.back) [fill]:not([fill='none']) {
        fill: var(--ax-brand-blue-300);
    }
    :global(.back) [stroke] {
        stroke: var(--ax-brand-blue-300);
    }
}

.copyLink {
    margin-bottom: var(--ax-space-24);
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;

    :global(.aksel-loader) {
        margin-bottom: var(--ax-space-16);
    }
}

.title {
    margin-top: 0;
}

.ingress {
    text-wrap: pretty;
}
