@import (reference) '../../../global';
@import (reference) '~nav-frontend-knapper-style/src/mixins';

.knapp {
    &__custom {
        text-transform: none;
        transition: transform 0.15s linear;
        white-space: break-spaces;
        text-align: center;

        @media @screen-mobile {
            .knappkompakt-mixin();
        }
    }

    &__icon {
        height: #round-rem(1.35rem) [];
        margin-right: #round-rem(0.5rem) [];
    }

    &__fullwidth {
        width: 100%;
    }
}
