@use 'src/common' as common;

.button {
    white-space: break-spaces;

    &:global(.buttonPart) {
        margin-bottom: var(--a-spacing-7);
    }
    &__icon {
        height: 1.5rem;
    }
    &--fullWidth {
        width: 100%;
    }
    :global(.navds-label) {
        text-align: center;
    }
}
