@import (reference) '../../../global';

.button {
    text-transform: none;
    transition: transform 0.15s linear;
    white-space: break-spaces;
    text-align: center;

    &__icon {
        height: #round-rem(1.5rem) [];
        margin-right: #round-rem(0.5rem) [];
    }

    &--fullWidth {
        width: 100%;
    }
}
