.icon {
    align-items: center;
    align-self: flex-start;
    background-color: var(--ax-bg-accent-soft);
    border-radius: var(--ax-radius-full);
    display: flex;
    flex: 1;
    justify-content: center;
    min-height: var(--ax-space-40);
    min-width: var(--ax-space-40);
    max-height: var(--ax-space-40);
    max-width: var(--ax-space-40);
    margin-top: calc(-1 * var(--ax-space-6));

    img {
        width: var(--ax-space-20);
        height: auto;
    }
}

.writeIcon {
    transform: translateX(2px);
}
