.icon {
    align-items: center;
    align-self: flex-start;
    background-color: var(--a-white);
    border-radius: var(--a-border-radius-full);
    display: flex;
    flex: 1;
    justify-content: center;
    min-height: var(--a-spacing-11);
    min-width: var(--a-spacing-11);
    max-height: var(--a-spacing-11);
    max-width: var(--a-spacing-11);
    margin-top: -0.5rem;

    img {
        width: 25px;
        height: auto;
    }
}

.writeIcon {
    transform: translateX(2px);
}
