.icon {
    align-items: center;
    align-self: flex-start;
    background-color: var(--a-white);
    border-radius: var(--ax-radius-full);
    display: flex;
    flex: 1;
    justify-content: center;
    min-height: var(--ax-space-44);
    min-width: var(--ax-space-44);
    max-height: var(--ax-space-44);
    max-width: var(--ax-space-44);
    margin-top: -0.5rem;

    img {
        width: 25px;
        height: auto;
    }
}

.writeIcon {
    transform: translateX(2px);
}
