@use 'src/common' as common;

$desktopHeight: 70px;

.frontpageHeader {
    visibility: visible;
    overflow: hidden;
    opacity: 1;

    @media #{common.$mq-screen-desktop} {
        max-height: $desktopHeight;

        transition-property: max-height, visibility, transform, opacity;
        transition-duration: 400ms;
        transition-timing-function: ease-in-out;
    }
}

.hidden {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY($desktopHeight);
}
