@use 'common' as common;

.page {
    display: grid;
    margin: 1.25rem auto var(--a-spacing-10);
    grid-template-columns: 1fr minmax(0, 40rem) 1fr;
    grid-template-areas: 'pictogram content .';
    column-gap: 1.75rem;

    @media #{common.$mq-screen-tablet-and-mobile} {
        grid-template-areas:
            '. pictogram .'
            '. content .';
      column-gap: 0;
    }
}

.content {
    grid-area: content;
}

.pictogram {
    grid-area: pictogram;
    width: 6rem;
    height: 6rem;
    display: block;

    justify-self: end;
    position: relative;
    align-self: flex-start;
    margin-bottom: 1.25rem;

    @media #{common.$mq-screen-tablet-and-mobile} {
        width: 4rem;
        justify-self: start;
    }
}

/* Innrykk i ekspanderende paneler */

.main :global(.navds-expansioncard__content) {
    @media #{common.$mq-screen-desktop} {
        padding-left: 82px;
    }
}
