@use 'common' as common;

.page {
    display: grid;
    gap: var(--a-spacing-10);

    margin: 1.25rem auto var(--a-spacing-10);
    grid-template-areas:
        'main';

    @media #{common.$mq-screen-tablet-and-desktop} {
        grid-template-columns: 6rem auto 6rem;
        grid-template-areas:
            'pictogram main .'
    }
}

.main {
    grid-area: main;
}

.pictogram {
    display: none;
    grid-area: pictogram;

    @media #{common.$mq-screen-tablet-and-desktop} {
        width: 6rem;
        height: 6rem;
        display: block;
    }
}

/* Innrykk i ekspanderende paneler */

.main :global(.navds-expansioncard__content) {
    @media #{common.$mq-screen-desktop} {
        padding-left: 82px;
    }
}
