@import (reference) '../../../common';

.part {
    .card-heading {
        margin-bottom: 0.5rem;
    }

    .card {
        display: block;
        margin-bottom: 1.75rem;
        outline: 0;
        text-decoration: none;
        width: 100%;

        &__inline {
            display: inline-block;
            width: auto;
        }

        &__inline:not(:last-child) {
            margin-bottom: 0;
        }

        .card__bed {
            transition: all 0.3s;
            height: 100%;
        }

        
        @media (hover: hover) {
            &:hover, &:focus-visible {

                .card__situation {
                    background-color: @navds-global-color-orange-200;
                }
        
                .card__product {
                    background-color: @navds-global-color-green-200;
                }
        
                .card__tool {
                    background-color: @navds-global-color-deepblue-200;
                }

                .card__title,
                .card__description,
                .card__category {
                    text-decoration: none;
                    color: @navds-global-color-gray-900;
                }
            }
        }

        &:focus-visible, &:active {
            .card__bed {
                position: relative;
                box-shadow: 0 0 0 3px @navds-semantic-color-link;

                &:after {
                    content: '';
                    box-shadow: 0 0 0 4px #ffffff inset;
                    width:100%;
                    height: 100%;
                    display: block;
                    background-color: transparent;
                    border-radius: 8px;
                    margin:0px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            .card__bed.card__micro {

                &:after {
                    content: '';
                    box-shadow: 0 0 0 2px #ffffff inset;
                    width:100%;
                    height: 100%;
                    display: block;
                    background-color: transparent;
                    border-radius: 16px;
                    margin:0px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            

            .card__title,
            .card__description,
            .card__category {
                text-decoration: none;
            }
        }
    }
}
