@import (reference) '../../../global';

.part {
    .card-heading {
        margin-bottom: 0.5rem;
    }

    .card {
        outline: 0;
        text-decoration: none;
        display: block;
        margin-bottom: 1.75rem;

        &__inline {
            display: inline-block;
        }

        &__inline:not(:last-child) {
            margin-bottom: 0;
        }

        .card__bed {
            transition: all 0.3s;
            height: 100%;
        }

        @media (hover: hover) {
            &:hover:not(:active) {
                .card__bed {
                    height: 100%;
                    box-shadow: 0 0 0 2px @navBla;
                    background-color: #ffffff;
                }

                .card__title,
                .card__description,
                .card__category {
                    text-decoration: none;
                    color: @navMorkGra;
                }

                .card__product,
                .card__tool,
                .card__situation {
                    background-color: #ffffff;

                    .card__title {
                        color: @navBla;
                    }
                }
            }
        }

        &:focus-visible {
            .card__bed {
                box-shadow: 0 0 0 4px @fokusFarge;
            }
            .card__product,
            .card__situation {
                background-color: #ffffff;
            }
            .card__title,
            .card__description,
            .card__category {
                color: @navBla;
                text-decoration: none;
            }
        }

        &:active {
            .card__mini,
            .card__micro,
            .card__large {
                background-color: @navBlaDarken40;
            }

            .card__title,
            .card__description,
            .card__category {
                color: #ffffff;
                text-decoration: none;
            }

            .illustration__icon--icon2 {
                filter: brightness(0) invert(1);
            }

            .illustration__icon--icon1 {
                filter: invert(49%) sepia(37%) saturate(3786%)
                    hue-rotate(192deg) brightness(92%) contrast(90%);
            }
        }
    }
}
