@import (reference) '../../../global';

.card {
    &__large {
        background-color: #ffffff;
        border-radius: 4px;

        display: block;
        padding: 1.5rem;
        text-decoration: none;
        width: 100%;

        .card__wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .product,
        .provider,
        .situation {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .card__illustration {
            height: #px-to-rem(96) [];
            width: #px-to-rem(96) [];
            align-self: center;
            margin-top: 0;
            margin-bottom: 2.3rem;
        }

        .card__title {
            text-decoration: underline;
            color: @navds-global-color-gray-900;
            margin-bottom: 1rem;
        }

        .illustration__lottie-container {
            display: block;
            width: #px-to-rem(96) [];
            height: #px-to-rem(96) [];
        }

        .card__description {
            color: @navds-global-color-gray-900;
            font-weight: 400;
            margin-bottom: 2rem;
        }

        .card__category {
            color: @navds-global-color-gray-800;
            font-size: 0.875rem;
            font-weight: 400;
            margin-top: auto; // Aligns category to bottom inside flexbox
            text-transform: uppercase;
        }

        /* Card type specific styling */
        &:not(:focus-visible)&:not(:hover) {
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14),
                0 2px 1px rgba(38, 38, 38, 0.12),
                0 1px 3px rgba(38, 38, 38, 0.2);
        }

        &.card__product,
        &.card__situation {
            min-height: #px-to-rem(400) [];
        }

        &.card__provider {
            .card__title {
                color: @navds-semantic-color-link;
            }
        }
    }
}
