@import (reference) '../../../global';

.card {
    padding: 0.7rem 0;

    &__inline {
        display: inline-block;
    }

    &__micro {
        border-radius: 16px;
        color: @navMorkGra;
        display: inline-flex;
        margin: 0rem 0.5rem 0 0;
        padding: 0rem 0.5rem;
        text-decoration: none;

        &.card__situation {
            background-color: @navOransjeLighten60;
        }

        &.card__product {
            background-color: @navGronnLighten60;
        }

        &.card__tools {
            background-color: @navDypBlaLighten60;
        }

        .card__title {
            font-size: 1rem;
        }
    }
}
