.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;

    margin-bottom: 1rem; //TODO midlertidig fiks. Fjern eventuelt denne og bruk margin-top på "alt"?

    border-width: 1px;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: var(--a-gray-300);

    text-decoration: none;

    &:hover {
        background-color: #ecf3fe;
        border-color: #cbd4e1;

        .arrow {
            transform: translateX(0.25rem);
        }

        .linkText {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 0.15625rem;
        }
    }
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.linkText {
    font-size: var(--a-font-size-xlarge);
}

.tagline,
.arrow {
    color: var(--a-text-default);
    opacity: 0.7;
}

.tagline {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.025rem;
    font-size: var(--a-font-size-xlarge);
    font-weight: var(--a-font-weight-bold);
}

.arrow {
    transition: transform 0.2s;
}
