@import (reference) '../../../../global';

.product-page-header {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &--situation {
        box-shadow: 0 -4px 0 @navOransjeLighten20 inset;
    }

    &__illustration {
        width: 6.2rem;
        height: 80px;
    }

    .full-width-mixin();

    &__text {
        width: 100%;
        max-width: #px-to-rem(900) [] + 5rem + 1.5rem;

        .page-header {
            padding: 0;
        }
    }

    &__label {
        margin-top: 1rem;
    }
}
