.officeInformation {
    margin: var(--a-spacing-10) 0 4rem;
}

.expansionCardHeader {
    color: var(--default-action-color);
}

.expansionCardContent {
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-6);
}
