.officeInformation {
    margin: var(--ax-space-12) 0 var(--ax-space-48);
}

.expansionCardHeader,
.expansionCardHeader :global(.aksel-expansioncard__header-button) {
    color: var(--default-action-color);
}

.expansionCardContent {
    display: flex;
    flex-direction: column;
    gap: var(--ax-space-24);
}
