.officeInformation {
    margin: var(--a-spacing-3) 0 var(--a-spacing-12);
}

.expansionCardHeader {
    color: var(--default-action-color);
}

.expansionCardContent {
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-6);
}
