.container {
    &:not(:last-child) {
        margin-bottom: var(--a-spacing-2);
    }
}

.nameWrapper {
    display: inline-flex;
    align-items: flex-end;
}

.name {
    margin-right: var(--a-spacing-2);
}
