.container {
    &:not(:last-child) {
        margin-bottom: var(--ax-space-8);
    }
}

.nameWrapper {
    display: inline-flex;
    align-items: flex-end;
}

.name {
    margin-right: var(--ax-space-8);
}
