@use 'common' as common;

.container {
    @include common.full-width-mixin();
    padding-top: var(--a-spacing-8);
    padding-bottom: var(--a-spacing-8);
    background-color: var(--a-deepblue-50);
}

.situations {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-4);

    @media #{common.$mq-screen-tablet-and-desktop} {
        display: grid;
        grid-template-columns: auto auto;
        gap: var(--a-spacing-6);
    }

    :global(.part__areapage-situation-card) {
        height: 100%;
    }
}
