@use 'common' as common;

.container {
    @include common.full-width-mixin();
    padding-top: var(--a-spacing-8);
    padding-bottom: var(--a-spacing-8);
    background-color: var(--a-deepblue-50);
}

.situations {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    li {
        display: flex;

        :global(.part__areapage-situation-card) {
            display: flex;
            width: 100%;
        }
    }

    @media #{common.$mq-screen-mobile} {
        @include common.flex-cols-mixin(1, var(--a-spacing-4), var(--a-spacing-4));
    }
    @media #{common.$mq-screen-tablet} {
        @include common.flex-cols-mixin(2, var(--a-spacing-6), var(--a-spacing-6));
    }
    @media #{common.$mq-screen-desktop} {
        @include common.flex-cols-mixin(2, var(--a-spacing-6), var(--a-spacing-6));
    }
}

.header {
    margin-bottom: var(--a-spacing-4);
}
