.placeholderIndicator {
    background-color: #dddddd;
    border-radius: 2px;
    display: block;
    outline: solid 2px #ffbbbb;
    overflow: hidden;
    padding: 2rem var(--a-spacing-2) 1rem var(--a-spacing-2);
    position: relative;

    &::before {
        content: 'Detaljinformasjon:';
        color: #666666;
        font-weight: bold;
        left: var(--a-spacing-2);
        position: absolute;
        top: var(--a-spacing-2);
    }
}
