@use 'common' as common;

.indexPage {
    margin: 0 auto;
}

.contentBottom {
    display: flex;
    flex-direction: column;
    row-gap: var(--ax-space-8);
    background-color: var(--ax-bg-default);

    @include common.full-width-mixin();
}
