.facts_v1 {
    background: var(--ax-bg-neutral-soft);
    border: 1px solid var(--ax-neutral-300);
    padding: var(--ax-space-24);
    margin-top: var(--ax-space-64);

    p {
        margin-bottom: var(--ax-space-16);
    }

    h2 {
        text-align: center;
    }

    .factIcon {
        width: var(--ax-space-20);
        height: var(--ax-space-20);
        display: flex;
        margin: 0 auto var(--ax-space-8) auto;
    }

    .decorated {
        margin-bottom: var(--ax-space-24);

        &:after {
            border-top: 1px solid var(--ax-neutral-600);
            content: ' ';
            display: block;
            margin: var(--ax-space-20) auto 0;
            width: var(--ax-space-32);
        }
    }
}

.facts_v2 {
    background: var(--ax-meta-purple-100);
    padding: var(--ax-space-24);
    margin-top: var(--ax-space-44);
    border-left: 8px solid var(--ax-meta-purple-400);

    p {
        margin-bottom: var(--ax-space-16);
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    h2 {
        color: var(--ax-meta-purple-600);
    }

    .decorated {
        margin-bottom: var(--ax-space-24);
    }
}
