@use 'common' as common;

.newsPressHeader {
    padding-top: var(--a-spacing-5);
    margin: 0 auto;
    max-width: 63.5rem;

    @media #{common.$mq-screen-desktop} {
        padding-right: var(--a-spacing-11);
        padding-left: var(--a-spacing-11);
    }

    @media #{common.$mq-screen-tablet} {
        padding-right: var(--a-spacing-6);
        padding-left: var(--a-spacing-6);
    }

    @media #{common.$mq-screen-mobile} {
        padding-bottom: var(--a-spacing-2);
        padding-right: var(--a-spacing-2);
        padding-left: var(--a-spacing-2);
    }
}

.tagWrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: var(--a-spacing-1);
}

.tagLabel {
    color: var(--a-purple-500);
    font-weight: var(--a-font-weight-bold);
    padding-left: var(--a-spacing-2);
    text-transform: uppercase;
}

.tagIcon {
    height: var(--a-spacing-4);
    width: var(--a-spacing-4);
}
