@use 'common' as common;

.newsPressHeader {
    padding-top: var(--ax-space-20);
    margin: 0 auto;
    max-width: 63.5rem;

    @media #{common.$mq-screen-desktop} {
        padding-right: var(--ax-space-44);
        padding-left: var(--ax-space-44);
    }

    @media #{common.$mq-screen-tablet} {
        padding-right: var(--ax-space-24);
        padding-left: var(--ax-space-24);
    }

    @media #{common.$mq-screen-mobile} {
        padding-bottom: var(--ax-space-8);
        padding-right: var(--ax-space-8);
        padding-left: var(--ax-space-8);
    }
}

.tagWrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: var(--ax-space-4);
}

.tagLabel {
    color: var(--ax-meta-purple-600);
    font-weight: var(--ax-font-weight-bold);
    padding-left: var(--ax-space-8);
    text-transform: uppercase;
}

.tagIcon {
    height: var(--ax-space-16);
    width: var(--ax-space-16);
}
