@use 'common' as common;

@mixin navigation-heading() {
    padding: var(--a-spacing-2) 0 var(--a-spacing-3);
    color: var(--a-text-subtle);
    font-size: var(--a-font-size-small);
    font-weight: var(--a-font-weight-regular);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    line-height: 1;
}

@mixin navigation-list() {
    @include common.unstyled-list();
}
