@use 'common' as common;

@mixin navigation-heading() {
    padding: var(--ax-space-8) 0 var(--ax-space-12);
    color: var(--ax-text-neutral-subtle);
    font-size: var(--ax-font-size-small);
    font-weight: var(--ax-font-weight-regular);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    line-height: 1;
}
