@use 'common' as common;

.pageNavigationMenu {
    overflow: auto;
    position: sticky;
    top: calc(var(--decorator-sticky-offset) + var(--a-spacing-6));
    height: max-content;
    max-height: calc(100vh - var(--a-spacing-6) - var(--decorator-sticky-offset));
    padding-bottom: var(--a-spacing-6);
}

:global(.navds-expansioncard__content) .pageNavigationMenu {
    height: calc(50vh - var(--a-spacing-14));
}

.heading {
    padding: var(--a-spacing-2) 0 var(--a-spacing-3);
    background-image: linear-gradient(
        to bottom,
        white 65%,
        rgba(255, 255, 255, 0.75) 75%,
        transparent
    );
    position: sticky;
    top: -1px;
    z-index: 10;

    color: var(--a-text-subtle);
    font-size: var(--a-font-size-small);
    font-weight: var(--a-font-weight-regular);
    line-height: 1;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.list {
    @include common.unstyled-list();
}

.link {
    padding: var(--a-spacing-2);
    padding-left: 0;
}

.h3Link {
    padding-left: var(--a-spacing-5);
}
