@use 'common' as common;
@use 'shared' as shared;

.pageNavigationMenu {
    margin-top: var(--a-spacing-9);
}

.heading {
    @include shared.navigation-heading();
}

.list {
    @include common.unstyled-list();
}
