@use 'common' as common;
@use 'shared' as shared;

.pageNavigationMenu {
    margin-top: var(--a-spacing-7);

    .heading {
        @include shared.navigation-heading();
    }

    &.chapterNavigation {
        margin-top: 0;
        margin-bottom: var(--a-spacing-7);
    }

    .list {
        @include common.unstyled-list();
        display: flex;
        flex-direction: column;
        gap: var(--a-spacing-3);
    }
}
