@use 'common' as common;

.pageNavigationMenu {
    margin-bottom: var(--a-spacing-7);

    &.chapterNavigation {
        margin-top: var(--a-spacing-7);
        margin-bottom: 0;
    }

    .list {
        @include common.unstyled-list();
        display: flex;
        flex-direction: column;
        gap: var(--a-spacing-3);
    }

    .icon {
        align-self: baseline;
        color: var(--a-border-default);
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        position: relative;
        top: 2px;
        margin-left: calc(var(--a-spacing-2) * -1);
    }

    .link {
        display: inline-flex;
        align-items: center;
        gap: var(--a-spacing-1-alt);
        text-underline-offset: 2.5px;
        text-decoration-thickness: 1px;
        text-decoration-color: var(--a-border-subtle);
        color: var(--a-text-action);

        &:hover {
            text-decoration-color: currentColor;
        }
    }

    .linkText {
        margin-bottom: 0;
    }
}
