@use 'common' as common;
@use 'shared' as shared;

.pageNavigationMenu {
    margin-top: var(--a-spacing-9);
    @include common.full-width-mixin();
    padding-left: var(--a-spacing-3);
    padding-right: var(--a-spacing-3);
}

.heading {
    @include shared.navigation-heading();
}

.list {
    @include common.unstyled-list();
}
