@use 'shared' as shared;

.pageNavigationMenu {
    margin-top: var(--a-spacing-7);

    .heading {
        @include shared.navigation-heading();
    }

    &.chapterNavigation {
        margin-top: 0;
        margin-bottom: var(--a-spacing-7);
    }

    .list {
        @include shared.navigation-list();
    }
}
