@use 'common' as common;

.pageNavigationMenu {
    margin-top: var(--a-spacing-7);

    .heading {
        padding: var(--a-spacing-2) 0 var(--a-spacing-3);
        color: var(--a-text-subtle);
        font-size: var(--a-font-size-small);
        font-weight: var(--a-font-weight-regular);
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

    &.chapterNavigation {
        margin-top: 0;
        margin-bottom: var(--a-spacing-7);
    }

    .list {
        @include common.unstyled-list();
        display: flex;
        flex-direction: column;
        gap: var(--a-spacing-3);
    }

    .link {
        display: inline-flex;
        align-items: center;
        gap: var(--a-spacing-1-alt);
        text-underline-offset: 2.5px;
        text-decoration-thickness: 1px;
        text-decoration-color: var(--a-border-subtle);
        color: var(--a-text-action);

        &:hover {
            text-decoration-color: currentColor;
        }
    }

    .linkText {
        margin-bottom: 0;
    }
}
