@use 'common' as common;

.wrapper {
    @include common.full-width-mixin();
    padding-top: var(--a-spacing-11);
    margin-bottom: -(var(--a-spacing-8)) !important; // Can't find a way to override the margin-bottom from the parent
}

.pageHeader {
    align-items: flex-start;
    padding-bottom: var(--a-spacing-5);

    @media #{common.$mq-screen-mobile} {
        margin-bottom: 0;
    }
}

.providerSubPage {
    background-color: var(--a-purple-100);
}
