@use 'common' as common;

.wrapper {
    @include common.full-width-mixin();
    padding-top: var(--ax-space-44);
    margin-bottom: calc(
        -1 * var(--ax-space-32)
    ) !important; // Can't find a way to override the margin-bottom from the parent
}

.pageHeader {
    align-items: flex-start;
    padding-bottom: var(--ax-space-20);

    @media #{common.$mq-screen-mobile} {
        margin-bottom: 0;
    }
}

.providerSubPage {
    background-color: var(--ax-meta-purple-200);
}
