@use 'src/common' as common;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 1rem;
    background-color: common.$a-surface-danger-subtle;
    border: 2px solid common.$a-border-danger;

    @include common.full-width-mixin();

    & > * {
        max-width: 600px;
        width: 100%;

        &:not(:last-child)::after {
            content: '';
            display: block;
            margin: 0.75rem 0;
            border-bottom: solid 1px var(--a-border-divider);
        }
    }

    ul {
        @include common.unstyled-list();
        margin: 1rem 0;
    }

    a {
        margin-left: 0.25rem;
    }

    &:empty {
        display: none;
    }
}
