@use 'common' as common;

.oversiktListPanel {
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-11);
}

.merOmLenke {
    display: flex;
}

.tjenesterPanel {
    border-bottom: 1px solid var(--a-gray-300);
    padding: var(--a-spacing-5) var(--a-spacing-2) var(--a-spacing-5) var(--a-spacing-3);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        'icon title arrow'
        'icon ingress arrow';
    column-gap: 1rem;
    position: relative;

    .icon {
        grid-area: icon;
        flex-shrink: 0;
        width: 48px;
        height: 48px;
        align-self: start;

        & > :first-child:not(:last-child) * {
            fill: var(--a-deepblue-100);
        }
    }

    .title {
        grid-area: title;
        display: flex;
        flex-direction: column;
        word-break: break-word;
        font-size: var(--text-fluid-20-22);
        text-decoration: none;
        font-weight: 600;
    }

    .ingress {
        grid-area: ingress;
        text-wrap: pretty;
        text-decoration: none;
        color: var(--a-text-subtle);
    }

    .arrow {
        grid-area: arrow;
        align-self: center;
        color: var(--a-surface-action);
        width: 24px;
        height: 24px;
        margin-right: var(--a-spacing-2);
    }

    &:hover,
    &:focus {
        background-color: var(--a-deepblue-100);
        border-radius: var(--a-radius-8);
        color: var(--a-text-default);
        box-shadow: 0 0 0 0;
        outline: 5px solid var(--a-bg-default);

        .title {
            text-decoration: underline;
            text-decoration-color: var(--a-border-action-hover);
        }

        & + :global(.navds-expansioncard__content) {
            box-shadow: 0 0 0 0;
        }

        .icon {
            & > :first-child:not(:last-child) * {
                fill: var(--a-white);
            }
        }
    }
}

.tjenesterPanel > a {
    position: static;
    &::after {
        content: '';
        position: absolute;
        inset: 0;
    }
}
