@use 'src/common';

$contentMaxWidth: 57.25rem;
$sectionMaxWidth: $contentMaxWidth * 2/3;
$margin: 2rem;

.situationPage {
    display: flex;
    flex-direction: column;

    .region__pageContent {
        margin: $margin;
        display: flex;
        flex-direction: column;

        & > :not(.layout__situation-flex-cols) {
            margin-bottom: $margin;
        }

        & > :not(.layout__situation-flex-cols) {
            max-width: $sectionMaxWidth;
        }

        // Prevent margins between adjacent situation-flex-cols layouts
        .layout__situation-flex-cols + .layout__situation-flex-cols {
            margin-top: -($margin * 2);
        }
    }

    .content {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-start;
        align-self: center;
        width: 100%;
        max-width: $contentMaxWidth;

        & > * {
            width: 100%;
        }
    }

    @include common.product-mixins();
}
