@import (reference) '../../../global';

@situationColor: @navOransjeLighten20;
@situationColorLight: @navOransjeLighten60;

.situation-page {
    @contentMaxWidth: #px-to-rem(900) [];

    display: flex;
    flex-direction: column;

    .icon-container {
        background-color: @situationColorLight;
        img {
            width: 50%;
            height: 50%;
        }
    }

    .region__pageContent {
        display: flex;
        flex-direction: column;

        & > * {
            margin-bottom: 2rem;
        }

        & > :not(.layout__situation-flex-cols) {
            max-width: @contentMaxWidth * 2/3;
        }

        // Prevent margins between adjacent situation-flex-cols layouts
        .layout__situation-flex-cols + .layout__situation-flex-cols {
            margin-top: -2rem;
        }
    }

    &__content {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-start;
        align-self: center;
        width: 100%;
        max-width: @contentMaxWidth;

        & > * {
            width: 100%;
        }
    }
}
