@import (reference) '../../../../global';

.page-header {
    padding: 1.125rem 0;
    margin: 0 auto 1.125rem auto;

    &__title {
        &--center {
            text-align: center;
        }
    }
}
