@import (reference) '../../../global';

.telephoneDetails {
    &__phoneNumber {
        display: block;
        padding: 0 0 1rem 0;
    }

    &__alertText {
        margin-bottom: 1.75rem;
    }

    &__regular-opening-hours,
    &__special-opening-hours {
        border-collapse: collapse;

        thead {
            position: absolute;
            height: 0;
            overflow: hidden;
        }

        td,
        td {
            padding: 0 1rem 0 0;
            margin: 0;
        }
    }

    &__regular-opening-hours,
    &__text {
        margin-bottom: 2.75rem;
    }

    &__special-opening-hours {
        margin-bottom: 2.75rem;
    }
}
