@use 'common' as common;

.layout {
    background-color: var(--ax-bg-default);
    @include common.full-width-mixin();
    padding-top: var(--ax-space-20);
    padding-bottom: var(--ax-space-12);
}

.header {
    padding-bottom: var(--ax-space-12);

    @media #{common.$mq-screen-mobile-small} {
        padding-bottom: var(--ax-space-8);
    }
}

.services {
    margin-bottom: var(--ax-space-24);

    @media #{common.$mq-screen-mobile-small} {
        margin-bottom: var(--ax-space-16);
    }
}

.cards {
    @include common.grid-layout-mixin();
    @include common.content-studio-drop-zone-fix-local();

    & > :empty {
        display: none;
    }
}
