.publishingCalendar {
    padding: var(--ax-space-32);
    background: var(--ax-bg-default);

    h1 {
        margin-bottom: var(--ax-space-16);
    }

    .ingress {
        margin-bottom: var(--ax-space-16);
    }

    header {
        margin-bottom: var(--ax-space-16);
    }

    table {
        th {
            .dateHeader {
                display: flex;
                justify-content: center;
            }
        }

        td {
            .dateCell {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: var(--ax-space-72);
                height: var(--ax-space-72);
                font-weight: 600;
                padding: var(--ax-space-16);
                border-radius: 50%;
                background-color: var(--ax-neutral-300);
            }

            .dateInfo {
                text-transform: uppercase;
            }
        }
    }
}
