@use 'src/common' as common;

.formDetails {
    margin-bottom: 1.75rem;
}

.variationWrapper {
    display: flex;
    flex-direction: row;

    & > :not(:last-child) {
        margin-right: 1rem;
    }

    @media #{common.$mq-screen-mobile} {
        flex-direction: column;

        & > :not(:last-child) {
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
}

.ingressWrapper {
    margin-bottom: 1.75rem;
}
