@use 'src/common' as common;

.variation {
    display: flex;
    flex-direction: column;
}

.vertical {
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.horizontal {
    flex-direction: row;

    &:not(:last-child) {
        margin-right: 1rem;
    }
}

.cta {
    display: flex;
    width: max-content;

    @media #{common.$mq-screen-mobile} {
        width: 100%;
        margin-right: 0;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
}
