@use 'src/common' as common;

.formDetails {
    margin-bottom: 1.75rem;

    ul {
        list-style: disc;
        margin-bottom: 1.75rem;
    }

    li {
        margin-bottom: 0.25rem;

        &:last-child {
            margin-bottom: 0;
        }

        & > * {
            margin: 0;
        }
    }

    h3 {
        margin-bottom: 0.25rem;
    }

    // pull lists upward to text above if any.
    :global(.navds-body-long + ul),
    :global(.navds-body-long + ol) {
        margin-top: -1rem;
    }
}

.variationWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--a-spacing-2);

    @media #{common.$mq-screen-mobile-small} {
        flex-direction: column;
    }
}

.ingressWrapper {
    & > :last-child {
        margin-bottom: 0;
    }

    &:not(:last-child) {
        margin-bottom: 1.75rem;
    }
}

.formNumbers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.125rem;
    margin-bottom: 0.75rem;

    & > * {
        padding: 0.25rem;
        white-space: nowrap;

        &:first-child:not(.highlight) {
            padding-left: 0;
        }
    }
}

.highlight {
    background-color: var(--a-deepblue-100);
}

.separator {
    @media #{common.$mq-screen-mobile} {
        display: none;
    }
}
