@use 'src/common' as common;

.cta {
    display: block;
    width: max-content;

    &:not(:last-child) {
        margin-right: 1rem;
    }

    @media #{common.$mq-screen-mobile} {
        width: 100%;
        margin-right: 0;
    }
}
