@use 'src/common' as common;

.formDetails {
    margin-bottom: 1.75rem;
}

.variationWrapper {
    display: flex;

    @media #{common.$mq-screen-mobile} {
        flex-direction: column;
    }
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}
