.text {
    :global(.navds-body-long.navds-body-long--medium) {
        color: black;
        margin-bottom: 0;

        :global(.navds-body-long) {
            margin-bottom: var(--a-spacing-4);
        }
    }
}
