@use 'common' as common;

.pressShortcuts {
    background-color: var(--a-white);
    display: flex;
    justify-content: center;
    margin-bottom: calc(-1 * var(--a-spacing-8));
    margin-top: var(--a-spacing-10);
    padding: var(--a-spacing-11) 0;
    @include common.full-width-mixin;
}

.content {
    width: calc(100% - var(--a-spacing-4));
    max-width: 37.5rem;
}

.shortcutItem {
    border: 0;
    border-radius: var(--a-border-radius-small);
    border-bottom: 2px solid var(--a-gray-600);
    margin: var(--a-spacing-1) 0;
    font-weight: 600;

    &:has(:focus-visible) {
        outline-offset: 0;
    }

    &:hover {
        box-shadow: none;
    }

    :global(.navds-link-anchor) {
        text-decoration: none;
    }
}

.shortcutList {
    list-style: none;
    margin: var(--a-spacing-6) 0;
    padding: 0;
}
