@use 'common' as common;

.pressNews {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    @include common.full-width-mixin;
}

.content {
    width: calc(100% - var(--a-spacing-4));
    max-width: 37.5rem;
}

.newsList {
    margin: var(--a-spacing-4) 0 2rem 0;
    padding: 0;
}
