@use 'common' as common;

.pressShortcuts {
    background-color: var(--ax-bg-default);
    display: flex;
    justify-content: center;
    margin-bottom: calc(-1 * var(--ax-space-32));
    margin-top: var(--ax-space-40);
    padding: var(--ax-space-44) 0;
    @include common.full-width-mixin;
}

.content {
    width: calc(100% - var(--ax-space-16));
    max-width: 37.5rem;
}

.shortcutItem {
    border: 0;
    border-radius: var(--ax-radius-2);
    border-bottom: 2px solid var(--ax-neutral-700);
    margin: var(--ax-space-4) 0;
    font-weight: 600;

    &:has(:focus-visible) {
        outline-offset: 0;
    }

    &:hover {
        box-shadow: none;
    }

    :global(.aksel-link-anchor) {
        text-decoration: none;
    }
}

.shortcutList {
    list-style: none;
    margin: var(--ax-space-24) 0;
    padding: 0;
}
