.newsItem {
    margin-bottom: var(--ax-space-24);
    list-style-type: none;

    a {
        text-decoration-thickness: 0.05em;
        text-underline-offset: 0.1em;
        text-decoration-line: underline;
    }
}

.heading a {
    color: var(--ax-text-subtle);
}

.ingress {
    margin-top: var(--ax-space-8);
    margin-bottom: var(--ax-space-8);
}

.newsTagline {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--ax-space-24);
}

.newsType {
    margin-left: var(--ax-space-4);
    font-weight: 600;
}

.publishDate {
    margin-left: var(--ax-space-12);
    color: var(--ax-neutral-900);
}
