@use 'common' as common;

.pressNews {
    display: flex;
    justify-content: center;
    margin-top: var(--ax-space-40);
    @include common.full-width-mixin;
}

.content {
    width: calc(100% - var(--ax-space-16));
    max-width: 37.5rem;
}

.newsList {
    margin: var(--ax-space-16) 0 var(--ax-space-32) 0;
    padding: 0;
}
