@use 'common' as common;

.pressTopSection {
    display: flex;
    background-color: var(--a-white);
    justify-content: center;
    margin-top: var(--ax-space-32);
    @include common.full-width-mixin;
}

.content {
    width: calc(100% - var(--ax-space-16));
    max-width: 37.5rem;
}

.pressCall {
    margin-top: var(--ax-space-24);
    margin-bottom: var(--ax-space-44);
    padding: var(--ax-space-40);
    background-color: var(--ax-meta-purple-100);

    @media #{common.$mq-screen-mobile} {
        padding: var(--ax-space-16);
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    a {
        color: var(--ax-neutral-1000);
        text-decoration-line: underline;
        text-decoration-thickness: 0.05em;
        text-underline-offset: 0.1em;
        border: 0;
    }
    a:hover {
        text-decoration: none;
        color: var(--default-action-color);
    }
}
