.newsItem {
    margin-bottom: var(--ax-space-24);
    list-style-type: none;
}

.ingress {
    margin-top: var(--ax-space-8);
    margin-bottom: var(--ax-space-8);
}

.newsTagline {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--ax-space-24);
}

.newsType {
    margin-left: var(--ax-space-4);
    font-weight: 600;
}

.publishDate {
    margin-left: var(--ax-space-12);
    color: var(--ax-neutral-900);
}
