.error404 {
    display: flex;
    flex-direction: column;

    p:not(:last-child) {
        margin-bottom: 1rem;
    }

    .search {
        margin-top: 2rem;
    }

    &__content-en {
        margin-top: 3rem;
    }

    &__en-header {
        margin-bottom: 0.5rem;
    }
}

.brodsmulesti li:nth-child(2):not(:last-child) {
    display: none;
}
