@import (reference) '../../../../global';

.link-panel {
    width: 100%;
    display: flex;
    padding: 1.5rem;

    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    box-shadow: 0 0px 8px 4px rgba(0, 0, 0, 0.08);
    background-color: white;

    border: 2px transparent solid;
    box-sizing: border-box;

    &__innhold {
        height: 100%;
        display: flex;
        justify-items: flex-start;
        align-items: flex-start;
        flex-direction: column;
        text-align: start;
        padding-right: 0.5rem;

        @media @screen-desktop {
            padding-bottom: 2.5rem;
        }

        @media @screen-mobile {
            padding-bottom: 1.5rem;
        }
    }

    &__heading {
        margin-top: 1rem;
        color: @navBla;
    }

    &__ingress {
        margin: 1rem 0;
    }

    &:hover {
        border: 2px black solid;

        .lenkepanel__heading {
            color: @navBla;
        }
    }
}
