.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .textAboveTitle {
        color: var(--a-text-subtle);
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .header {
        font-size: 2.5rem;
        line-height: 3.25rem;
    }
}
