.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .textAboveTitle {
        color: var(--a-text-subtle);
        font-size: var(--text-fluid-18-20);
        line-height: 1.5;
    }

    .formNumberListe {
        display: flex;
        list-style: none;
        padding: 0;
        align-items: center;
        gap: 5px;
        margin: 0;
        flex-wrap: wrap;
    }
}
