.headerContainer {
    .textAboveTitle {
        color: var(--a-text-subtle);
        line-height: 1.5;
    }

    .formNumberListe {
        display: flex;
        list-style: none;
        padding: 0;
        align-items: center;
        gap: 5px;
        margin: 0 0 var(--a-spacing-6);
        flex-wrap: wrap;
    }
}
