.office-information{
  background-color: #fff;
  padding: 1.5rem;

  header {
    margin-bottom: 1rem;

    h1 {
      font-size: 1.875rem;
      font-weight: 400;
      margin: 0.5rem 0 0;
    }

    h2 {
      font-size: 1.0675rem;
      font-weight: 600;
      margin-top: 24px;
    }

  }

  h3,
  h5 {
    margin-bottom: 0;
  }


  p:last-child,
  p:last-of-type {
    margin-bottom: 1.4rem;
  }

}

