.wrapper {
    width: 100%;

    &:not(:last-child) {
        margin-bottom: var(--ax-space-8);
    }
}

.nameWrapper {
    display: inline-flex;
    align-items: center;
}

.name {
    margin-bottom: var(--ax-space-4);
    margin-right: var(--ax-space-8);
}

.publish {
    margin-top: var(--ax-space-4);
}

.warning {
    display: flex;
    align-items: center;
    svg {
        margin-right: var(--ax-space-4);
        color: var(--ax-warning-600);
    }
}
