.wrapper {
    width: 100%;

    &:not(:last-child) {
        margin-bottom: var(--a-spacing-2);
    }
}

.nameWrapper {
    display: inline-flex;
    align-items: center;
}

.name {
    margin-bottom: 0.25rem;
    margin-right: var(--a-spacing-2);
}

.publish {
    margin-top: 0.25rem;
}

.warning {
    display: flex;
    align-items: center;
    svg {
        margin-right: 0.25rem;
        color: var(--a-orange-500);
    }
}
