@import (reference) '../../../global';

.global-notifications {
    @numCols: 2;
    @margin-between: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 @padding-sides-desktop;

    @media @screen-desktop {
        .notification {
            width: calc(
                percentage(1 / @numCols) - @margin-between *
                    ((@numCols - 1) / @numCols)
            );
            &:not(:nth-child(@{numCols}n)) {
                margin-right: @margin-between;
            }
        }
    }

    @media @screen-mobile {
        padding: 1rem @padding-sides-mobile;
        flex-direction: column;

        .notification {
            width: 100%;
            margin-right: 0;
        }
    }
}
