@import (reference) '../../../global';

.notification {
    border: 2px solid  @navGra80;

    .lenkepanel__heading {
        color: black;
    }

    &__description {
        margin-top: 0.25rem;
    }

    &__updated {
    }
}
