@use 'common' as common;

.container {
    :global(.layout__main) {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        max-width: 63.5rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: var(--a-spacing-7);
        padding-bottom: var(--a-spacing-12);

        @media #{common.$mq-screen-mobile} {
            flex-direction: column;
        }
    }

    :global(.region__first) {
        flex: 2;

        @media #{common.$mq-screen-tablet-and-desktop} {
            &:not(:only-child) {
                margin-right: var(--a-spacing-6);
            }
        }

        &:last-child {
            padding-bottom: var(--a-spacing-12);
        }
    }

    :global(.region__second) {
        flex: 1;

        @media #{common.$mq-screen-mobile} {
            margin-top: var(--a-spacing-8);
        }
    }
}
