@use 'common' as common;

.container {
    :global(.layout__main) {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        max-width: 63.5rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: var(--ax-space-12);
        padding-bottom: var(--ax-space-48);

        @media #{common.$mq-screen-mobile} {
            flex-direction: column;
        }
    }

    :global(.region__first) {
        flex: 2;

        @media #{common.$mq-screen-tablet-and-desktop} {
            &:not(:only-child) {
                margin-right: var(--ax-space-24);
            }
        }

        &:last-child {
            padding-bottom: var(--ax-space-48);
        }
    }

    :global(.region__second) {
        flex: 1;

        @media #{common.$mq-screen-mobile} {
            margin-top: var(--ax-space-32);
        }
    }
}
