@use 'common' as common;

.layout {
    // The default top/bottom margins may be overridden by the content editor
    $vertical-margin-default: var(--a-spacing-4);

    // Set negative horizontal margin and equivalent padding in order to
    // make the background of a layout cover the padding of the app-container
    .standard {
        padding-left: common.$padding-sides-mobile;
        padding-right: common.$padding-sides-mobile;
        margin: $vertical-margin-default -#{common.$padding-sides-mobile};

        @media #{common.$mq-screen-tablet} {
            padding-left: common.$padding-sides-tablet;
            padding-right: common.$padding-sides-tablet;
            margin-left: -#{common.$padding-sides-tablet};
            margin-right: -#{common.$padding-sides-tablet};
        }

        @media #{common.$mq-screen-desktop} {
            padding-left: common.$padding-sides-desktop;
            padding-right: common.$padding-sides-desktop;
            margin-left: -#{common.$padding-sides-desktop};
            margin-right: -#{common.$padding-sides-desktop};
        }
    }

    .fullwidth {
        @include common.full-width-mixin();
    }

    .bg {
        $bgPaddingDefault: 1.3rem;
        padding-top: $bgPaddingDefault;
        padding-bottom: $bgPaddingDefault;
    }
}
