.frida {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 16px;
    right: 16px;
    border-radius: 50%;
    border: 4px solid black;

    pointer-events: none;

    transition: transform ease-in-out 2s;
    transform-origin: center;
}

.animate {
    transform: translateX(calc(-50vw + 100%)) translateY(calc(-50vh + 100%)) scale(3);
}
