.wrapper {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 2;

    transition: transform ease-in-out 750ms;
    transform-origin: center;

    &.animate {
        transform: translateX(calc(-50vw + 100%)) translateY(calc(-50vh + 100%));
    }
}

.frida {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid black;

    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;

    &.animate {
        transform: scale(3);
    }
}

.chatBubble {
    position: absolute;
    bottom: 175%;
    left: 175%;
    background-color: white;
    border: 2px solid var(--a-gray-800);
    border-radius: 12px 12px 12px 0;
    opacity: 0;

    animation: fadeIn 500ms;
    animation-timing-function: ease-in;
    animation-delay: 500ms;
    animation-fill-mode: forwards;

    &:after {
        content: '';
        position: absolute;
        bottom: -25px;
        left: -2px;
        width: 0;
        height: 0;
        border-right: 32px solid transparent;
        border-top: 24px solid var(--a-gray-800);
        display: block;
    }

    .msgWrapper {
        display: flex;
        flex-direction: column;
        width: 400px;
        padding: 16px;
    }

    .chatMsg {
        animation: fadeIn 500ms ease-in;

        &:not(:last-child) {
            margin-bottom: 0.25rem;
        }
    }

    .loading:after {
        content: '.';
        display: inline-block;
        font-size: 1.5rem;

        animation-name: ellipses;
        animation-duration: 2500ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
    }

    .makeitstop {
        width: 100%;
        margin-top: 1rem;
        font-size: 0.85rem;
        text-align: right;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ellipses {
    0% {
        content: '.';
    }

    25% {
        content: '..';
    }

    50% {
        content: '...';
    }

    75% {
        content: '....';
    }
}
