.bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    animation: fade 500ms;
    animation-fill-mode: forwards;
}

@keyframes fade {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(4px);
    }
}
