@use 'src/common' as common;

.overviewSearch {
    margin: 1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    max-width: common.$sectionMaxWidth;

    :global(.navds-label) {
        font-size: var(--a-font-size-heading-small);
    }
}
