@import (reference) '../../../global';

.layout {
    &__dynamic-flex-cols {
        display: flex;
        justify-content: center;
        position: relative;
    }
}

.region {
    &__flexcols {
        .flex-components(@numCols) {
            @margin: 1rem;

            & > * {
                width: calc(
                    percentage(1 / @numCols) - (@margin * (@numCols - 1)) /
                        @numCols
                );

                &:not(:last-child) {
                    margin-right: @margin;
                }

                &:nth-child(@{numCols}n + @{numCols}) {
                    margin-right: 0;
                }
            }
        }

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        max-width: @max-inner-width;
        margin: 1rem @padding-sides-desktop;

        @media @screen-tablet {
            margin: 1rem @padding-sides-tablet;
        }

        &--1-cols {
            .flex-components(1);
        }

        &--2-cols {
            .flex-components(2);
        }

        &--3-cols {
            @media @screen-desktop {
                .flex-components(3);
            }

            @media @screen-tablet {
                .flex-components(2);
            }
        }

        @media @screen-mobile {
            margin: 1rem @padding-sides-mobile;
            .flex-components(1);
        }

        &--4-cols {
            @media @screen-desktop {
                .flex-components(4);
            }

            @media @screen-tablet {
                .flex-components(3);
            }

            @media @screen-mobile {
                .flex-components(2);
            }
        }

        // Fix for XP region preview drop-zone
        .xp-page-editor-region-placeholder:last-child {
            display: block;
        }
    }
}
