@use 'common' as common;

// TODO: rewrite to modules

.layout__situation-flex-cols,
.layout__product-flex-cols {
    $singleColMaxWidth: calc(
        #{common.$sectionMaxWidth} + 2 * #{common.$padding-sides-mobile}
    );
    $doubleColMaxWidth: calc(
        #{common.$contentMaxWidth} + 2 * #{common.$padding-sides-tablet}
    );

    @include common.full-width-mixin();

    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    margin-top: 2rem;

    &:last-child {
        // Compensate for 2rem content app-container bottom padding to
        // get 4rem distance to dekoratøren
        margin-bottom: 2rem;
    }

    .custom-header-style {
        margin-bottom: 2.5rem;
    }

    .region__flexcols {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;

        @include common.content-studio-drop-zone-fix-global();

        &--1-cols {
            @include common.flex-cols-mixin(1);
        }

        &--2-cols {
            @include common.flex-cols-mixin(2);
        }

        &--3-cols {
            @include common.flex-cols-mixin(3);

            @media #{'only screen and (max-width: #{$doubleColMaxWidth})'} {
                @include common.flex-cols-mixin(2);
            }
        }

        @media #{'only screen and (max-width: #{$singleColMaxWidth})'} {
            @include common.flex-cols-mixin(1);
        }
    }
}

.layout__situation-flex-cols,
.layout__situation-flex-cols--products {
    background-color: var(--a-green-100);
}

.layout__situation-flex-cols--providers {
    background-color: var(--a-green-200);
}
