@use 'src/common' as common;

.flexCols {
    :global(.region__flexcols) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;

        @include common.content-studio-drop-zone-fix-global();
    }

    :global(.region__flexcols--1-cols) {
        @include common.flex-cols-mixin(1);
    }

    :global(.region__flexcols--2-cols) {
        @include common.flex-cols-mixin(2, 2rem);

        @media #{common.$mq-screen-mobile} {
            @include common.flex-cols-mixin(1);
        }
    }

    :global(.region__flexcols--3-cols) {
        @media #{common.$mq-screen-desktop} {
            @include common.flex-cols-mixin(3, 2rem);
        }

        @media #{common.$mq-screen-tablet} {
            @include common.flex-cols-mixin(2);
        }

        @media #{common.$mq-screen-mobile} {
            @include common.flex-cols-mixin(1);
        }
    }
}

.header {
    margin-bottom: 2.5rem;
}
