@import (reference) '../../../global';

.layout {
    &__dynamic-flex-cols {
        display: flex;
        justify-content: center;
    }
}

.region {
    &__flexcols {
        .flex-items(@numCols, @margin: 1rem) {
            & > * {
                @numColsPlus1: @numCols + 1;
                display: flex;

                width: calc(
                    percentage(1 / @numCols) - (@margin * (@numCols - 1)) /
                        @numCols
                );

                &:not(:last-child) {
                    margin-right: @margin;
                }

                &:nth-child(@{numCols}n + @{numCols}) {
                    margin-right: 0;
                }

                &:nth-child(n + @{numColsPlus1}) {
                    margin-top: @margin;
                }
            }
        }

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;

        &--1-cols {
            .flex-items(1);
        }

        &--2-cols {
            .flex-items(2);
        }

        &--3-cols {
            @media @screen-desktop {
                .flex-items(3);
            }

            @media @screen-tablet {
                .flex-items(2);
            }
        }

        @media @screen-mobile {
            .flex-items(1);
        }

        &--4-cols {
            @media @screen-desktop {
                .flex-items(4);
            }

            @media @screen-tablet {
                .flex-items(3);
            }

            @media @screen-mobile {
                .flex-items(2);
            }
        }

        // Fix for XP region preview drop-zone
        .xp-page-editor-region-placeholder:last-child {
            display: block;
        }
    }
}
