@import (reference) '../../../common';
@import (reference) '../../pages/situation-page/SituationPage';

.layout__dynamic-flex-cols {
    .region__flexcols {
        &--1-cols {
            .flex-cols-mixin(1);
        }

        &--2-cols {
            .flex-cols-mixin(2, 2rem);
        }

        &--3-cols {
            @media @mq-screen-desktop {
                .flex-cols-mixin(3, 2rem);
            }

            @media @mq-screen-tablet {
                .flex-cols-mixin(2);
            }
        }

        @media @mq-screen-mobile {
            .flex-cols-mixin(1);
        }

        &--4-cols {
            @media @mq-screen-desktop {
                .flex-cols-mixin(4);
            }

            @media @mq-screen-tablet {
                .flex-cols-mixin(3);
            }

            @media @mq-screen-mobile {
                .flex-cols-mixin(2);
            }
        }
    }
}

.layout__situation-flex-cols {
    @singleColMaxWidth: (
        @situationPageSectionMaxWidth + 2 * @padding-sides-mobile
    );
    @doubleColMaxWidth: (
        @situationPageContentMaxWidth + 2 * @padding-sides-tablet
    );

    @mqSingleCol: ~'only screen and (max-width: @{singleColMaxWidth})';
    @mqDoubleCol: ~'only screen and (max-width: @{doubleColMaxWidth})';

    .full-width-mixin();
    background-color: @navds-global-color-green-100;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    margin-top: 2rem;

    &:last-child {
        // Compensate for 2rem content app-container bottom padding to
        // get 4rem distance to dekoratøren
        margin-bottom: 2rem;
    }

    .custom-header-style {
        margin-bottom: 2.5rem;
    }

    .region__flexcols {
        &--1-cols {
            .flex-cols-mixin(1);
        }

        &--2-cols {
            .flex-cols-mixin(2);
        }

        &--3-cols {
            .flex-cols-mixin(3);

            @media @mqDoubleCol {
                .flex-cols-mixin(2);
            }
        }

        @media @mqSingleCol {
            .flex-cols-mixin(1);
        }
    }

    &:last-of-type {
        padding-bottom: 0;
    }

    .part {
        .card {
            // Margins between parts are handled in general above.
            margin-bottom: 0;
        }
    }
}

.region__flexcols {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;

    // Fixes for content studio drag and drop placeholders
    .xp-page-editor-region-placeholder:last-child {
        display: block;
    }

    .xp-page-editor-part-placeholder {
        width: 100%;
    }

    .live-edit-drag-placeholder-container {
        & > * {
            width: 100%;
            height: 100%;
        }
    }
}
