@import (reference) '../../../../global';
@import (reference) '~nav-frontend-typografi-style/src/index';
@import (reference) '../../../pages/product-page/ProductPage';
@import (reference) '../../../pages/situation-page/SituationPage';

.themed-page-header {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-bottom: 1.5rem;

    .full-width-mixin();

    &--situation {
        box-shadow: 0 -4px 0 @situationPageColor inset;
    }

    &--product {
        box-shadow: 0 -4px 0 @productPageColor inset;
    }

    &__illustration {
        width: #px-to-rem(80px) [];
        height: #px-to-rem(80px) [];
        margin-right: 1.5rem;
        pointer-events: none;
    }

    &__text {
        width: 100%;
        max-width: 56.5rem;

        .page-header {
            padding: 0;
            h1 {
                .typo-innholdstittel;

                @media @mq-screen-tablet-and-desktop {
                    .typo-sidetittel;
                }
            }
        }
    }

    &__label {
        margin-top: 0.5rem;
    }
}
