@import (reference) '../../../../global';
@import (reference) '../../../pages/product-page/ProductPage';
@import (reference) '../../../pages/situation-page/SituationPage';

.themed-page-header {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-bottom: 1.5rem;

    .full-width-mixin();

    &--situation {
        box-shadow: 0 -4px 0 @situationPageColor inset;
    }

    &--product {
        box-shadow: 0 -4px 0 @productPageColor inset;
    }

    &__illustration {
        width: #px-to-rem(80px) [];
        height: #px-to-rem(80px) [];
        margin-right: 2rem;
        pointer-events: none;
    }

    &__text {
        width: 100%;
        max-width: 63.5rem;
    }

    &__label {
        margin-top: 0.5rem;
    }
}
