@import (reference) '../../../../../common';

.version-status {
    display: flex;
    padding: 1rem 3rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: @border-radius-base;
    box-shadow: 0 0 0 2px @navds-global-color-orange-500 inset;
}
