@use 'src/common' as common;

.layout {
    background-color: white;
    @include common.full-width-mixin();
}

.header {
    padding-bottom: 0.75rem;
}

.services {
    margin-bottom: 1.5rem;
}

.cards {
    @include common.grid-layout-mixin();
    @include common.content-studio-drop-zone-fix-local();
}

.myPage {
    margin-top: 1rem;
    // color: black;

    & > * {
        font-weight: bold;
    }

    :global(.chevron) {
        display: none;
    }
}

.arrow {
    transform: translateY(3px);
    margin-left: -1.5rem;
    margin-right: 0.625rem;
}
