@use 'src/common' as common;

.layout {
    background-color: white;
    @include common.full-width-mixin();
}

.header {
    padding-bottom: 1rem;
}

.cards {
    @include common.grid-layout-mixin();
    @include common.content-studio-drop-zone-fix-local();
}

.myPage {
    margin-top: 1rem;
    color: black;

    & > * {
        font-weight: bold;
    }

    :global(.chevron) {
        transform: translateY(2px);
    }
}
