@import (reference) '../../../../common';

.main-panels {
    @margin: 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.25rem;
    text-align: center;
    width: 100%;

    @media @mq-screen-mobile {
        .flex-cols-mixin(1, @margin, @margin);
    }

    @media @mq-screen-tablet {
        .flex-cols-mixin(2, @margin, @margin);
    }

    @media @mq-screen-desktop {
        .flex-cols-mixin(3, @margin, @margin);
    }

    &__item.navds-panel {
        padding: 1.5rem;
    }
}
