@use 'common' as common;

.largeCardV1 {
    width: 100%;
    padding: var(--a-spacing-6);

    :global(.navds-link-card__arrow) {
        display: none;
    }

    &:hover,
    &:focus-within {
        background-color: var(--a-orange-200);
        box-shadow: none;
    }
}

.illustration {
    width: var(--a-spacing-24);
    height: var(--a-spacing-24);
}

.title {
    font-size: var(--a-font-size-heading-medium);
    word-break: break-word;
}

.tagline {
    color: var(--a-gray-700);
    font-size: 0.875rem;
    text-transform: uppercase;
}
