.testVariant {
    margin-top: var(--ax-space-40);
    padding: var(--ax-space-24);
    background-color: var(--ax-warning-200);
    border-radius: var(--ax-radius-8);

    & > :not(:last-child) {
        margin-bottom: var(--ax-space-12);
    }
}
