@use 'src/common' as common;

.featuredHeader {
    display: flex;
    justify-content: center;
    background-color: white;

    @include common.full-width-mixin;

    box-shadow: 0 -4px 0 var(--navds-global-color-gray-400) inset;
}

.header {
    width: 100%;
    max-width: 63.5rem;
    margin-bottom: 1rem;
}
