.icon {
    align-self: baseline;
    color: var(--ax-border-neutral);
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    position: relative;
    top: 1px;
    margin-left: calc(var(--ax-space-8) * -1);
}
