@use 'src/common' as common;

$chatPointerSize: 1.5rem;

.container {
    $padding: 2rem;

    @include common.full-width-mixin();

    background-color: #fff;
    padding-top: $padding;
    padding-bottom: $padding + $chatPointerSize;
}

.header {
    margin-bottom: 2rem;
}

.links {
    @include common.grid-layout-mixin(2);
}

.chat {
    $bgColor: common.$navds-global-color-blue-50;
    $borderRadius: 24px;

    position: relative;
    background-color: $bgColor;
    border-radius: $borderRadius $borderRadius $borderRadius 0;

    &:after {
        content: '';
        position: absolute;
        bottom: -$chatPointerSize;
        left: 0;
        width: 0;
        height: 0;
        border-right: $chatPointerSize solid transparent;
        border-top: $chatPointerSize solid $bgColor;

        display: block;
    }
}
