@use 'src/common' as common;

.container {
    $padding-desktop: 2.75rem;
    $padding-mobile-y: 1rem;
    $padding-mobile-x: 1.5rem;
    $whiteGap: 0.5rem;

    @include common.full-width-mixin();

    background-color: #fff;
    padding-top: $padding-desktop - $whiteGap;
    padding-bottom: $padding-desktop;

    @media #{common.$mq-screen-mobile} {
        padding-top: $padding-mobile-y - $whiteGap;
        padding-bottom: $padding-mobile-y;
        padding-right: $padding-mobile-x;
        padding-left: $padding-mobile-x;
    }

    :global(.linkPanelNavnoLink) {
        @media #{common.$mq-screen-mobile-small} {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }
    }
}

// Quick fix for margins when used on the old frontpage type
:global(.page__main-page) .container {
    margin-bottom: -2rem;
}

.header {
    margin-bottom: 1.5rem;

    @media #{common.$mq-screen-mobile} {
        margin-bottom: 1rem;
    }
}

.links {
    @include common.grid-layout-mixin(2);
}
