@use 'common' as common;

.miniCardV1 {
    :global(.navds-link-anchor__arrow) {
        display: none;
    }
}

.illustration {
    width: var(--a-spacing-16);
    height: var(--a-spacing-16);

    @media #{common.$mq-screen-mobile-small} {
        width: var(--a-spacing-12);
        height: var(--a-spacing-12);
    }
}
