@use 'common' as common;

.illustration {
    width: var(--a-spacing-16);
    min-width: var(--a-spacing-16);
    height: var(--a-spacing-16);
    margin-right: var(--a-spacing-4);

    @media #{common.$mq-screen-mobile-small} {
        width: var(--a-spacing-12);
        min-width: var(--a-spacing-12);
        height: var(--a-spacing-12);
    }
}

.title {
    text-decoration-line: underline;
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.1em;
    color: var(--a-gray-900);
    font-weight: 600;
    margin: 0;

    :global(.provider) & {
        color: var(--default-action-color);
    }
}

.mini {
    align-items: center;
    border-radius: var(--a-border-radius-large);
    border: 1px solid var(--a-gray-400);
    display: inline-flex; // Ensures margins don't collapse
    padding: var(--a-spacing-3);
    text-decoration: none;
    width: 100%;

    &:after {
        box-shadow: 0 0 0 2px var(--a-white);
        height: calc(100% - 2px);
        margin: 1px;
        width: calc(100% - 2px);
        border-radius: 6px;
    }

    &:not(:hover):not(:active) {
        box-shadow:
            0 1px 3px rgba(38, 38, 38, 0.2),
            0 1px 6px rgba(0, 0, 0, 0.14),
            0 2px 8px rgba(38, 38, 38, 0.12);
    }

    &:hover {
        box-shadow:
            0 1px 3px rgba(38, 38, 38, 0.2),
            0 1px 6px rgba(0, 0, 0, 0.14),
            0 2px 8px rgba(38, 38, 38, 0.12);
    }

    &:hover,
    &:focus {
        border: 1px solid transparent;
    }
}
