.frontpageCard {
    margin-bottom: 0;
    height: 100%;

    :global(.employer-frontpage),
    :global(.provider-frontpage) {
        padding: 1.5rem;

        a {
            font-size: var(--a-font-size-heading-medium);
            line-height: var(--a-font-line-height-heading-medium);
        }

        border: 0;
    }

    :global(.employer-frontpage) {
        background-color: var(--a-orange-200);
        &:not(:hover):not(:active) {
            box-shadow: 0 0 0;
        }
        &:hover {
            box-shadow: 0 0 0;
        }
    }
    :global([class*='MiniCard'].provider-frontpage) {
        background-color: var(--a-red-50);
        box-shadow: var(--a-shadow-xsmall);

        :global(.back) {
            svg {
                path,
                rect {
                    fill: var(--a-red-100);
                }
            }
        }

        &:hover {
            background-color: var(--a-red-100);
            :global(.back) {
                svg {
                    path,
                    rect {
                        fill: var(--a-white);
                    }
                }
            }
        }
    }
}
