@use 'src/common' as common;

.figureContainer {
    text-align: center;

    figure {
        width: 100%;
        margin-top: 4rem;
        display: inline-block;

        img {
            max-width: 100%;
            height: auto;
        }

        &.figureSmall img {
            max-width: 40%;
        }
        &.figureMedium img {
            max-width: 70%;
        }
        &.figureFull img {
            max-width: 100%;
        }

        figcaption {
            padding-top: 0.42rem;
            margin-bottom: 0;
            color: #555;
            font-size: 0.84rem;
        }
    }
}
