@use 'src/common' as common;

.socialMedia {
    text-align: center;
    margin-top: 3.3rem;

    ul {
        @include common.unstyled-list();
    }

    li {
        padding: 0;
        margin: 0 1rem 0 0;
        display: inline-block;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        padding: 0.5rem;
        display: inline-block;
    }

    .twitter {
        background-image: url('/gfx/twitter-filled.svg');
        background-size: 1.1875rem 1rem;

        &:hover {
            background-image: url('/gfx/twitter-inverted.svg');
        }
    }

    .facebook {
        background-image: url('/gfx/facebook-filled.svg');
        background-size: 0.5625rem 1.125rem;

        &:hover {
            background-image: url('/gfx/facebook-inverted.svg');
        }
    }

    .linkedin {
        background-image: url('/gfx/linkedin-filled.svg');
        background-size: 1rem 1rem;

        &:hover {
            background-image: url('/gfx/linkedin-inverted.svg');
        }
    }

    .shareSocial {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        text-indent: -9999px;
        border-radius: 50%;
        border: 1px solid #0067c5;
        background-position: center center;
        background-repeat: no-repeat;

        &:hover {
            background-color: #0067c5;
        }
    }

    &:after {
        // preload mouseover icons
        position: absolute;
        z-index: -1;
        content: url('/gfx/twitter-inverted.svg')
            url('/gfx/facebook-inverted.svg') url('/gfx/linkedin-inverted.svg');
    }
}
