@use 'src/common' as common;

.socialMedia {
    text-align: center;
    margin-top: 3.3rem;

    ul {
        @include common.unstyled-list();
    }

    li {
        padding: 0;
        margin: 0 1rem 0 0;
        display: inline-block;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        padding: 0.5rem;
        display: inline-block;
    }

    .twitter {
        background-image: url("data:image/svg+xml, %3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 38' %3E %3Cg transform='translate(0.000000,38.000000) scale(0.100000,-0.100000)' fill='%230067c5' stroke='none'%3E %3Cpath d='M252 373 c-16 -6 -42 -57 -42 -83 0 -12 -6 -20 -17 -20 -31 1 -97 36 -128 68 -16 17 -33 32 -37 32 -13 0 -19 -65 -9 -93 7 -19 7 -27 0 -27 -16 0 -1 -51 22 -76 15 -17 17 -23 7 -26 -9 -4 -1 -17 24 -40 l37 -35 -25 -12 c-14 -6 -38 -11 -54 -11 -40 0 -38 -13 5 -33 23 -11 61 -17 103 -17 87 0 158 33 202 93 30 40 60 121 60 159 0 10 10 33 23 50 14 20 18 32 11 35 -7 2 -10 13 -7 24 5 18 3 19 -21 7 -21 -9 -32 -9 -47 0 -19 12 -82 15 -107 5z' /%3E %3C/g%3E %3C/svg%3E");
        background-size: 1.1875rem 1rem;

        &:hover {
            background-image: url("data:image/svg+xml, %3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 38' %3E %3Cg transform='translate(0.000000,38.000000) scale(0.100000,-0.100000)' fill='%23fff' stroke='none'%3E %3Cpath d='M252 373 c-16 -6 -42 -57 -42 -83 0 -12 -6 -20 -17 -20 -31 1 -97 36 -128 68 -16 17 -33 32 -37 32 -13 0 -19 -65 -9 -93 7 -19 7 -27 0 -27 -16 0 -1 -51 22 -76 15 -17 17 -23 7 -26 -9 -4 -1 -17 24 -40 l37 -35 -25 -12 c-14 -6 -38 -11 -54 -11 -40 0 -38 -13 5 -33 23 -11 61 -17 103 -17 87 0 158 33 202 93 30 40 60 121 60 159 0 10 10 33 23 50 14 20 18 32 11 35 -7 2 -10 13 -7 24 5 18 3 19 -21 7 -21 -9 -32 -9 -47 0 -19 12 -82 15 -107 5z' /%3E %3C/g%3E %3C/svg%3E");
        }
    }

    .facebook {
        background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='37.3333333' height='69.3333333' viewBox='0 0 28 52'%3E %3Cpath d='M13.1 3.6C10.2 5.7 8 10.8 8 15.5c0 3.4-.1 3.5-4 3.5H0v9h8v24h11V28h9v-9h-9.1l.3-3.8c.3-3.6.4-3.7 4.6-4l4.2-.3V2h-6.3c-4.2 0-7 .5-8.6 1.6z' fill='%230067c5'/%3E %3C/svg%3E");
        background-size: 0.5625rem 1.125rem;
        &:hover {
            background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='37.3333333' height='69.3333333' viewBox='0 0 28 52'%3E %3Cpath d='M13.1 3.6C10.2 5.7 8 10.8 8 15.5c0 3.4-.1 3.5-4 3.5H0v9h8v24h11V28h9v-9h-9.1l.3-3.8c.3-3.6.4-3.7 4.6-4l4.2-.3V2h-6.3c-4.2 0-7 .5-8.6 1.6z' fill='%23fff'/%3E %3C/svg%3E");
        }
    }

    .linkedin {
        background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='58.6666667' height='58.6666667' viewBox='0 0 44 44'%3E %3Cg fill='%230067c5'%3E %3Cpath d='M2 2C-.3 4.3-.4 5.3 1 8.1c1.2 2.2 5.9 2.6 7.8.7 1.9-1.9 1.5-6.6-.7-7.8C5.3-.4 4.3-.3 2 2zM27.3 16c-2.7 1.6-3.3 1.7-3.3.5 0-1.1-1.1-1.5-4-1.5h-4v29h7.8l.4-9.4c.4-10.4 1.5-12.6 5.9-12.6 4 0 4.9 2.4 4.9 12.9V44h9.2l-.4-11.8c-.4-12.4-1.3-15.2-5.5-17.1-3.6-1.6-7.4-1.3-11 .9zM1 29.5V44h9V15H1v14.5z'/%3E %3C/g%3E %3C/svg%3E");
        background-size: 1rem 1rem;
        &:hover {
            background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='58.6666667' height='58.6666667' viewBox='0 0 44 44'%3E %3Cg fill='%23fff'%3E %3Cpath d='M2 2C-.3 4.3-.4 5.3 1 8.1c1.2 2.2 5.9 2.6 7.8.7 1.9-1.9 1.5-6.6-.7-7.8C5.3-.4 4.3-.3 2 2zM27.3 16c-2.7 1.6-3.3 1.7-3.3.5 0-1.1-1.1-1.5-4-1.5h-4v29h7.8l.4-9.4c.4-10.4 1.5-12.6 5.9-12.6 4 0 4.9 2.4 4.9 12.9V44h9.2l-.4-11.8c-.4-12.4-1.3-15.2-5.5-17.1-3.6-1.6-7.4-1.3-11 .9zM1 29.5V44h9V15H1v14.5z'/%3E %3C/g%3E %3C/svg%3E");
        }
    }

    .shareSocial {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        text-indent: -9999px;
        border-radius: 50%;
        border: 1px solid #0067c5;
        background-position: center center;
        background-repeat: no-repeat;

        &:hover {
            background-color: #0067c5;
        }
    }
}
