@import (reference) '../global';
@import (reference) '~nav-frontend-typografi-style/src/index';

.tabell__horisontal-scroll {
    overflow-x: auto;
}

table {
    .spacer-row {
        height: 1rem;
        background-color: transparent;
    }
}

