@use 'src/common' as common;

.wrapper {
    background-color: common.$a-white;

    @include common.full-width-mixin();

    @media #{common.$mq-screen-mobile-small} {
        padding-bottom: 1.5rem;
    }
}

.person {
    padding-top: 0.5rem;
    padding-bottom: 2.75rem;
}

.employer {
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;
}

.header {
    margin-bottom: 1.5rem;
}

.cards {
    @include common.grid-layout-mixin();
    @include common.unstyled-list();
}
