.header {
    scroll-margin-top: 2.5lh;
    outline: none;

    :global(.page__page-with-side-menus) &,
    :global(.page__single-col-page) & {
        // Matcher SCROLL_TOLERANCE_PX (minus 1px) i DynamicDesktopNavigation.tsx
        scroll-margin-top: 74px;
    }
}

.anchorLink {
    font-size: inherit;
    color: inherit;
    text-decoration: inherit;
}
