.header {
    scroll-margin-top: 2.5lh;

    :global(.page__page-with-side-menus) & {
        // Matcher SCROLL_TOLERANCE_PX (minus 1px) i DynamicNavigation
        scroll-margin-top: 74px;
    }
}

.anchorLink {
    font-size: inherit;
    color: inherit;
    text-decoration: inherit;
}
