@import (reference) '../../../../global';

.notification {
    &__description {
        margin-top: 0.25rem;
    }

    &__updated {
    }

    img {
        width: #round-rem(2rem) [];
        height: #round-rem(2rem) [];
    }
}
