@use 'src/common' as common;

.figureContainer {
    text-align: center;

    figure {
        width: 100%;
        margin-top: 4rem;
        display: inline-block;

        img {
            max-width: 100%;
            height: auto;
        }

        &.figureSmall img {
            max-width: 40%;
        }
        &.figureMedium img {
            max-width: 70%;
        }
        &.figureFull img {
            max-width: 100%;
        }

        figcaption {
            margin: 0.5rem 0;
            font-size: var(--navds-font-size-small);
            letter-spacing: 0.004em;
            line-height: var(--navds-font-line-height-medium);
            margin: 0.5rem 0;
            color: var(--navds-semantic-color-text);
            text-align: left;
        }
    }
}
