@use 'src/common' as common;

.newsPressHeader {
    display: block;
    padding-bottom: 0.75rem;
    margin-bottom: 2rem;

    @include common.full-width-mixin();
}

.newsPressLine {
    border-bottom: 3px solid var(--navds-global-color-gray-400);
    margin-top: 1rem;
    display: block;
    position: absolute;
    left: 0;
    width: 100vw;
}

.tagWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.25rem;
}

.tagLabel {
    color: var(--navds-global-color-purple-500);
    padding-left: 0.5rem;
    text-transform: uppercase;
    font-weight: common.$navds-font-weight-bold;
}

.tagIcon {
    width: 1rem;
    height: 1rem;
}
