@import (reference) '../../../../global';

.version-picker {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    &__status {
        display: flex;
        padding: 1rem 3rem;
        margin-bottom: 1rem;
        background-color: white;
        border-radius: @border-radius-base;
        box-shadow: 0 0 0 2px @navGronnLighten60 inset;
    }

    &__back-to-live {
        margin-left: 0.5rem;
    }

    &__toggle-chevron {
        margin-left: 0.5rem;
    }

    &__selector-wrapper {
        position: relative;
        top: 0.5rem;
        z-index: 1;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__selector {
        position: absolute;
        visibility: hidden;
        max-height: 0;
        overflow: hidden;

        display: flex;
        align-items: center;

        transition-property: visibility, max-height, padding;
        transition-duration: 0.15s;
        transition-timing-function: ease-out;

        background-color: white;
        border-radius: @border-radius-base;
        box-shadow: 0 0 0 2px @navGronnLighten60 inset;
        padding: 0 2rem;

        &--open {
            visibility: visible;
            max-height: 8rem;
            padding: 1rem 2rem;
        }
    }

    &__input {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
    }

    &__time {
        margin: 0.5rem 0;
    }

    &__date {
    }

    &__spinner-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__spinner {
        width: 5rem;
        height: 5rem;
        margin-top: 0.5rem;
    }
}
