.filter-bar {
    &__wrapper {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }

    &__header {
        margin-bottom: 0.5rem !important; // Would otherwise be override
    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
