.filter-bar {
    &__wrapper {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem 0;
    }

    &__header {
        margin-bottom: 0.5em;
    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
