@import (reference) '~nav-frontend-typografi-style/src/index';

.filterExplanation {
    .typo-undertekst;
    margin: 0.5rem 0.5rem 0.5rem -0.4rem;
    padding: 0.3rem 0.3rem 0.3rem 0.4rem;
    display: flex;
    align-items: center;
    transition: all 0.5s;
    border-radius: 3px;

    &--highlight {
        background-color: @navBla;
        color: white;
    }

    &__iconWrapper {
        display: flex;
        margin-right: 0.5em;
    }

    &__text {
        margin-top: 0.1em;
    }
}
