@import (reference) '../../../global';
@import (reference) '~nav-frontend-typografi-style/src/index';

.filterExplanation {
    margin: 0.5rem 0.5rem 0.5rem -0.5rem;
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    transition: all 0.8s linear;
    border-radius: 3px;
    width: 100%;
    font-size: #px-to-rem(14px) [];

    &--highlight {
        background-color: @navLysBlaLighten80;
        transition: all 0.4s linear;
    }

    &__iconWrapper {
        display: flex;
        margin-right: 0.5em;
    }
}
