@import (reference) '../../../global';

.filterExplanation {
    margin: 0rem 0rem 1rem -0.5rem;
    padding: 0.5rem 0.3rem 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    transition: all 0.8s linear;
    border-radius: 3px;
    width: calc(100% + 0.5rem);
    font-size: #px-to-rem(14) [];
    border: 1px solid transparent;

    &--highlight {
        background-color: @navGronnLighten80;
        border: 1px solid @navGronn;
        transition: all 0.4s linear;
    }

    &__iconWrapper {
        display: flex;
        margin-right: 0.5em;
    }
}
