.filter-bar {
    &__wrapper {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;

        .overskrift {
            margin-bottom: 1rem;
        }
    }

    &__filterExplanation {
        margin-top: 0.5em;
        display: flex;
        align-items: center;
    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
