.gv-item-editor {
    display: flex;
    justify-content: space-between;

    &__form-buttons {
        & > *:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    &__delete-confirm-msg {
        margin-bottom: 0.5rem;
    }
}
