.macroQuote {
    margin: var(--ax-space-24) 0;
    padding: 0 var(--ax-space-40);
    position: relative;

    &:before {
        content: '\201C';
        font-size: 4rem;
        color: var(--ax-text-logo);
        font-family: 'Times new roman', serif;
        position: absolute;
        left: 0;
        top: var(--ax-space-12);
    }
}
