.macroQuote {
    margin: var(--a-spacing-6) 0;
    padding: 0 var(--a-spacing-10);
    position: relative;

    &:before {
        content: '\201C';
        font-size: 4rem;
        color: var(--a-nav-red);
        font-family: 'Times new roman', serif;
        position: absolute;
        left: 0;
        top: var(--a-spacing-3);
    }
}
