@use 'src/common' as common;

.currentTopics {
    background-color: common.$navds-semantic-color-canvas-background;
    padding: 2.75rem;
    @include common.full-width-mixin();

    @media #{common.$mq-screen-mobile} {
        padding: 1.5rem 1rem;
    }
}

.header {
    margin-bottom: 1.5rem;

    @media #{common.$mq-screen-mobile} {
        margin-bottom: 1rem;
    }
}

.list {
    @include common.grid-layout-mixin(
        $numCols: 2,
        $rowGapMobileSmall: 0.75rem,
        $columnGapMobileSmall: 0.75rem
    );
}

.item {
    background-color: white;

    :global(.linkPanelNavnoLink) {
        @media #{common.$mq-screen-mobile-small} {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }
    }

    :global(.linkPanelNavnoTextContent) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    @media #{common.$mq-screen-mobile-small} {
        padding: 0.5rem 0.75rem;
    }
}

.date {
    color: common.$navds-global-color-gray-600;
}
