.facts_v1 {
    background: #f1f1f1;
    border: 1px solid var(--a-gray-200);
    padding: var(--a-spacing-6);
    margin-top: 4.2rem;

    p {
        margin-bottom: var(--a-spacing-4);
    }

    h2 {
        text-align: center;
    }

    .factIcon {
        width: var(--a-spacing-5);
        height: var(--a-spacing-5);
        display: flex;
        margin: 0 auto var(--a-spacing-2) auto;
    }

    .decorated {
        margin-bottom: 1.4rem;

        &:after {
            border-top: 1px solid #808080;
            content: ' ';
            display: block;
            margin: var(--a-spacing-5) auto 0;
            width: var(--a-spacing-8);
        }
    }
}

.facts_v2 {
    background: var(--a-purple-50);
    padding: var(--a-spacing-6);
    margin-top: var(--a-spacing-11);
    border-left: 8px solid var(--a-purple-300);

    p {
        margin-bottom: var(--a-spacing-4);
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    h2 {
        color: var(--a-purple-500);
    }

    .decorated {
        margin-bottom: 1.4rem;
    }
}
