@use 'common' as common;

.tableOfContents {
    margin-top: var(--a-spacing-8);

    ol {
        @include common.unstyled-list();
        border-top: 1px solid var(--a-gray-200);
    }
    li {
        font-size: var(--a-font-size-heading-small);
        border-bottom: 1px solid var(--a-gray-200);
    }
    a {
        color: var(--a-gray-800);
        font-weight: 600;
        display: block;
        padding: var(--a-spacing-2) 0;
        position: relative;
        text-decoration: none;

        &:hover,
        &:active {
            color: var(--a-blue-600);
        }
        &:focus {
            outline: none;
            color: var(--a-white);
            background-color: var(--a-border-focus);
            box-shadow: 0 0 0 2px var(--a-border-focus);
        }
        &:hover:before,
        &:focus:before,
        &:active:before {
            border: 3px solid var(--a-blue-600);
            background-color: var(--a-blue-600);
            border-radius: 50%;
            display: inline-block;
            content: ' ';
            position: absolute;
            left: -(var(--a-spacing-4));
            top: var(--a-spacing-4);
        }
    }
}
