@use 'common' as common;

.article {
    width: 100%;
    background: var(--a-white);
    border-radius: var(--a-spacing-1);

    @media #{common.$mq-screen-desktop} {
        padding: 2.8rem;
    }

    @media #{common.$mq-screen-mobile} {
        padding: var(--a-spacing-6);
    }

    @media #{common.$mq-screen-tablet} {
        padding: var(--a-spacing-6);
    }

    .header {
        margin-bottom: var(--a-spacing-6);
        padding-bottom: var(--a-spacing-6);
        border-bottom: 1px solid var(--a-gray-200);
    }

    .headerWithToc {
        margin-bottom: var(--a-spacing-6);
    }

    .title {
        margin: var(--a-spacing-2) 0 var(--a-spacing-4);
    }

    .text {
        p {
            margin-bottom: var(--a-spacing-4);
        }

        li {
            padding-bottom: var(--a-spacing-2);
            line-height: 1.8rem;
            font-size: 1.125rem;
        }

        > :last-child {
            margin-bottom: 0;
        }

        .chapterHeader {
            display: inline-block;
        }

        .chapterHeader:focus {
            outline-offset: 0.2109rem;
            outline: 0.2109rem solid var(--a-border-focus);
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        table {
            float: none;
            margin-bottom: var(--a-spacing-4);

            th,
            td {
                vertical-align: top;
                padding: 0.7rem;
                line-height: 1.5;
                font-size: 1.125rem;
            }
        }

        h2,
        .h2,
        h3,
        .h3,
        h4,
        .h4 {
            font-size: var(--a-font-size-heading-small);
            margin: var(--a-spacing-7) 0 var(--a-spacing-2);

            &:first-child {
                margin-top: 0;
            }
        }

        ul,
        ol {
            padding-left: 1.4rem;
            margin-bottom: var(--a-spacing-4);
        }
    }
}
