@import (reference) '../../../global';

.global-notifications {
    display: flex;
    justify-content: center;
}

.global-notifications-inner {
    @numCols: 2;
    @margin: 1rem;
    @margin-width-term: @margin * (@numCols - 1) / @numCols;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: calc((@desktopMaxWidth - @padding-sides-desktop * 2) * 0.75);
    width: 100%;

    @media @screen-tablet-and-desktop {
        .notification {
            width: calc(100% / @numCols - @margin-width-term);

            &:not(:nth-child(@{numCols}n)):not(:last-child) {
                margin-right: @margin;
            }
        }
    }

    @media @screen-mobile {
        padding: 1rem 0;
        flex-direction: column;
        align-items: center;

        .notification {
            width: 100%;
        }
    }
}
