.summary {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: var(--ax-space-16);
    margin-bottom: 0;
    border-bottom: 1px solid var(--ax-border-neutral-subtle);
    width: 100%;
    min-height: var(--ax-space-48);
}

.nohits {
    background-color: var(--ax-neutral-200);
    padding: var(--ax-space-24);
    border-radius: var(--ax-radius-8);
}
