.menuList {
    display: flex;
    flex-direction: column;
    width: 100%;

    :global(.aksel-accordion) {
        --__ac-accordion-header-shadow-color: none;
    }

    .panel {
        margin-bottom: var(--ax-space-8);
        background-color: white;
        border-radius: var(--ax-radius-4);

        :global(.aksel-accordion__header) {
            border-radius: var(--ax-radius-4);

            &:not(:focus-visible) {
                box-shadow: 0 0 0;
            }

            &:hover {
                background-color: white;
            }
        }

        &:global(.aksel-accordion__item--open) {
            :global(.aksel-accordion__header) {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        ul {
            list-style: none;
            width: 100%;
            margin: 0;
            padding: var(--ax-space-6) 0;
            font-size: var(--ax-font-size-large);

            li:not(:last-child) {
                margin-bottom: var(--ax-space-16);
            }
        }
    }
}
