@use 'src/common' as common;

.textWithIndicator {
    display: inline-flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;
}

.indicator {
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    display: inline-block;
    margin-right: 0.5rem;
    align-self: start;
    margin-top: 0.325rem;
    flex-shrink: 0;
}

.active {
    background-color: var(--a-green-100);
}

.inactive {
    background-color: var(--a-gray-300);
}

.prefix {
    font-weight: bold;
    display: inline-block;
}

.text {
    display: inline-block;
}
