.alertBox {
    align-items: flex-start;

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    * > :first-child {
        margin-top: 0;
    }

    * > p:last-child {
        margin-bottom: 0;
    }

    &:global(.navds-alert--small > .navds-alert__icon) {
        align-self: center;
    }
}
