@use 'common' as common;

.lenkepanelNavno {
    border-color: var(--default-action-color);
    border-radius: var(--ax-radius-2);

    :global {
        .aksel-link-card__title,
        .aksel-link-anchor__arrow {
            color: var(--default-action-color);
        }
    }

    &:hover {
        box-shadow: var(--a-shadow-small);

        :global(.aksel-link-card__title) {
            color: var(--default-action-color);
            text-decoration-line: underline;
            text-decoration-thickness: 0.05em;
            text-underline-offset: 0.1em;
        }
    }

    @media #{common.$mq-screen-mobile} {
        padding: var(--ax-space-12) var(--ax-space-16);
    }
}

.lenkebase {
    text-decoration: none;
    outline: 0;
}

.innhold {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ikon {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;

    padding: 0 var(--ax-space-16) 0 var(--ax-space-8);

    width: var(--ax-space-48);
    height: var(--ax-space-48);

    & > img {
        max-width: var(--ax-space-32);
        max-height: var(--ax-space-32);
    }
}

.separator {
    width: var(--ax-space-96);
    border: none;
    background-color: var(--ax-neutral-700);
    height: 1px;
    margin: var(--ax-space-16) 0;
}

.vertikal {
    flex-direction: column;
    text-align: center;

    :global {
        .aksel-link-card__title {
            justify-content: center;
        }
    }

    .separator {
        margin-inline: auto;
    }

    .ikon {
        width: 100%;
        padding: 0 0 var(--ax-space-16) 0;
        & > img {
            max-width: 100%;
        }
    }
}
