@use 'common' as common;

.lenkepanelNavno {
    &:global(.navds-link-panel) {
        border: 1px solid var(--default-action-color);
    }

    :global {
        .navds-link-panel__content {
            display: flex;
        }

        .navds-link-panel__title,
        .navds-link-panel__chevron {
            color: var(--default-action-color);
        }
    }

    &:hover {
        :global(.navds-link-panel__title) {
            color: var(--default-action-color);
            text-decoration-line: underline;
            text-decoration-thickness: 0.05em;
            text-underline-offset: 0.1em;
        }
    }

    @media #{common.$mq-screen-mobile} {
        padding: var(--a-spacing-3) var(--a-spacing-4);
    }
}

.innhold {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ikon {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;

    padding: 0 var(--a-spacing-4) 0 var(--a-spacing-2);

    width: 3rem;
    height: 3rem;

    & > img {
        max-width: var(--a-spacing-8);
        max-height: var(--a-spacing-8);
    }
}

.separator {
    width: 6rem;
    border: none;
    background-color: var(--a-gray-600);
    height: 1px;
    margin: var(--a-spacing-4) auto;
}

.vertikal {
    flex-direction: column;
    text-align: center;

    :global {
        .navds-link-panel__chevron {
            display: none;
        }
    }

    .ikon {
        width: 100%;
        padding: 0 0 var(--a-spacing-4) 0;
        & > img {
            max-width: 100%;
        }
    }
}
