@use 'common' as common;

.lenkepanelNavno {
    border-color: var(--default-action-color);
    border-radius: var(--a-border-radius-small);

    :global {
        .navds-link-card__title,
        .navds-link-anchor__arrow {
            color: var(--default-action-color);
        }
    }

    &:hover {
        box-shadow: var(--a-shadow-small);

        :global(.navds-link-card__title) {
            color: var(--default-action-color);
            text-decoration-line: underline;
            text-decoration-thickness: 0.05em;
            text-underline-offset: 0.1em;
        }
    }

    @media #{common.$mq-screen-mobile} {
        padding: var(--a-spacing-3) var(--a-spacing-4);
    }
}

.lenkebase {
    text-decoration: none;
    outline: 0;
}

.innhold {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ikon {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;

    padding: 0 var(--a-spacing-4) 0 var(--a-spacing-2);

    width: var(--a-spacing-12);
    height: var(--a-spacing-12);

    & > img {
        max-width: var(--a-spacing-8);
        max-height: var(--a-spacing-8);
    }
}

.separator {
    width: var(--a-spacing-24);
    border: none;
    background-color: var(--a-gray-600);
    height: 1px;
    margin: var(--a-spacing-4) 0;
}

.vertikal {
    flex-direction: column;
    text-align: center;

    :global {
        .navds-link-card__title {
            justify-content: center;
        }
    }

    .separator {
        margin-inline: auto;
    }

    .ikon {
        width: 100%;
        padding: 0 0 var(--a-spacing-4) 0;
        & > img {
            max-width: 100%;
        }
    }
}
