@use 'common' as common;

@mixin transitionMixin {
    transition:
        all 0.3s ease-out,
        outline 0s,
        outline-offset 0s;
}

$height-full-size: 160px;
$size-medium: 0.85;
$size-small: 0.5;

.lenkepanel {
    @include transitionMixin;

    background-color: var(--a-deepblue-50);
    min-height: $height-full-size;
    height: auto;
    width: 100%;
    border-radius: var(--a-border-radius-large);
    border-style: none;
    padding: 0;
    overflow: hidden;

    &:hover {
        &:not(:focus) {
            box-shadow: none;
        }

        :global(.navds-link-card__title) {
            color: var(--default-action-color);
            text-decoration-line: none;
        }

        @media (hover) {
            background-color: var(--a-surface-subtle);
        }
    }

    &:active {
        background-color: var(--a-deepblue-50);

        :global(.navds-link-card__title) {
            color: var(--a-gray-900);
        }
    }

    .lenkebase {
        text-decoration: none;
    }

    :global(.navds-link-card__title) {
        font-size: var(--a-font-size-heading-medium);
        letter-spacing: -0.002em;
        line-height: var(--a-font-line-height-heading-medium);
        text-decoration-line: underline;
        text-decoration-thickness: 0.05em;
        text-underline-offset: 0.1em;
    }

    @media only screen and (max-width: common.$desktopMaxWidth) {
        min-height: $height-full-size * $size-medium;
        height: auto;
    }

    @media #{common.$mq-screen-mobile-small} {
        min-height: $height-full-size * $size-small;
        height: auto;

        .titleShort,
        .titleLong {
            margin-left: var(--a-spacing-4);
            padding-right: var(--a-spacing-16);
            width: 100%;
        }

        :global(.navds-link-card__title) {
            font-size: var(--a-font-size-heading-small);
            line-height: var(--a-font-line-height-heading-small);
        }
    }
}

.titleShort,
.titleLong {
    @include transitionMixin;

    display: block;
    width: 15.25rem;
    margin-left: var(--a-spacing-6);
    padding-right: 0;
}
