.lenkepanel {
    :global(.aksel-link-card__title),
    :global(.aksel-link-anchor__arrow) {
        color: var(--default-action-color);
    }

    :global(.aksel-link-card__footer) {
        display: block;
    }

    &:hover {
        background-color: #ecf3fe;
        border-color: #cbd4e1;
        box-shadow: none;

        :global(.aksel-link-card__title) {
            text-decoration: underline;
        }
    }
}

.lenkebase {
    text-decoration: none;
}

.metadata {
    width: fit-content;

    + .metadata {
        margin-top: var(--ax-space-8);
    }
}
