@use 'common' as common;

.layout {
    &__main {
        display: flex;
        flex-direction: row;
        align-items: stretch;

        max-width: 63.5rem;
        width: 100%;
        margin: 1rem auto;
        padding: 0;

        @media #{common.$mq-screen-mobile} {
            flex-direction: column;
        }
    }
}

.region {
    &__first {
        flex: 2;

        @media #{common.$mq-screen-tablet-and-desktop} {
            &:not(:only-child) {
                margin-right: 1.5rem;
            }
        }
    }

    &__second {
        flex: 1;

        @media #{common.$mq-screen-mobile} {
            margin-top: 2rem;
        }
    }
}
