@import (reference) '../../../global';

.lenkepanel-navno {
    &.navds-link-panel {
        border: 1px solid @navBla;
    }

    .navds-link-panel__content {
        display: flex;
    }

    .navds-link-panel__title,
    .navds-link-panel__chevron {
        color: @navBla;
    }

    &__innhold {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }

    &__ikon {
        position: relative;

        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;

        padding: 0 1rem 0 0.5rem;

        width: 3rem;
        height: 3rem;

        & > img {
            max-width: #round-rem(2rem) [];
            max-height: #round-rem(2rem) [];
        }
    }

    &__vertikal {
        flex-direction: column;
        .lenkepanel__indikator {
            display: none;
        }
    }

    &__vertikal &__ikon {
        width: 100%;
        padding: 0 0 1rem 0;
        & > img {
            max-width: 100%;
        }
    }

    @media @mq-screen-mobile {
        padding: 0.75rem 1rem;
    }
}
