.link {
    align-items: center;
    padding: var(--ax-space-8) 0;

    &[aria-current='true'] {
        color: inherit;
        text-decoration: none;
        padding-right: calc(var(--ax-space-12) - 0.9ch);

        .linkText {
            font-weight: var(--ax-font-weight-bold);
        }
    }
}
