@use 'common' as common;

.link {
    display: inline-flex;
    align-items: center;
    gap: var(--a-spacing-1-alt);
    padding: var(--a-spacing-2) 0;
    text-underline-offset: 2.5px;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--a-border-subtle);
    color: var(--a-text-action);

    &:hover {
        text-decoration-color: currentColor;
    }

    &[aria-current='true'] {
        color: inherit;
        text-decoration: none;
        padding-right: calc(var(--a-spacing-3) - 0.9ch);

        .linkText {
            font-weight: var(--a-font-weight-bold);
        }
    }
}
