@import '../../../../global';

.lenke-med-ingress {
    @chevron-transform: translateY(1px) rotateZ(-90deg);
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    border-radius: @border-radius-base;
    padding: 0.75rem 0;

    &:hover {
        .lenke-med-ingress__tittel {
            text-decoration: underline;
        }
        .lenke-med-ingress__chevron {
            transform: translateX(8px) @chevron-transform;
        }
    }

    &:focus {
        box-shadow: 0 0 0 3px @fokusFarge;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__tittel {
        color: @navBla;
    }

    &__chevron {
        align-self: flex-start;
        transform: @chevron-transform;
        color: @navBla;
    }

    &__chevron-container {
        align-self: flex-start;
        min-width: 1.75rem;
    }

    &__ingress {
        color: black;
    }
}
