.html {
    word-break: break-word;
    margin-bottom: var(--ax-space-36);

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    table {
        float: none;
        margin-bottom: var(--ax-space-28);

        th,
        td {
            font-size: var(--ax-font-size-large);
            line-height: var(--ax-font-line-height-large);
            padding: var(--ax-space-12);
            vertical-align: top;
        }
    }

    h5 {
        color: rgb(64, 64, 64);
        text-transform: uppercase;
        font-variant-caps: all-small-caps;
        margin-top: var(--ax-space-36);
    }

    ul,
    ol {
        padding-left: var(--ax-space-24);
        margin-bottom: var(--ax-space-36);
        margin-left: var(--ax-space-4);

        li::marker {
            color: var(--brand-purple-deep);
            font-variant-caps: all-small-caps;
            font-weight: 800;
        }

        li:not(:last-child) {
            // last-child-selector needed for specificity
            margin-bottom: var(--ax-space-12);
        }

        li:last-child {
            margin-bottom: 0;
        }

        ul,
        ol {
            margin: var(--ax-space-12) var(--ax-space-4);
        }
    }

    ol li {
        padding-left: var(--ax-space-4);
    }

    > :last-child {
        margin-bottom: 0;
    }
}
