@import (reference) '../../../../global';
@SuccessStroke: '~@navikt/ds-icons/svg/SuccessStroke.svg';

.filter-checkbox {
    &__wrapper {
        background-color: @navLysGra;
        border-radius: 4px;
        display: flex;
        justify-items: center;
        margin: 4px 0;
        padding: 2px 7px 2px 5px;

        &--selected {
            background-color: @navBlaLighten80;
            box-shadow: @navBla inset 0 0 0 1px;

            .skjemaelement {
                .skjemaelement__label {
                    &:before {
                        background-color: transparent;
                        background-image: url(@SuccessStroke);
                        box-shadow: 0 0 0;
                    }
                }
            }
        }

        .skjemaelement {
            margin-bottom: 0 !important;

            label {
                color: @navMorkGra;
                font-size: 0.9rem;
                line-height: 16px;
                padding-left: 27px;

                &:before {
                    background-size: 100%;
                    border-radius: 2px;
                    border: 0;
                    box-shadow: @navGra60 inset 0 0 0 1.1px;
                    height: 16px;
                    width: 16px;
                }
            }

            .checkboks:checked:focus + .skjemaelement__label:before {
                background-color: transparent;
                background-image: url(@SuccessStroke);
                box-shadow: 0 0 0 3px @fokusFarge;
            }

            .checkboks:hover + .skjemaelement__label {
                color: @navMorkGra;
            }
        }
    }
}
