@import (reference) '../../../../global';

.filters-menu {
    &__wrapper {
        box-shadow: @navBlaLighten60 inset 0 0 0 8px;
        border-radius: 2px;

        .ekspanderbartPanel {
            border-bottom: 0px;
        }

        .checkboxgruppe {
            align-items: flex-start;
            display: flex;
            flex-direction: column;

            &:not(:last-of-type) {
                margin-bottom: 2em;
            }
        }
    }
}
