@use 'common' as common;

.mobile {
    @media #{common.$mq-screen-desktop} {
        display: none;
    }
}

.mobileFilters {
    display: grid;
    column-gap: var(--ax-space-12);
    height: var(--ax-space-48);
    margin-top: var(--ax-space-8);

    & > * {
        height: 100%;
    }

    &.withToggleFilters {
        grid-template-columns: var(--ax-space-96) 1fr;
    }
}

.mobileFilterButton {
    background-color: var(--ax-brand-blue-200);
    color: var(--ax-text-neutral);

    :global(.navds-label) {
        font-weight: normal;
    }

    &:hover {
        background-color: var(--ax-brand-blue-600);
        color: var(--a-white);
    }
}

.mobileToggleFilters {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    max-height: 0;

    transition-duration: 0.25s;
    transition-timing-function: ease-out;
    transition-property: padding, opacity, visibility, max-height;

    &.open {
        visibility: visible;
        opacity: 1;
        max-height: 30rem;
    }

    & > * {
        margin-top: var(--ax-space-32);
    }
}

.desktop {
    display: none;

    & > :not(:last-child) {
        margin-bottom: var(--ax-space-32);
    }

    @media #{common.$mq-screen-desktop} {
        display: initial;
    }
}
