@import (reference) '../../../../../../global';

.version-selector-datetime {
    &__left {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        width: 50%;
    }


    &__time {
        margin: 0.5rem 0;
    }

    &__date {
    }

    &__right {
        align-self: flex-end;
        width: 50%;
    }

    &__button {
        margin-top: 0.5rem;
        width: 100%;
    }
}
