@import (reference) '../../../../../../global';

.version-selector-datetime {
    @selectorHeight: 3rem;

    &__left {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        width: 50%;
    }

    &__time {
        margin: 0.5rem 0;
    }

    &__date,
    &__time {
        min-height: @selectorHeight;
        padding: 0.5rem;
    }

    &__right {
        align-self: flex-end;
        width: 50%;

        .version-selector-submit {
            margin-top: 0.5rem;
            width: 100%;
            min-height: @selectorHeight;
        }
    }
}
