.openingStatus {
    align-items: center;
    border-radius: var(--ax-radius-4);
    color: var(--navds-global-color-black);
    display: inline-flex;
    margin: 0 0 var(--ax-space-16) 0;
    padding: var(--ax-space-4) var(--ax-space-8);
}

.open {
    background-color: var(--ax-success-200);
}

.closed {
    background-color: var(--ax-neutral-400);
}
