.gvItemEditor {
    display: flex;
    justify-content: space-between;

    .form {
        & > :not(:last-child) {
            margin-bottom: var(--ax-space-8);
        }
    }

    .formButtons {
        & > *:not(:last-child) {
            margin-right: var(--ax-space-8);
        }
    }

    .deleteConfirmMsg {
        margin-bottom: var(--ax-space-8);
    }
}
