.error404 {
    display: flex;
    flex-direction: column;

    p:not(:last-child) {
        margin-bottom: var(--ax-space-16);
    }

    .enContent {
        margin-top: var(--ax-space-48);
    }

    .enHeader {
        margin-bottom: var(--ax-space-8);
    }

    .urlSuggestion {
        display: inline-block;
    }
}
