@import (reference) '../../global.less';

.search {
    display: flex;
    justify-content: space-between;

    &__separator {
        border: none;
        margin: 1.5rem 0 0.5rem 0;
        border-bottom: 1px solid @navGra60;
    }

    &__results {
        flex-grow: 1;
    }

    &__filters {
        margin-left: 3rem;
        min-width: 300px;
        & > * {
            margin-bottom: 1rem;
        }
    }
}
