@import (reference) '../../global.less';

.search {
    &__filter {
        padding: 1rem;
        border: 2px @navGra60 solid;
    }

    &__filter-option {
        display: flex;
        justify-content: space-between;
    }
}
