@import (reference) '../../global.less';

.search {
    display: flex;
    justify-content: space-between;

    &__results {
        flex-grow: 1;

        .search-separator {
            border: none;
            margin: 1.5rem 0;
            border-bottom: 2px solid @navGra60;
        }
    }

    &__results-list {
        margin: 0 -1rem;

        .search-separator {
            border: none;
            margin: 1.5rem 1rem;
            border-bottom: 1px solid @navGra60;
        }
    }

    &__results-list-subheading {
        padding: 0 1rem;
    }

    &__filters {
        margin-left: 3rem;
        min-width: 300px;
        & > * {
            margin-bottom: 1rem;
        }
    }
}
