@import (reference) '../../../../global';
@import (reference) '~nav-frontend-typografi-style/src/index';

.global-values-messages {
    width: 40%;
    border: 4px solid @navGronnLighten60;
    padding: 1rem;

    &--error {
        border-color: @navRodLighten20;
    }

    &--warning {
        border-color: @navOransjeLighten20;
    }

    &__message {
        .typo-normal;

        &--error {
            font-weight: bold;
            color: @navRod;
        }

        &--warning {
            color: @navOransjeDarken20;
        }
    }
}
