@use 'src/common' as common;

.pageMetaData {
    display: flex;
    flex-direction: column;
}

.definition {
    display: flex;
    flex-direction: column;

    dt,
    dd {
        display: flex;
    }

    dt {
        width: 30%;
    }

    dt:after {
        content: ':';
    }

    dd {
        margin: 0;
    }
}

.row {
    display: flex;
}
