@use 'common' as common;
@use 'sass:math';

.linkLists {
    display: flex;
    justify-content: center;
    width: 100%;

    @media #{common.$mq-screen-mobile} {
        flex-wrap: wrap;
    }

    .column {
        @media #{common.$mq-screen-mobile} {
            width: 100%;
        }
        @media #{common.$mq-screen-tablet-and-desktop} {
            width: calc(math.percentage(math.div(1, 3)));
            &:not(:last-child) {
                margin-right: var(--ax-space-16);
            }
            &:nth-child(2):not(:last-child) {
                margin-left: var(--ax-space-16);
                margin-right: var(--ax-space-16);
            }
            &:last-child {
                margin-left: var(--ax-space-16);
            }
        }
    }

    .moreNews {
        margin-top: var(--ax-space-32);
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}
