@use 'common' as common;

.linkLists {
    display: flex;
    justify-content: center;
    width: 100%;

    @media #{common.$mq-screen-mobile} {
        flex-wrap: wrap;
    }

    .column {
        @media #{common.$mq-screen-mobile} {
            width: 100%;
        }
        @media #{common.$mq-screen-tablet-and-desktop} {
            width: calc(percentage(1 / 3));
            &:not(:last-child) {
                margin-right: 1rem;
            }
            &:nth-child(2):not(:last-child) {
                margin-left: 1rem;
                margin-right: 1rem;
            }
            &:last-child {
                margin-left: 1rem;
            }
        }
    }

    .moreNews {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}
