@use 'src/common' as common;

@mixin transitionMixin {
    transition: all 0.3s ease-out;
}

$border-radius: common.$border-radius-xlarge;

.linkPanel {
    @include transitionMixin;

    background-color: var(--navds-global-color-deepblue-50);
    height: 160px;
    width: 100%;
    border-radius: $border-radius;
    border-style: none;
    padding: 0;
    overflow: hidden;

    :global(.navds-link-panel__content) {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
    }

    :global(.navds-link-panel__title) {
        text-decoration: underline;
    }

    :global(.navds-link-panel__chevron) {
        display: none;
    }

    &:hover {
        &:not(:focus) {
            box-shadow: none;
        }

        :global(.navds-link-panel__title) {
            text-decoration: none;
        }

        @media (hover) {
            background-color: var(
                --navds-semantic-color-component-background-alternate
            );
        }
    }

    &:active {
        background-color: var(--navds-global-color-deepblue-50);

        :global(.navds-link-panel__title) {
            color: var(--navds-global-color-gray-900);
        }
    }

    @media only screen and (max-width: 1272px) {
        height: 136px;
    }

    @media #{common.$mq-screen-mobile-small} {
        height: 80px;

        .titleShort,
        .titleLong {
            margin-left: 1rem;
        }

        :global(.navds-link-panel__title) {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }
    }
}

.titleShort,
.titleLong {
    @include transitionMixin;

    width: 180px;
    margin-left: 1.5rem;
}
