.page {
    display: grid;
    column-gap: 2.5rem;
    grid-template-columns: 6rem 2fr 1fr;
    max-width: 1272px;
    margin: 0 auto;
}

.leftCol {
}

.rightCol {
}

.illustration {
    width: 6rem;
    height: 6rem;
}
