@use 'src/common' as common;

.page {
    display: grid;
    column-gap: 2.5rem;
    max-width: 1272px;
    margin: 0 auto;
    grid-template-columns: 6rem 2fr;

    &.withSideCol {
        grid-template-columns: 6rem 2fr 1fr;
    }
}

.rightCol {
    & > * {
        border-radius: common.$border-radius-large;
    }
}

.illustration {
    width: 6rem;
    height: 6rem;
}
