@import (reference) '~nav-frontend-tabell-style/src/index';
@import (reference) '../../../../global';

.publishing-calendar {
    padding: 2rem;
    background: #fff;

    h1 {
        margin-bottom: 1rem;
    }

    &__preface {
        margin-bottom: 1rem;
    }

    header {
        margin-bottom: 1rem;
    }

    table {
        th {
            padding: 0;
        }

        td {
            padding: 1rem 0;

            time {
                width: 4.5rem;
                height: 4.5rem;
                display: block;
                font-weight: 600;
                padding: 1rem;
                border-radius: 50%;
                background-color: #d1d1d1;
                text-align: center;

                p {
                    text-transform: uppercase;
                    &:last-child {
                        margin-top: -3px;
                    }
                }
            }

            &.eventInfo {
                padding-left: 1.6rem;

                .dateInfo {
                    text-transform: uppercase;
                }
            }
        }
    }
}
