.oversiktFilter {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--ax-space-32);
}

.filterWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: var(--ax-space-8);
    padding: 0;
}
