@use 'src/common' as common;

.areaPageNavigation {
    position: relative;
    display: flex;
    z-index: 2;

    @media #{common.$mq-screen-mobile} {
        margin: 0 -0.5rem;
    }
}

.navigationBar {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    padding-top: 2px; // In order not to clip focus outline

    visibility: visible;
    opacity: 1;
    padding-bottom: 1rem;
    padding-top: 2px; // In order not to clip focus outline
    position: relative;

    transition-property: max-height, visibility, padding-top, padding-bottom,
        transform, opacity;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;

    @media #{common.$mq-screen-tablet-and-mobile} {
        overflow-y: hidden;
        overflow-x: scroll;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none;
        flex-wrap: nowrap;

        &::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }
    }
}

.navigationWrapper {
    display: flex;
    flex-wrap: inherit;
    padding: 0.5rem 0;

    @media #{common.$mq-screen-tablet-and-mobile} {
        padding: 0.5rem 1.5rem;
    }
}

.areasPageNavigationLink {
    -webkit-touch-callout: none; /* Disable Safari link preview on long touch, becaus we want touch&scroll feature */
    border: 0;
    display: inline-flex;
    margin: 0 0.5rem 0.5rem 0;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;

    @media #{common.$mq-screen-tablet-and-mobile} {
        margin: 0 0.5rem 0 0;
    }
}

.hidden {
    max-height: 0;
    opacity: 0;
    padding: 0;
    visibility: hidden;
    transform: translateY(-70px);
}
