@use 'src/common' as common;

.navigationButton {
    -webkit-touch-callout: none; /* Disable Safari link preview on long touch, becaus we want touch&scroll feature */
    background-color: white;
    cursor: pointer;
    border: 0;
    display: block;
    margin: 0;
    padding: 0.5rem;
    position: absolute;
    top: 0.5rem;
    user-select: none;
    z-index: 2;
    transition: opacity 0.2s linear;

    @media #{common.$mq-screen-desktop} {
        display: none;
    }
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.leftSide {
    left: 0;

    @media #{common.$mq-screen-tablet} {
        left: -8px;
    }
}

.rightSide {
    right: 0;

    @media #{common.$mq-screen-tablet} {
        right: -8px;
    }
}
