@import (reference) '../../../global';

.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;

    &__text {
        margin-right: 2rem;
    }

    .header__copy-link {
        position: absolute;
        right: 0;
        margin-left: 1rem;
        margin-top: 0.25rem;
        transition-property: transform;
        transition-timing-function: linear;
        transition-duration: 0.15s;
        align-self: flex-start;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__anchor-icon {
        height: #round-rem(1.5rem) [];
    }

    &__copy-tooltip {
        position: absolute;
        right: 2rem;
        visibility: hidden;
        background-color: black;
        color: white;
        padding: 0 0.25rem;
        border-radius: @border-radius-small;
        pointer-events: none;
        opacity: 0;
        transition-property: visibility, opacity;
        transition-duration: 0.15s;
        transition-timing-function: linear;

        &--visible {
            visibility: visible;
            opacity: 0.75;
        }
    }

    &--left {
        justify-content: flex-start;
    }

    &--center {
        justify-content: center;
    }

    &--right {
        justify-content: flex-end;
    }
}
