@import (reference) '../../../global';
@import (reference) '~nav-frontend-typografi-style/src/index';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;

    &__copy-link-container {
        align-self: flex-start;
        margin-top: 1rem;
    }

    &__copy-link {
        text-decoration: none;
        .typo-undertekst;

        &:hover {
            text-decoration: underline;
            .header__anchor-icon {
                transform: scale(1.2);
            }
        }
    }

    &__anchor-icon {
        height: #round-rem(1rem) [];
        margin-right: 0.5rem;
        transition-property: transform;
        transition-timing-function: ease-out;
        transition-duration: 0.1s;
    }

    &__copy-tooltip {
        margin-left: 1rem;
        visibility: hidden;
        background-color: @navGronnLighten60;
        color: black;
        padding: 0.25rem 0.75rem;
        border: 1px @navGronn solid;
        border-radius: @border-radius-small;
        pointer-events: none;
        opacity: 0;
        transition-property: visibility, opacity;
        transition-duration: 0.15s;
        transition-timing-function: ease-in;

        &--visible {
            visibility: visible;
            opacity: 0.75;
        }
    }

    &--left {
        align-items: flex-start;
    }

    &--center {
        align-items: center;
    }

    &--right {
        align-items: flex-end;
    }
}
