.callOption {
    &__regular-openinghours {
        margin-bottom: 1.75rem;

        .navds-accordion {
            background-color: transparent;
            border-bottom: 0px;

            &:hover {
                border-bottom: 0;
            }

            button {
                padding-left: 0;
            }
        }
    }

    &__alertText {
        margin-bottom: 1.75rem;
    }

    &__openingHoursTable,
    &__specialOpeningHoursTable {
        border-collapse: collapse;

        td,
        td {
            padding: 0 1rem 0 0;
            margin: 0;
        }
    }

    &__specialOpeningHoursTable {
        margin-bottom: 1.75rem;
    }
}
