@use 'common' as common;

.contactOption {
    background-color: transparent;
    display: block;
    width: 100%;
    padding-bottom: var(--a-spacing-8);

    .link {
        color: common.$a-text-action;
        text-decoration-thickness: 0.05em;
        text-underline-offset: 0.1em;
        text-decoration-line: underline;

        &:focus {
            .linkContent {
                @include common.panel-focus-mixin();
            }
        }
        &:hover,
        &:focus {
            text-decoration-line: none;
        }
    }

    .linkContent {
        // Set a padding with equivalent negative margins to allow focus-highlight
        // to break out of the container
        display: flex;
        $outerPadding: 0.5rem;
        $bottomMargin: 1rem - $outerPadding;
        padding: $outerPadding;
        margin: (-$outerPadding) (-$outerPadding) $bottomMargin (-$outerPadding);
        border-radius: common.$border-radius-base;
    }

    .icon {
        display: flex;
        align-self: center;
        height: 1.4rem;
        width: 1.4rem;
        background-size: 1.4rem;
        background-repeat: no-repeat;
        background-position: center left;
        margin-right: 0.5rem;
    }

    .chatIcon {
        margin-right: 0.7rem;
    }

    .text {
        color: black;
        margin-bottom: 0.5rem;
    }

    .moreLink {
        text-decoration-thickness: 0.05em;
        text-underline-offset: 0.1em;
        text-decoration-line: underline;
        margin: 0.5rem 0 1rem 0;
        display: block;
    }

    .alert {
        margin-bottom: 0.5rem;
    }
}
