@use 'src/common' as common;

$margin: 2rem;

.formDetailsPreviewPage {
    align-self: center;
    background-color: white;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;
    max-width: common.$sectionMaxWidth;
    padding: 2rem;
    width: 100%;
}
