@use 'src/common' as common;

.pressNews {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    @include common.full-width-mixin;
}

.content {
    width: 37.5rem;
    max-width: 37.5rem;
}

.newsList {
    list-style-type: none;
    margin: 1rem 0 2rem 0;
    padding: 0;
}

.newsItem {
    margin-bottom: 1.5rem;

    a {
        text-underline-offset: 2px;
        text-decoration-thickness: 1px;
    }
}

.ingress {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.newsTagline {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.tagIcon {
    img {
        fill: black;
    }
}

.newsType {
    margin-left: 0.25rem;
    font-weight: 600;
    margin-top: 1px; // Fixes slight misalignment in type vs date
}

.publishDate {
    margin-left: 0.75rem;
    color: var(--navds-global-color-gray-600);
}
