.overviewSearch {
    display: flex;
    flex-direction: column;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    :global(.navds-label) {
        font-size: var(--ax-font-size-heading-xsmall);
    }
    :global(.navds-button) {
        color: var(--ax-brand-blue-800);
        &:hover {
            background-color: var(--ax-brand-blue-100);
        }
    }
}
