@import '../../AreaCard.module.scss';

.shapes {
    @include transitionMixin;
    position: absolute;
    right: 25px;
    top: 96px;

    :hover > & {
        right: 204px;
    }
}

.letterPartBlue {
    @include transitionMixin;
    position: absolute;
    right: -79px;
    top: 0px;

    :hover > & {
        right: 0px;
    }
}

.mask {
    background-color: var(--navds-global-color-deepblue-100);

    @include transitionMixin;
    position: absolute;
    width: 193.56px;
    height: 499px;
    right: -42px;
    top: -100px;
    transform: skewX(-22.09deg);

    :hover > & {
        background-color: #ffb8b8;
        width: 48px;
        height: 160px;
        right: 100px;
        top: 0px;

        transform: skewX(0);
    }
}

.piggyBank {
    @include transitionMixin;
    position: absolute;
    right: 53px;
    top: 41px;

    :hover > & {
        right: 101px;
        top: 82px;
    }
}

.coin {
    background-color: var(--navds-global-color-orange-200);
    border-radius: 50%;

    @include transitionMixin;
    position: absolute;
    width: 28px;
    height: 28px;
    right: 127px;
    top: -32px;

    :hover > & {
        top: 80px;
    }
}
