@use 'src/common' as common;
@use 'src/components/layouts/index-page/area-page/AreaPageHeader.module' as
    parent;

.banner {
    display: flex;
    justify-content: space-between;

    text-decoration: none;
    color: black;
    min-height: common.px-to-rem(172px);
    margin-top: 1rem;
    padding: 2rem 0;
    background-color: common.$navPink;
    border-radius: 1rem;

    transition: background-color 200ms ease-out;

    &:hover {
        background-color: var(--hover-color);
    }

    &:focus {
        @include common.panel-focus-mixin();
    }

    @include common.full-width-mixin(true, false);

    @media #{common.$mq-screen-mobile} {
        border-radius: 0.5rem;
        transform: none;
        @include common.full-width-mixin(true, true);
    }
}

.content {
    background-color: red;
    display: flex;
    flex-direction: column;
    row-gap: 1.75rem;
    justify-content: center;
    width: 100%;
    padding-left: 2rem;

    > * {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    @media #{common.$mq-screen-mobile} {
        padding-left: 1rem;
    }
}

.icon {
    align-self: center;
    margin-right: 2rem;
    @media #{common.$mq-screen-mobile} {
        margin-right: 1rem;
    }
}
