@use 'src/common' as common;
@use 'src/components/layouts/index-page/area-page/AreaPageHeader.module' as
    parent;

.banner {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    text-decoration: none;
    color: var(--a-text-default);
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: common.$navPink;
    border-radius: 0.5rem;

    transition: background-color 200ms ease-out;

    &:hover {
        background-color: var(--hover-color);
    }

    &:focus {
        @include common.panel-focus-mixin();
    }

    @media #{common.$mq-screen-mobile} {
        padding: 1.5rem 1.25rem;
        transform: none;
    }
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 1.75rem;
    justify-content: center;
    width: 100%;

    > * {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.icon {
    align-self: center;
}
