@use 'common' as common;

.lenkepanel {
    :global(.aksel-link-card__arrow) {
        display: none;
    }
}

.icon {
    display: flex;
    flex-shrink: 0;

    width: var(--ax-space-64);
    height: var(--ax-space-64);

    @media #{common.$mq-screen-mobile-small} {
        width: var(--ax-space-48);
        height: var(--ax-space-48);
    }

    & > * {
        width: 100%;
        height: 100%;
    }
}

.shortcuts {
    @include common.full-width-mixin();
    padding-top: var(--ax-space-44);
    padding-bottom: var(--ax-space-44);

    @media #{common.$mq-screen-mobile} {
        padding-top: var(--ax-space-28);
        padding-bottom: var(--ax-space-28);
    }
}

.person {
    background-color: var(--bg-color, var(--ax-danger-100));
}
.employer {
    background-color: var(--bg-color, var(--ax-brand-blue-200));
}
.provider {
    background-color: var(--bg-color, var(--ax-bg-default));
}
.other {
    background-color: var(--bg-color, var(--ax-neutral-200));
}

.header {
    margin-bottom: var(--ax-space-24);

    @media #{common.$mq-screen-mobile} {
        margin-bottom: var(--ax-space-16);
    }
}

.list {
    list-style: none;
    position: relative;
    padding: 0;

    @include common.grid-layout-mixin(2);

    &.threeCols {
        @include common.grid-layout-mixin(3);
    }

    li {
        display: flex;
    }
}

.item {
    background-color: var(--item-color, white);
    width: 100%;
}

.item_provider {
    :global(.back) {
        svg {
            [fill] {
                fill: var(--bg-color, var(--ax-danger-400));
            }
            [stroke] {
                stroke: var(--bg-color, var(--ax-danger-400));
            }
        }
    }
}
