@use 'common' as common;

.lenkepanel {
    :global(.navds-link-card__arrow) {
        display: none;
    }
}

.icon {
    display: flex;
    flex-shrink: 0;

    width: var(--a-spacing-16);
    height: var(--a-spacing-16);

    @media #{common.$mq-screen-mobile-small} {
        width: var(--a-spacing-12);
        height: var(--a-spacing-12);
    }

    & > * {
        width: 100%;
        height: 100%;
    }
}

.shortcuts {
    @include common.full-width-mixin();
    padding-top: var(--a-spacing-11);
    padding-bottom: var(--a-spacing-11);

    @media #{common.$mq-screen-mobile} {
        padding-top: var(--a-spacing-7);
        padding-bottom: var(--a-spacing-7);
    }
}

.person {
    background-color: var(--bg-color, var(--a-red-50));
}
.employer {
    background-color: var(--bg-color, var(--a-deepblue-100));
}
.provider {
    background-color: var(--bg-color, var(--a-white));
}
.other {
    background-color: var(--bg-color, var(--a-gray-100));
}

.header {
    margin-bottom: var(--a-spacing-6);

    @media #{common.$mq-screen-mobile} {
        margin-bottom: var(--a-spacing-4);
    }
}

.list {
    list-style: none;
    position: relative;
    padding: 0;

    @include common.grid-layout-mixin(2);

    &.threeCols {
        @include common.grid-layout-mixin(3);
    }

    li {
        display: flex;
    }
}

.item {
    background-color: var(--item-color, var(--a-white));
    width: 100%;
}

.item_provider {
    :global(.back) {
        svg {
            [fill] {
                fill: var(--bg-color, var(--a-red-100));
            }
            [stroke] {
                stroke: var(--bg-color, var(--a-red-100));
            }
        }
    }
}
