@use 'common' as common;

.illustration {
    width: var(--ax-space-64);
    height: var(--ax-space-64);

    @media #{common.$mq-screen-mobile-small} {
        width: var(--ax-space-48);
        height: var(--ax-space-48);
    }
}

.frontPageCard {
    :global(.navds-link-anchor__arrow) {
        display: none;
    }

    &:global(.employer-frontpage) {
        background-color: var(--ax-warning-300);
    }

    &:global(.provider-frontpage) {
        background-color: var(--ax-danger-100);

        :global(.back) {
            svg {
                path,
                rect,
                circle {
                    fill: var(--ax-danger-200);
                }
            }
        }
    }
    &:global(.person-frontpage) {
        background-color: var(--ax-brand-blue-100);

        :global(.back) {
            svg {
                path,
                rect,
                circle {
                    fill: var(--ax-brand-blue-200);
                }
            }
        }
    }
}
