@use 'common' as common;

.frontpageCard {
    margin-bottom: 0;
    height: 100%;

    :global(.employer-frontpage),
    :global(.person-frontpage),
    :global(.provider-frontpage) {
        border: 0;
    }

    :global(.employer-frontpage) {
        background-color: var(--a-orange-200);
    }
    :global(.person-frontpage) {
        background-color: var(--a-deepblue-50);
    }

    :global([class*='MiniCard'].provider-frontpage) {
        background-color: var(--a-red-50);

        :global(.back) {
            svg {
                path,
                rect,
                circle {
                    fill: var(--a-red-100);
                }
            }
        }

        &:hover {
            background-color: var(--a-red-100);
            :global(.back) {
                svg {
                    path,
                    rect,
                    circle {
                        fill: var(--a-white);
                    }
                }
            }
        }
    }
    :global([class*='MiniCard'].person-frontpage) {
        background-color: var(--a-deepblue-50);

        :global(.back) {
            svg {
                path,
                rect,
                circle {
                    fill: var(--a-deepblue-100);
                }
            }
        }

        &:hover {
            background-color: var(--a-deepblue-100);
            :global(.back) {
                svg {
                    path,
                    rect,
                    circle {
                        fill: var(--a-deepblue-50);
                    }
                }
            }
        }
    }
}
