@use 'common' as common;

.illustration {
    width: var(--a-spacing-16);
    height: var(--a-spacing-16);

    @media #{common.$mq-screen-mobile-small} {
        width: var(--a-spacing-12);
        height: var(--a-spacing-12);
    }
}

.frontPageCard {
    :global(.navds-link-anchor__arrow) {
        display: none;
    }

    &:global(.employer-frontpage) {
        background-color: var(--a-orange-200);
    }

    &:global(.provider-frontpage) {
        background-color: var(--a-red-50);

        :global(.back) {
            svg {
                path,
                rect,
                circle {
                    fill: var(--a-red-100);
                }
            }
        }
    }
    &:global(.person-frontpage) {
        background-color: var(--a-deepblue-50);

        :global(.back) {
            svg {
                path,
                rect,
                circle {
                    fill: var(--a-deepblue-100);
                }
            }
        }
    }
}
