@use 'common' as common;

.lenkepanelListe {
    width: 100%;
    margin-bottom: var(--ax-space-32);

    .tittel {
        text-align: center;
        margin-bottom: var(--ax-space-32);
    }

    .ingress {
        text-align: center;
        margin-top: var(--ax-space-16);
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: var(--ax-space-16);
        width: 100%;
    }

    .item {
        text-align: start;
        margin-bottom: var(--ax-space-16);
        @media #{common.$mq-screen-mobile} {
            width: 100%;
        }
        @media #{common.$mq-screen-tablet-and-desktop} {
            width: calc(50% - (var(--ax-space-8)));
        }
    }
}
