@use 'common' as common;

.lenkepanelListe {
    width: 100%;
    margin-bottom: var(--a-spacing-8);

    .tittel {
        text-align: center;
        margin-bottom: var(--a-spacing-8);
    }

    .ingress {
        text-align: center;
        margin-top: var(--a-spacing-4);
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: var(--a-spacing-4);
        width: 100%;
    }

    .item {
        text-align: start;
        margin-bottom: var(--a-spacing-4);
        @media #{common.$mq-screen-mobile} {
            width: 100%;
        }
        @media #{common.$mq-screen-tablet-and-desktop} {
            width: calc(50% - (var(--a-spacing-2)));
        }
    }
}
