.pageUpdatedInfo {
    border-top: 1px solid var(--a-gray-200);
    font-style: italic;
    font-size: var(--text-fluid-16-18);
    margin-top: var(--a-spacing-12);
    padding-top: var(--a-spacing-3);
}
