@import (reference) '~nav-frontend-core/less/_variabler';

.pulsating-icon {
    @center-diameter: 1.5rem;
    @compress-scale: 0.85;
    @pulse-scale: 3;
    @pulse-color: @navOransjeLighten60;

    .animation-props() {
        animation-direction: normal;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }

    &__center {
        position: absolute;
        border-radius: 50%;
        width: @center-diameter;
        height: @center-diameter;

        background-color: @navOransjeLighten20;

        animation-name: compression;
        .animation-props();
    }

    &__pulse {
        position: absolute;
        border-radius: 50%;
        width: @center-diameter;
        height: @center-diameter;

        animation-name: shockwave;
        .animation-props();
    }

    @keyframes compression {
        0% {
            transform: scale(1);
        }

        15% {
            transform: scale(@compress-scale);
        }

        20% {
            transform: scale(1);
        }
    }

    @keyframes shockwave {
        0% {
            background-color: @pulse-color;
            transform: scale(@compress-scale);
        }

        15% {
            transform: scale(@compress-scale);
        }

        20% {
            background-color: @pulse-color;
            transform: scale(1);
        }

        50% {
            background-color: transparent;
            transform: scale(@pulse-scale);
        }
    }
}
