.uxSignalsWidget {
    display: flex;
    flex-direction: column;
    margin: var(--a-spacing-7) 0;

    :global(.uxsignals-embed) {
        h2 {
            font-size: var(--a-font-size-heading-large) !important;
            line-height: 1.5 !important;
        }
        p,
        span {
            font-size: var(--a-font-size-large) !important;
            line-height: 1.5 !important;
        }
    }

    &:empty {
        display: none;
    }

    & > div {
        margin: 0;
    }
}

/*Fjerner unødvendig luft under widget, dersom den ligger over første kapittel */
:global(.part:first-of-type) .uxSignalsWidget {
    margin-bottom: 0;
}
