@use 'common' as common;

.pageList {
    width: 100%;
    background: var(--a-white);
    border-radius: 0.28rem;

    @media #{common.$mq-screen-mobile} {
        padding: var(--a-spacing-6);
    }
    @media #{common.$mq-screen-tablet} {
        padding: var(--a-spacing-6);
    }
    @media #{common.$mq-screen-desktop} {
        padding: 2.8rem;
    }

    .ingress {
        margin-top: var(--a-spacing-2);
    }
    .list {
        margin-top: var(--a-spacing-9);
    }
    .row {
        border-top: 1px solid var(--a-gray-200);
        padding: var(--a-spacing-8) 0;
    }
    .date {
        margin-top: var(--a-spacing-2);
    }
}
