@import (reference) '../../../../global';
@import (reference) '../ProductPage';

.product-page-header {
    .full-width-mixin();
    background-color: white;
    padding-bottom: 1rem;

    &--product {
        box-shadow: 0 -4px 0 @productColor inset;
    }

    &--situation {
        box-shadow: 0 -4px 0 @situationColor inset;
    }

    &__label {
        margin-top: 1rem;
    }
}
