@import (reference) '../../../../global';
@import (reference) '../ProductPage';

.product-page-header {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .full-width-mixin();

    &--product {
        box-shadow: 0 -4px 0 @productColor inset;
    }

    &--situation {
        box-shadow: 0 -4px 0 @situationColor inset;
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        max-width: 64rem;
    }

    &__image {
        height: 5rem;
        width: 5rem;
        margin-right: 1.5rem;

        img {
            height: 5rem;
            width: 5rem;
        }
    }

    &__text {
        .page-header {
            padding: 0;
        }
    }

    &__label {
        margin-top: 1rem;
    }
}
