@import (reference) '../../../../global';

.product-page-header {
    .full-width-mixin();
    background-color: white;

    &--product {
        box-shadow: 0 -4px 0 @navBlaLighten40 inset;
    }

    &--situation {
        box-shadow: 0 -4px 0 @navOransjeLighten20 inset;
    }
}
