.chip {
    background-color: var(
        --a-surface-subtle
    );
    border-radius: var(--a-border-radius-medium);
    color: var(--a-text-subtle);
    display: inline-block;
    padding: 0.125rem 0.5rem;
}

.selected {
    background-color: var(
        --a-surface-action-subtle-hover
    );
    color: var(--a-text-default);
}
