.chip {
    background-color: var(
        --navds-semantic-color-component-background-alternate
    );
    color: var(--navds-semantic-color-text-muted);
    display: inline-block;
    padding: 0.125rem 0.5rem;
    border-radius: var(--navds-border-radius-medium);
}

.selected {
    background-color: var(
        --navds-semantic-color-interaction-primary-hover-subtle
    );
    color: var(--navds-semantic-color-text);
}
