@import (reference) '../../../global';
@SuccessStroke: '~@navikt/ds-icons/svg/SuccessStroke.svg';
@Add: '~@navikt/ds-icons/svg/add.svg';

.chip {
    &__button {
        align-items: center;
        background: white;
        border-radius: 4px;
        border: 0;
        box-shadow: @navBla inset 0 0 0 1px;
        color: @navBla;
        cursor: pointer;
        display: inline-flex;
        font-size: 0.9rem;
        margin: 0 8px 5px 0;
        outline: none;
        padding: 2px 8px;

        &:focus-visible {
            box-shadow: @navMorkGra inset 0 0 0 3px;
        }

        &::before {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            content: '';
            filter: invert(25%) sepia(36%) saturate(4557%) hue-rotate(192deg)
                brightness(100%) contrast(106%);
            height: 15px;
            margin-right: 5px;
            position: relative;
            top: 0;
            width: 15px;
            background-image: url(@Add);
        }

        &--checked {
            color: @navMorkGra;
            background-color: @navBlaLighten80;
            &::before {
                background-image: url(@SuccessStroke);
            }
        }
    }
}
