@use 'common' as common;

.versionSelectorPublished {
    display: flex;
    align-items: flex-end;

    .select {
        min-height: common.$versionSelectorMinHeight;
    }

    :global(.version-selector-submit) {
        margin-left: var(--a-spacing-4);
        min-height: common.$versionSelectorMinHeight;
    }
}
