.gvItems {
    display: flex;
    flex-direction: column;
}

.itemOuter {
    padding: var(--a-spacing-2);
}

.item {
    display: flex;
    padding: var(--a-spacing-2);
    margin: 0 calc(-1 * var(--a-spacing-2));
    background-color: var(--a-white);
    border-radius: var(--a-border-radius-medium);
    box-shadow: 1px 2px 3px 2px var(--a-gray-400);
}
