.itemDragHandle {
    position: relative;
    cursor: grab;
    width: var(--a-spacing-8);
    min-width: var(--a-spacing-8);
    height: var(--a-spacing-8);

    & > :last-child {
        position: absolute;
        left: 25%;
        top: 45%;
    }
}

.itemDragged {
    box-shadow: 0 0 3px 3px var(--a-green-300);
    cursor: grabbing;
}

.hidden {
    display: none;
}
