.gvItems {
    display: flex;
    flex-direction: column;
}

.itemOuter {
    padding: var(--ax-space-8);
}

.item {
    display: flex;
    padding: var(--ax-space-8);
    margin: 0 calc(-1 * var(--ax-space-8));
    background-color: var(--a-white);
    border-radius: var(--ax-radius-4);
    box-shadow: 1px 2px 3px 2px var(--ax-neutral-500);
}
