.itemDragHandle {
    position: relative;
    cursor: grab;
    width: var(--ax-space-32);
    min-width: var(--ax-space-32);
    height: var(--ax-space-32);

    & > :last-child {
        position: absolute;
        left: 25%;
        top: 45%;
    }
}

.itemDragged {
    box-shadow: 0 0 3px 3px var(--ax-success-400);
    cursor: grabbing;
}

.hidden {
    display: none;
}
