@use 'src/common' as common;

.detailsLoader {
    display: flex;
    flex-direction: column;
    align-items: center;

    :global(.navds-loader) {
        margin-bottom: 1rem;
    }
}

.accordionItem {
    border-bottom: 1px common.$navds-semantic-color-divider solid;

    :global(.navds-accordion__header),
    :global(.navds-accordion__content) {
        border-bottom: 0;
    }

    :global(.navds-accordion__header) {
        background-color: white;
        margin-bottom: 3px;

        @include common.expandable-panel-mixin();
        &:focus {
            @include common.panel-focus-mixin(true);
        }
    }

    :global(.navds-accordion__content) {
        padding-top: 0;
        padding-bottom: 1.75rem;
    }

    :global(.navds-accordion__expand-icon) {
        margin-left: auto;
    }
}

.hidden {
    display: none;
}

.illustration {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
}

.copyLink {
    margin-bottom: 1rem;
}
