.productLink {
    margin-bottom: 1rem;

    &:first-child {
        margin-top: 1rem;
    }

    &:last-child {
        margin-bottom: 0;
    }

    :global(.product) {
        background-color: white;
    }
}

.hidden {
    display: none;
}
