.placeholderIndicator {
    background-color: #dddddd;
    border-radius: var(--ax-radius-2);
    display: block;
    outline: solid 2px #ffbbbb;
    overflow: hidden;
    padding: var(--ax-space-32) var(--ax-space-8) var(--ax-space-16);
    position: relative;

    &::before {
        content: 'Detaljinformasjon:';
        color: #666666;
        font-weight: bold;
        left: var(--ax-space-8);
        position: absolute;
        top: var(--ax-space-8);
    }
}
