@use 'common' as common;

.tittel {
    margin-bottom: var(--a-spacing-2);
}

.lenker {
    display: flex;
    flex-direction: column;
    @include common.unstyled-list();
}

.lenke {
    $horizontalPadding: var(--a-spacing-2);
    $verticalPadding: 0.6875rem;
    padding: $verticalPadding $horizontalPadding;
    margin: 0 -($horizontalPadding);

    &:focus,
    &:focus-visible,
    &:active {
        @include common.panel-focus-mixin();
        background-color: transparent;
        color: var(--default-action-color);
    }
}

.ulListe {
    padding-left: 1.4rem;
    margin-bottom: 1.75rem;
    margin-top: 0;
    font-size: 1.125rem;

    li:not(:last-child) {
        margin-bottom: 0.25rem;
    }
}

:global(.part__dynamic-link-list):last-child {
    .ulListe {
        margin-bottom: 0;
    }
}
