@use 'common' as common;

.tittel {
    margin-bottom: var(--ax-space-8);
}

.lenker {
    display: flex;
    flex-direction: column;
    @include common.unstyled-list();
}

.lenke {
    padding: var(--ax-space-12) var(--ax-space-8);
    margin: 0 calc(-1 * var(--ax-space-8));

    &:focus,
    &:focus-visible,
    &:active {
        @include common.panel-focus-mixin();
        background-color: transparent;
        color: var(--default-action-color);
    }
}

.ulListe {
    padding-left: var(--ax-space-24);
    margin-bottom: var(--ax-space-28);
    margin-top: 0;
    font-size: var(--ax-font-size-large);

    li:not(:last-child) {
        margin-bottom: var(--ax-space-4);
    }
}

:global(.part__dynamic-link-list):last-child {
    .ulListe {
        margin-bottom: 0;
    }
}
