@mixin transitionMixin {
    transition: all 0.3s ease-out;
}

$border-radius: 0.5rem;

.linkPanel {
    @include transitionMixin;

    background-color: var(--navds-global-color-deepblue-50);
    height: 160px;
    width: 100%;
    // width: 392px;
    border-radius: $border-radius;
    border-style: none;
    padding: 0;
    overflow: hidden;

    &:hover {
        background-color: var(
            --navds-semantic-color-component-background-alternate
        );
        box-shadow: none;

        :global(.navds-link-panel__title) {
            transform: translateY(-1rem);
            text-decoration: none;
        }
    }

    :global(.navds-link-panel__content) {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
    }

    :global(.navds-link-panel__title) {
        @include transitionMixin;

        width: 180px;
        margin-left: 2rem;
        text-decoration: underline;
    }

    :global(.navds-link-panel__chevron) {
        display: none;
    }
}

.animationArea {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;

    // transform: scale(0.5);
}
