.linkPanel {
    background-color: var(--navds-global-color-deepblue-50);
    height: 156px;
    width: 100%;
    border-radius: 0.5rem;
    border-style: none;

    :global(.navds-link-panel__content) {
        // display: flex;
        // flex-direction: row;
        padding-left: 2rem;
        text-decoration: underline;
    }

    :global(.navds-link-panel__chevron) {
        display: none;
    }
}
