.lenkepanel-liste {
    &__tittel {
        text-align: center;
    }

    &__ingress {
        text-align: center;
        margin-top: 1rem;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 1rem;
        width: 100%;
    }

    &__item {
        text-align: start;
        width: calc(50% - 0.5rem);
        margin-bottom: 1rem;
    }
}
