@import '@navikt/ds-tokens/dist/tokens.less';

@pixel-size-rem: 1 / 16;

// Screen size breakpoints
@mobileMaxWidth: 48rem; // 768px
@tabletMinWidth: @mobileMaxWidth;
@tabletMaxWidth: 64rem; // 1024px
@desktopMinWidth: @tabletMaxWidth;
@desktopMaxWidth: 90rem; // 1440px

@mq-screen-mobile: ~'only screen and (max-width: @{mobileMaxWidth})';
@mq-screen-tablet: ~'only screen and (min-width: @{tabletMinWidth}) and (max-width: @{tabletMaxWidth})';
@mq-screen-tablet-and-desktop: ~'only screen and (min-width: @{tabletMinWidth}) ';
@mq-screen-desktop: ~'only screen and (min-width: @{desktopMinWidth}) ';
@mq-screen-desktop-large: ~'only screen and (min-width: @{desktopMaxWidth}) ';

@padding-sides-desktop: 3rem;
@padding-sides-tablet: 1rem;
@padding-sides-mobile: 0.5rem;

@sectionPaddingDesktop: 2.5rem;
@sectionPaddingTablet: 1.6rem;
@sectionPaddingMobile: 1rem;

@border-radius-small: 2px;
@border-radius-base: 4px;
@border-radius-large: 6px;

// Rounds a rem-value to the nearest value which is divisible by
// the current pixel size, taking global font-size into account
// This is useful for cases where 1px rounding-errors are noticable
#round-rem(@value: 0) {
    @valueUpper: @value + @pixel-size-rem / 2;
    @result: @valueUpper - mod(@valueUpper, @pixel-size-rem);
}

#px-to-rem(@px) {
    @rem: unit(@px * @pixel-size-rem, rem);
}

// Makes the element cover the entire screen-width
.full-width-mixin() {
    @side-width: calc((100vw - 100%) / 2);
    @side-width-negative: calc((100vw - 100%) / -2);

    padding-left: @side-width;
    padding-right: @side-width;
    margin-left: @side-width-negative;
    margin-right: @side-width-negative;
}

.panel-focus-mixin(@inset: true) {
    outline: 0;
    box-shadow: 0 0 0 3px if((@inset), inset) @navds-semantic-color-focus;
}

.section-padding-mixin() {
    padding: @sectionPaddingDesktop;

    @media @mq-screen-tablet {
        padding: @sectionPaddingTablet;
    }

    @media @mq-screen-mobile {
        padding: @sectionPaddingMobile;
    }
}

.link-border-bottom-mixin() {
    border-bottom: 1px @navds-semantic-color-link solid;
    text-decoration: none !important; // Konflikt med Chatbot pga gammelt designsystem (pr 25.04.22)
    transition: border-bottom-color 0.12s ease-out;

    &:hover,
    &:focus {
        border-bottom-color: transparent;
    }
}

.flex-cols-mixin(@numCols, @margin-x: 1.5rem, @margin-y: 1.5rem) {
    & > * {
        @numColsPlus1: @numCols + 1;
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: calc(percentage(1 / (@numCols + 1)) + 1px);

        max-width: calc(
            percentage(1 / @numCols) - (@margin-x * (@numCols - 1)) / @numCols +
                1px
        );

        &:not(:last-child) {
            margin-right: @margin-x;
        }

        &:nth-child(@{numCols}n + @{numCols}) {
            margin-right: 0;
        }

        &:nth-child(n + @{numColsPlus1}) {
            margin-top: @margin-y;
        }
    }
}

// This is an override mixin specific for product and livesituation pages.
// To be removed when DS has updated design packages.
.product-mixins() {
    // h3 signifies a new "sub chapter" within a section.
    // should have extra spacing above content, but only if
    // not the topmost element within region. Except first-child.
    .part {
        .html-area,
        &__dynamic-header {
            h3 {
                margin-top: 2.75rem;
            }
        }
    }

    .region__content {
        > :first-child {
            h3:first-child {
                margin-top: 0;
            }
        }
    }

    // The very last child of the very last part or fragment
    // within a region__content should not have margin-bottom.
    // Reason for select all (">"): fragments are inserted without a class,
    // so just select any child that may contain any of the elements.
    .region__content {
        > :last-child {
            .card:last-child,
            .calculator,
            ul:last-child,
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.hidden {
    display: none;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.page-modified-info {
    letter-spacing: 0.004em;
    color: var(--navds-global-color-gray-600);
}
