@forward '@navikt/ds-tokens/dist/tokens';
@use '@navikt/ds-tokens/dist/tokens' as *;
@use 'sass:math';

$pixel-size-rem: math.div(1, 16);

// In Sass numbers can include units (px/rem/em/vw/cm) witch can fuck up doing math
@function stripUnit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    @return $number;
}

@function px-to-rem($px) {
    @return stripUnit($px) * $pixel-size-rem * 1rem;
}

@function round-rem($value: 0) {
    $valueUpper: $value + $pixel-size-rem / 2;
    @return $valueUpper - ($valueUpper % $pixel-size-rem);
}

// Screen size breakpoints
$mobileMaxWidth: 48rem; // 768px
$tabletMinWidth: $mobileMaxWidth;
$tabletMaxWidth: 64rem; // 1024px
$desktopMinWidth: $tabletMaxWidth;
$desktopMaxWidth: 90rem; // 1440px

$mq-screen-mobile: 'only screen and (max-width: #{$mobileMaxWidth})';
$mq-screen-tablet: 'only screen and (min-width: #{$tabletMinWidth}) and (max-width: #{$tabletMaxWidth})';
$mq-screen-tablet-and-desktop: 'only screen and (min-width: #{$tabletMinWidth}) ';
$mq-screen-tablet-and-mobile: 'only screen and (max-width: #{$tabletMaxWidth}) ';
$mq-screen-desktop: 'only screen and (min-width: #{$desktopMinWidth}) ';
$mq-screen-desktop-large: 'only screen and (min-width: #{$desktopMaxWidth}) ';

// Index page breakpoints
$mobileSmallMaxWidth: 30rem; // 480px
$desktopSmallMaxWidth: 75rem; // 1200px
$mq-screen-mobile-small: 'only screen and (max-width: #{$mobileSmallMaxWidth})';
$mq-screen-desktop-small: 'only screen and (max-width: #{$desktopSmallMaxWidth})';

// Max-width for SituationPage & Layouts
$contentMaxWidth: px-to-rem(900);
$sectionMaxWidth: calc(#{$contentMaxWidth} * 2 / 3);

$padding-sides-desktop: 3rem;
$padding-sides-tablet: 1rem;
$padding-sides-mobile: 0.5rem;

$sectionPaddingDesktop: 2.5rem;
$sectionPaddingTablet: 1.6rem;
$sectionPaddingMobile: 1rem;
$border-radius-small: 2px;
$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-xlarge: 8px;

// Varaibles for CMS-editor
$editorPaddingVertical: 2rem;
$editorPaddingHorizontal: $editorPaddingVertical * 1.62;
$versionSelectorMinHeight: 3rem;

$navPink: #fde6e6;

// Makes the element cover the entire screen-width
@mixin full-width-mixin($left: true, $right: true) {
    $side-width: calc((100vw - 100%) / 2);
    $side-width-negative: calc((100vw - 100%) / -2);

    @if $left {
        padding-left: $side-width;
        margin-left: $side-width-negative;
    }

    @if $right {
        padding-right: $side-width;
        margin-right: $side-width-negative;
    }
}

@mixin flex-cols-mixin($numCols, $marginX: 1.5rem, $marginY: 1.5rem) {
    & > * {
        $numColsPlus1: $numCols + 1;
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: calc(percentage(1 / $numColsPlus1) + 1px);
        max-width: calc(
            #{percentage(1 / $numCols)} - #{($marginX * ($numCols - 1)) /
                $numCols} + 1px
        );

        &:not(:last-child) {
            margin-right: $marginX;
        }

        &:nth-child(#{($numCols)}n + #{$numCols}) {
            margin-right: 0;
        }

        &:nth-child(n + #{$numColsPlus1}) {
            margin-top: $marginY;
        }
    }
}

@mixin grid-layout-mixin(
    $numCols: 3,
    $rowGap: 1.5rem,
    $colGap: 1.5rem,
    $rowGapMobile: 0.5rem,
    $columnGapMobile: 0.5rem
) {
    display: grid;
    row-gap: $rowGap;
    column-gap: $colGap;
    grid-template-columns: repeat($numCols, 1fr);

    @media #{$mq-screen-desktop-small} {
        grid-template-columns: repeat(math.max($numCols - 1, 2), 1fr);
    }

    @media #{$mq-screen-mobile} {
        grid-template-columns: repeat(math.max($numCols - 2, 1), 1fr);
        row-gap: $rowGapMobile;
        column-gap: $columnGapMobile;
    }

    @media #{$mq-screen-mobile-small} {
        grid-template-columns: repeat(1, 1fr);
    }
}

@mixin section-padding-mixin() {
    padding: $sectionPaddingDesktop;

    @media #{$mq-screen-tablet} {
        padding: $sectionPaddingTablet;
    }

    @media #{$mq-screen-mobile} {
        padding: $sectionPaddingMobile;
    }
}

@mixin expandable-panel-mixin() {
    $focusPadding: 0.5rem;

    border-radius: $border-radius-base;
    border-bottom: 0;
    padding-left: $focusPadding;
    padding-right: $focusPadding;
    margin: 0 (-$focusPadding);
    width: calc(100% + #{$focusPadding} * 2);
}

@mixin panel-focus-mixin($inset: true) {
    outline: unset;
    box-shadow: 0 0 0 3px if($inset, inset, null) $navds-semantic-color-focus;
}

@mixin section-padding-mixin() {
    padding: $sectionPaddingDesktop;

    @media #{$mq-screen-tablet} {
        padding: $sectionPaddingTablet;
    }

    @media #{$mq-screen-mobile} {
        padding: $sectionPaddingMobile;
    }
}

@mixin link-border-bottom-mixin($underlineDefault: true) {
    @if $underlineDefault {
        border-bottom: 1px $navds-semantic-color-link solid;
    } @else {
        border-bottom-color: transparent;
    }

    text-decoration: none;
    transition: border-bottom-color 0.12s ease-out;

    &:hover,
    &:focus {
        @if $underlineDefault {
            border-bottom-color: transparent;
        } @else {
            border-bottom: 1px $navds-semantic-color-link solid;
        }
    }
}

// This is an override mixin specific for product and livesituation pages.
// To be removed when DS has updated design packages.
@mixin product-mixins() {
    // h3 signifies a new "sub chapter" within a section.
    // should have extra spacing above content, but only if
    // not the topmost element within region or within an accordion. Except first-child.
    .part {
        &__html-area,
        &__dynamic-header {
            h3 {
                margin-top: 2.75rem;
            }
        }
    }
    .part {
        &__html-area {
            .navds-accordion__content {
                h3:first-child {
                    margin-top: 0;
                }
            }
        }
    }
    .region__content {
        > :first-child {
            h3:first-child {
                margin-top: 0;
            }
        }

        // The very last child of the very last part or fragment
        // within a region__content should not have margin-bottom.
        // Reason for select all (">"): fragments are inserted without a class,
        // so just select any child that may contain any of the elements.
        > :last-child:not(.part__product-details),
        .part__product-details .navds-accordion__content > :last-child {
            .card:last-child,
            .calculator,
            ul:last-child,
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// Fixes for content studio drag and drop placeholders
@mixin content-studio-drop-zone-fix-local() {
    :global(.xp-page-editor-region-placeholder:last-child) {
        display: block;
    }

    :global(.xp-page-editor-part-placeholder) {
        width: 100%;
    }

    :global(.live-edit-drag-placeholder-container) {
        & > * {
            width: 100%;
            height: 100%;
        }
    }
}

@mixin content-studio-drop-zone-fix-global() {
    .xp-page-editor-region-placeholder:last-child {
        display: block;
    }

    .xp-page-editor-part-placeholder {
        width: 100%;
    }

    .live-edit-drag-placeholder-container {
        & > * {
            width: 100%;
            height: 100%;
        }
    }
}
