@use 'common' as common;
@import '@navikt/ds-css/dist/index.css';

// Import scss that aren't modules
@import 'components/layouts/fixed-cols/FixedColsLayout.scss';
@import 'components/layouts/flex-cols/FlexColsLayoutGlobal';
@import 'components/layouts/legacy/LegacyLayout.scss';
@import 'components/layouts/page-with-side-menus/left-menu-section/LeftMenuSection.scss';
@import 'components/layouts/page-with-side-menus/PageWithSideMenus.scss';
@import 'components/layouts/section-with-header/SectionWithHeaderLayout.scss';
@import 'components/pages/situation-page/SituationPage.scss';
@import 'components/pages/product-page/ProductPage.scss';
@import 'components/_common/linkpanel/LinkPanelNavno.scss';
@import 'components/pages/press-landing-page/PressLandingPage.scss';

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

#__next,
.decorator-utils-container {
    background-color: common.$a-bg-subtle;
}

.decorator-utils-container {
    min-height: 4rem;
}

#decorator-header {
    min-height: 72px;

    @media #{common.$mq-screen-tablet-and-desktop} {
        min-height: 80px;
    }
}

@media print {
    .decorator-wrapper {
        display: none;
    }
}

// Override aksel styling
.navds-heading {
    word-break: break-word;
}
.navds-ingress {
    line-height: 1.5;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

table {
    .spacer-row {
        height: 1rem;
        background-color: transparent;
    }
}

// Catch-all to prevent unnecessary margin-bottom whitespace
.region:last-child,
.layout:last-child,
.part:last-child {
    margin-bottom: 0;
    & > :last-child {
        margin-bottom: 0;
    }
}
