@import '~nav-frontend-core/less/_variabler';
@import '~nav-frontend-core/less/core';

@mobilMaxWidth: 48em;
@screen-desktop: ~'(min-width: @{mobilMaxWidth})';
@screen-mobile: ~'not all and (min-width: @{mobilMaxWidth})';
@padding-sides-desktop: 3rem;
@padding-sides-mobile: 1rem;

// Kan fjerne denne hvis/når hardkoding til 16px blir fjernet fra designsystemet
html {
    background-color: white;
    font-size: 100%;
}

.app {
    max-width: 90rem;
    min-height: 20rem;
    margin: 2rem auto 3rem auto;
}

@media @screen-mobile {
    .content-wrapper {
        padding: 0 @padding-sides-mobile;
    }
}

@media @screen-desktop {
    .content-wrapper {
        padding: 1rem @padding-sides-desktop;
    }
}

#decorator-header {
    min-height: 88px;
}

@media (min-width: 48em) {
    #decorator-header {
        min-height: 106px;
    }
    #decorator-header.with-context {
        min-height: 150px;
    }
}

@media print {
    .decorator-wrapper {
        display: none;
    }
} ;
