@import '~nav-frontend-core/less/_variabler';
@import '~nav-frontend-core/less/core';

@mobilMaxWidth: 48em;
@screen-desktop: ~'(min-width: @{mobilMaxWidth})';
@screen-mobile: ~'not all and (min-width: @{mobilMaxWidth})';
@padding-sides-desktop: 3rem;
@padding-sides-mobile: 1rem;

html {
    font-size: 112.5%;
}

#__next,
.decorator-utils-container {
    background-color: #f1f1f1;
}

.app {
    max-width: 1440px;
    min-height: 20rem;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 2rem 0 3rem 0;
}

@media @screen-mobile {
    .content-wrapper {
        padding: 0 @padding-sides-mobile;
    }
}

@media @screen-desktop {
    .content-wrapper {
        padding: 1rem @padding-sides-desktop;
    }
}

#decorator-header {
    min-height: 88px;
}

@media (min-width: 48em) {
    #decorator-header {
        min-height: 106px;
    }
    #decorator-header.with-context {
        min-height: 150px;
    }
}

@media print {
    .decorator-wrapper {
        display: none;
    }
} ;

.hidden {
    display: none;
}
