@import '~nav-frontend-core/less/_variabler';
@import '~nav-frontend-core/less/core';

@mobilMaxWidth: 768px;

.app {
    max-width: 1440px;
    min-height: 20rem;
    margin: 3rem auto 4rem auto;
}

.content-wrapper {
    padding: 0 3rem;
}

#decorator-header {
    min-height: 88px;
}

@media (min-width: 48em) {
    #decorator-header {
        min-height: 106px;
    }
    #decorator-header.with-context {
        min-height: 150px;
    }
}
