@use 'common' as common;

.warning {
    min-width: 400px;
    background-color: common.$a-white;
    border: 1px solid common.$a-border-danger;
    border-radius: common.$a-border-radius-large;
    padding: 0 0.5rem;
}
