@use 'src/common' as common;

.bigWarning {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 1rem;
    background-color: common.$a-surface-danger-subtle;
    border: 2px solid common.$a-border-danger;

    @include common.full-width-mixin();

    & > * {
        max-width: 600px;
        width: 100%;
    }

    ul {
        @include common.unstyled-list();
        margin: 1rem 0;
    }

    a {
        margin-left: 0.25rem;
    }
}

.warning {
    min-width: 400px;
    background-color: common.$a-white;
    border: 1px solid common.$a-border-danger;
    border-radius: common.$a-border-radius-large;
    padding: 0 0.5rem;
}
