.errorPage {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 0 auto;

    padding: var(--ax-space-24);
    background: white;
    border-radius: var(--ax-radius-4);

    .header {
        display: flex;
        align-items: center;
    }

    .headerMsg {
        margin-right: var(--ax-space-24);
        padding-right: var(--ax-space-24);
        vertical-align: top;
    }

    .content {
        margin-top: var(--ax-space-24);
    }
}
