.errorPage {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 0 auto;

    padding: var(--a-spacing-6);
    background: var(--a-white);
    border-radius: var(--a-spacing-1);

    .header {
        display: flex;
        align-items: center;
    }

    .headerMsg {
        margin-right: var(--a-spacing-6);
        padding-right: var(--a-spacing-6);
        vertical-align: top;
    }

    .content {
        margin-top: var(--a-spacing-6);
    }
}
