.container {
    width: 100%;
    margin-bottom: var(--a-spacing-6);
}

.header {
    padding: 0;
    margin: 0 auto var(--a-spacing-2) auto;
}

.subHeader {
    margin-bottom: var(--a-spacing-6);
    color: var(--a-gray-700);
}
