@use 'src/common' as common;


.overviewPage {
    display: flex;
    flex-direction: column;

    .content {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 2rem;
        max-width: common.$contentMaxWidth;
        width: 100%;

        :global(.layout) {
            max-width: common.$sectionMaxWidth;
        }
    }

    .productListWrapper {
        background-color: white;
        padding: 2rem;
        max-width: common.$sectionMaxWidth;
    }

    .illustration {
        width: 40px;
        height: 40px;
    }

    .accordionItem {
        :global(.navds-accordion__header), :global(.navds-accordion__content) {
            border-bottom-color: var(--navds-semantic-color-divider);
        }

        :global(.navds-accordion__content) {
            padding-bottom: 0px;
        }
    }

    :global(.navds-accordion__expand-icon) {
        margin-left: auto;
    }

    @include common.product-mixins();
}
