@use 'src/common' as common;

.overviewPage {
    display: flex;
    flex-direction: column;

    .content {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 2rem;
        max-width: common.$contentMaxWidth;
        width: 100%;

        :global(.region__pageContent) {
            max-width: common.$sectionMaxWidth;
        }
    }

    .productListWrapper {
        background-color: white;
        padding: 2rem;
        max-width: common.$sectionMaxWidth;

        @media #{common.$mq-screen-mobile} {
            padding: 0.5rem;
        }
    }

    @include common.product-mixins();
}
