$padding: 0.3125rem;
$lineWidth: 0.1875rem;
$size: 6rem;
$innerSize: $size - $padding * 2;
$chevronHeight: 2rem;
$chevronWidth: 1rem;

.outer {
    padding: $padding;
    width: $size;
    height: $size;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: white;
    width: $innerSize;
    height: $innerSize;

    .blue {
        background-color: #c0e1ff;
    }
}

.chevron {
    position: relative;
    display: flex;
    align-items: center;
    //transform: translateX(1rem);

    &:before,
    &:after {
        content: '';
        position: absolute;
        border: $lineWidth solid black;
        width: $chevronWidth;
        height: $chevronHeight;
    }

    &:before {
        transform-origin: bottom left;
        transform: translateY(-($chevronHeight - $lineWidth) / 2) rotate(-45deg);
        border-bottom: none;
    }

    &:after {
        transform-origin: top left;
        transform: translateY(($chevronHeight - $lineWidth) / 2) rotate(45deg);
        border-top: none;
    }

    .tip {
        position: absolute;
        border: $lineWidth solid black;
        height: $chevronWidth;
        width: $chevronWidth;
        transform: translateX($lineWidth / 2) rotate(45deg);
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
}
