.container {
    width: 100%;
    margin-bottom: var(--ax-space-24);
}

.header {
    padding: 0;
    margin: 0 auto var(--ax-space-8) auto;
}

.subHeader {
    margin-bottom: var(--ax-space-24);
    color: var(--ax-text-neutral-subtle);
}
