.oversiktSearch {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--a-spacing-8);

    &:focus {
        outline: none;
        box-shadow: none;
    }

    :global(.navds-label) {
        font-size: var(--a-font-size-heading-xsmall);
    }
    :global(.navds-button) {
        color: var(--a-deepblue-700);
        &:hover {
            background-color: var(--a-deepblue-50);
        }
    }
}
