@use 'common' as common;

.currentTopicPage {
    display: flex;
    flex-direction: column;
    padding-top: var(--a-spacing-8);
    padding-bottom: 3rem;
}

.contentAligner {
    display: flex;
    width: 100%;
    max-width: 63.5rem;
}

.contentWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: var(--a-spacing-16);
    @include common.full-width-mixin;
}

.content {
    display: flex;
    width: 100%;
    max-width: 37.5rem;

    & > * {
        width: 100%;
    }
}
