.contactInformationPage {
    display: flex;
    flex-direction: column;
}

.content {
    background-color: var(--a-white);
    padding: var(--ax-space-40);
    width: 37.5rem;
}
.editorAlert {
    margin-bottom: var(--ax-space-32);
}
