.contactInformationPage {
    display: flex;
    flex-direction: column;
}

.content {
    background-color: var(--a-white);
    padding: var(--a-spacing-10);
    width: 37.5rem;
}
.editorAlert {
    margin-bottom: var(--a-spacing-8);
}
