@import (reference) '../../../global';

.redirect-page {
    @paddingVertical: 2rem;
    @paddingHorizontal: @paddingVertical * 1.62;
    width: 100%;
    background-color: white;
    padding: @paddingVertical @paddingHorizontal;
    border: 4px solid @navds-global-color-green-200;
}
