@use 'common' as common;

.gvMessages {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-left: 2px dotted var(--ax-neutral-700);
    padding-left: var(--ax-space-16);
    margin-left: var(--ax-space-16);

    @media #{common.$mq-screen-mobile} {
        width: 100%;
        margin-left: 0;
        margin-top: var(--ax-space-16);
        padding-left: 0;
        padding-top: var(--ax-space-16);
        border-left: none;
        border-top: 2px dotted var(--ax-neutral-700);
    }

    .warning {
        font-weight: bold;
    }
    .error {
        font-weight: bold;
        color: var(--ax-danger-600);
    }
    .close {
        align-self: center;
        margin-top: var(--ax-space-16);
    }
}
