@use 'sass:math';

.crossIcon {
    $height: var(--a-spacing-05);
    $width: 1.5rem;
    transform: translateY(math.div(-$height, 2));

    & > * {
        height: $height;
        width: $width;
        background-color: var(--default-action-color);
        transform-origin: center;
    }

    &__1 {
        transform: translateY($height) rotateZ(45deg);
    }

    &__2 {
        transform: rotateZ(-45deg);
    }
}
