@use 'sass:math';

.crossIcon {
    transform: translateY(-1px);

    & > * {
        height: var(--a-spacing-05);
        width: var(--a-spacing-6);
        background-color: var(--default-action-color);
        transform-origin: center;
    }

    &__1 {
        transform: translateY(var(--a-spacing-05)) rotateZ(45deg);
    }

    &__2 {
        transform: rotateZ(-45deg);
    }
}
