.copyLinkContainer {
    display: flex;
    align-self: flex-start;
}

.copyLink {
    align-items: center;
    display: flex;
    font-size: var(--ax-font-size-small);
    padding: var(--ax-space-16) var(--ax-space-16) var(--ax-space-16) 0;
    text-decoration: none;
    white-space: nowrap;
    color: var(--ax-text-subtle);

    &:hover {
        font-weight: 600;
        .anchorIcon {
            transform: scale(1.2);
        }
    }
}

.anchorIcon {
    height: var(--ax-space-16);
    margin-right: var(--ax-space-8);
    transition-duration: 0.1s;
    transition-property: transform;
    transition-timing-function: ease-out;
    width: var(--ax-space-16);
}

.copyTooltip {
    display: flex;
    align-items: center;
    margin-left: var(--ax-space-16);
    visibility: hidden;
    background-color: var(--ax-success-200);
    color: black;
    padding: var(--ax-space-8) var(--ax-space-12);
    border: 1px var(--ax-success-600) solid;
    border-radius: var(--ax-radius-2);
    pointer-events: none;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease-in;
    transform: translateY(2px);
}

.copyTooltipVisible {
    visibility: visible;
    opacity: 0.75;
}
