// .macroVideo {
//     div[data-gobrain-widgetid] {
//         padding-bottom: 56.25%; /* 16:9 aspect ratio */
//         position: relative;
//         height: 100%;
//     }

//     div[data-gobrain-widgetid] > div:first-of-type {
//         bottom: 0;
//         left: 0;
//         position: absolute !important;
//         right: 0;
//         top: 0;
//         height: 100% !important;
//         width: 100% !important;
//     }
// }
.wrapper {
    :global(.gobrain-poster) {
        width: 50px;
        height: 50px;
        background-position: center center;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }
}

.iconWrapper {
    position: relative;
}

.playIcon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transform: scale(0.75);
    opacity: 0.8;
}

.macroVideo {
    :global(.gobrain-poster) {
        //hindrer "flash" av forhåndsvisningsbilde før videoen starter
        display: none;
    }
}

.previewImage {
    width: 80px;
    min-height: 53.33px;
    border-radius: 0.125rem;
    object-fit: cover;
}

.text {
    margin-bottom: 0 !important; //overstyr kanskje litt for generell regel i MainArticlePermanent?
}

.hidden {
    display: none;
}
