@use 'common' as common;

.lenkepanel {
    :global(.navds-link-card__arrow) {
        display: none;
    }
}

.icon {
    display: flex;
    flex-shrink: 0;

    width: var(--a-spacing-16);
    height: var(--a-spacing-16);

    @media #{common.$mq-screen-mobile-small} {
        width: var(--a-spacing-12);
        height: var(--a-spacing-12);
    }

    & > * {
        width: 100%;
        height: 100%;
    }
}
