@use 'common' as common;

.artikkel {
    width: 100%;
    border-radius: var(--ax-radius-4);

    @media #{common.$mq-screen-desktop} {
        padding: 0 var(--ax-space-44) var(--ax-space-44);
    }

    @media #{common.$mq-screen-mobile} {
        padding: 0 var(--ax-space-8) var(--ax-space-8);
    }

    @media #{common.$mq-screen-tablet} {
        padding: 0 var(--ax-space-24) var(--ax-space-24);
    }

    .header {
        margin-bottom: var(--ax-space-32);
    }

    .headerWithToc {
        margin-bottom: var(--ax-space-24);
    }

    .text {
        p {
            margin-bottom: var(--ax-space-32);
        }

        li {
            padding-bottom: var(--ax-space-8);
            font-size: var(--ax-font-size-large);
            line-height: var(--ax-font-line-height-xlarge);
        }

        > :last-child {
            margin-bottom: 0;
        }

        .kapittelHeader {
            display: inline-block;
        }

        .kapittelHeader:focus {
            outline-offset: 3px;
            outline: 3px solid var(--ax-border-focus);
        }

        figure {
            margin: 0 0 var(--ax-space-28) 0;
        }

        figcaption {
            font-size: var(--ax-font-size-small);
            letter-spacing: 0.004em;
            line-height: var(--ax-font-line-height-medium);
            margin: var(--ax-space-8) 0;
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        table {
            float: none;
            margin-bottom: var(--ax-space-16);

            th,
            td {
                vertical-align: top;
                padding: var(--ax-space-12);
                line-height: 1.5;
                font-size: var(--ax-font-size-large);
            }
        }

        h2,
        .h2,
        h3,
        .h3,
        h4,
        .h4 {
            margin: var(--ax-space-40) 0 var(--ax-space-12);

            &:first-child {
                margin-top: 0;
            }
        }

        h2 {
            font-size: var(--ax-font-size-heading-large);
        }

        h3 {
            font-size: var(--ax-font-size-heading-medium);
        }

        h4 {
            font-size: var(--ax-font-size-heading-small);
        }

        ul,
        ol {
            padding-left: var(--ax-space-24);
            margin-bottom: var(--ax-space-16);
        }
    }
}
