.miniCardV2 {
    margin-bottom: var(--ax-space-36);

    :global(.aksel-link-anchor__arrow) {
        color: var(--ax-text-subtle);
    }
}

.tagline {
    color: var(--ax-text-neutral-subtle);
    font-variant: all-small-caps;
    letter-spacing: 1.2px;
    margin-top: 0.125rem;
    text-transform: uppercase;
}
