@use 'src/common' as common;
@use 'src/components/layouts/index-page/IndexPage.module' as indexPage;

$graphicsHeight: 160px;
$graphicsWidth: 320px;

.panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-width: 600px;
    max-width: 600px;

    @media #{common.$mq-screen-mobile} {
        min-width: 100%;
        max-width: 100%;
    }
}

.gfxContainer {
    display: flex;
    justify-content: center;
    position: relative;
    align-self: flex-end;
    overflow: hidden;

    width: 100%;
    min-width: $graphicsWidth;
    max-width: 625px;
    height: $graphicsHeight;
    margin-bottom: -0.5rem;

    & > * {
        width: $graphicsWidth;
    }

    @media #{common.$mq-screen-mobile} {
        display: none;
    }
}
