@import (reference) '../../../../common';

.fragment-usage {
    padding: 1rem 2rem;
    background-color: white;
    margin-bottom: 1rem;
    border: 2px solid @navds-global-color-green-200;
    border-radius: @border-radius-large;

    &__header {
        display: flex;
        align-items: center;
    }

    &__button {
        margin-left: 1rem;
    }

    .fragment-usage-link {
        margin-top: 0.5rem;
    }

    &__usage-header.navds-title {
        margin-top: 1rem;
    }
}
