.error-page {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 0 auto;

    padding: 1.5rem;
    background: white;
    border-radius: 0.25rem;

    &__header {
        display: flex;
        align-items: center;
    }

    &__header-msg.navds-heading {
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        margin-right: 1.5rem;
        padding-right: 1.5rem;
        vertical-align: top;
    }

    &__content {
        margin-top: 1.5rem;
    }
}
