@use 'common' as common;

.tagline {
    text-transform: uppercase;
    font-size: var(--text-fluid-18-20) !important;
    letter-spacing: 0.075em;
    font-variant: all-small-caps;
    color: var(--a-text-subtle);
    white-space: pre-wrap;

    @media #{common.$mq-screen-tablet-and-mobile} {
        margin-top: var(--a-spacing-3);
    }
}
