@use 'common' as common;

.generalPageHeader {
    display: block;

    .illustration {
        width: var(--a-spacing-24);
        height: var(--a-spacing-24);
        position: absolute;
        margin-left: calc(-1 * var(--a-spacing-32));

        :global(.back) {
            [fill]:not([fill='none']) {
                fill: var(--brand-purple-light);
            }
            [stroke] {
                stroke: var(--brand-purple-light);
            }
        }
        :global(.front) {
            [fill]:not([fill='none']) {
                fill: var(--brand-purple-deep);
            }
            [stroke] {
                stroke: var(--brand-purple-deep);
            }
        }

        @media #{common.$mq-screen-tablet-and-mobile} {
            position: relative;
            width: var(--a-spacing-16);
            height: var(--a-spacing-16);
            margin-left: 0;
        }
    }

    .header {
        margin-top: var(--a-spacing-3);
        color: var(--brand-purple-deep);
        margin-bottom: var(--a-spacing-6);
    }

    .reduceMarginBottom {
        margin-bottom: calc(-1 * var(--a-spacing-6));
    }

    .ingress:global(.navds-body-long) {
        margin-bottom: 0;
    }
}
