@use 'common' as common;

.tagline {
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-variant: all-small-caps;
    color: var(--ax-text-neutral-subtle);
    white-space: pre-wrap;

    @media #{common.$mq-screen-tablet-and-mobile} {
        margin-top: var(--ax-space-12);
    }
}
