@use 'common' as common;

.generalPageHeader {
    display: block;

    .illustration {
        width: var(--ax-space-80);
        height: var(--ax-space-80);
        position: absolute;
        margin-left: -120px;

        :global(.back) {
            [fill]:not([fill='none']) {
                fill: var(--ax-border-brand-magenta-subtle);
            }
            [stroke] {
                stroke: var(--ax-border-brand-magenta-subtle);
            }
        }
        :global(.front) {
            [fill]:not([fill='none']) {
                fill: var(--ax-text-brand-magenta-decoration);
            }
            [stroke] {
                stroke: var(--ax-text-brand-magenta-decoration);
            }
        }

        @media #{common.$mq-screen-tablet-and-mobile} {
            position: relative;
            width: var(--ax-space-64);
            height: var(--ax-space-64);
            margin-left: 0;
        }
    }

    .header {
        margin-top: var(--ax-space-12);
        color: var(--ax-text-brand-magenta-subtle);
        margin-bottom: var(--ax-space-24);
    }
}

.ingress:global(.aksel-body-long) {
    margin-bottom: 0;
}
