.officeInformation {
    background-color: var(--a-surface-default);
    padding: var(--a-spacing-7);

    header {
        margin-bottom: var(--a-spacing-4);

        h1 {
            font-size: var(--a-spacing-8);
            font-weight: 400;
            margin: var(--a-spacing-2) 0 0;
        }

        h2 {
            font-size: var(--a-font-size-heading-small);
            font-weight: 600;
            margin-top: var(--a-spacing-6);
        }
    }

    h3,
    h5 {
        margin-bottom: 0;
    }

    p:last-child,
    p:last-of-type {
        margin-bottom: var(--a-spacing-6);
    }
}
