.officeInformation {
    background-color: var(--ax-bg-default);
    padding: var(--ax-space-28);

    header {
        margin-bottom: var(--ax-space-16);

        h1 {
            font-size: var(--ax-font-size-heading-xlarge);
            font-weight: 400;
            margin: var(--ax-space-8) 0 0;
        }

        h2 {
            font-size: var(--ax-font-size-heading-small);
            font-weight: 600;
            margin-top: var(--ax-space-24);
        }
    }

    h3,
    h5 {
        margin-bottom: 0;
    }

    p:last-child,
    p:last-of-type {
        margin-bottom: var(--ax-space-24);
    }
}
