.accordion {
    margin-top: var(--a-spacing-7);
}

.item {
    border-top: 1px solid var(--a-gray-200);
    padding: 0 0.75rem;

    &:last-of-type {
        border-bottom: 1px solid var(--a-gray-200);
    }

    // We want the gray borders in top and below (actually the border top of the next item)
    // to disappear when hovering the header. However, we don't want the lower border
    // (again, actually the border top of the next item) to disappear when the panel
    // is actually expanded.
    &:has(:global(.navds-accordion__header):hover) {
        border-top: 1px solid transparent;
    }

    &:has(:global(.navds-accordion__header):hover) {
        &:not(:global(.navds-accordion__item--open)) {
            & + .item {
                border-top: 1px solid transparent;
            }

            &:last-of-type {
                border-bottom: 1px solid transparent;
            }
        }
    }

    &:global(.navds-accordion__item--open) {
        box-shadow: 0 0 0 0;
        .header {
            box-shadow: 0 0 0 0;
        }
    }
}

.header {
    --__ac-accordion-header-shadow: 0;
    border-radius: 4px;
    border-top: 1px solid transparent;
    margin: 0 calc(var(--a-spacing-3) * -1);
    width: calc(100% + 1.5rem);

    :global(.navds-accordion__icon-wrapper) {
        background-color: var(--a-surface-action-subtle);
        border-radius: 9px;
        height: 22px;
        width: 22px;
        margin-right: var(--a-spacing-1-alt); // Align with content

        // Chevron icon
        svg > path {
            fill: var(--a-surface-action);
        }
    }

    &:hover {
        background-color: var(--a-surface-action-subtle);
        text-decoration: none;

        :global(.navds-accordion__icon-wrapper) {
            background-color: var(--a-surface-action);
        }
        // Chevron icon
        svg > path {
            fill: var(--a-surface-action-subtle);
        }
    }
}

.headerTitle {
    font-weight: var(--a-font-weight-regular);
    color: var(--a-surface-action);
}

.content {
    position: relative;
    margin: var(--a-spacing-2) calc(var(--a-spacing-3) * -1) 0 calc(var(--a-spacing-2) * -1);

    &:before {
        content: '';
        width: 1px;
        height: calc(100% - var(--a-spacing-3));
        border-left: 2px solid var(--a-gray-400);
        position: absolute;
        left: 18px;
        top: 0;
    }
}
