.accordion {
    margin-bottom: var(--a-spacing-7);
    --__ac-accordion-header-shadow: 0 0 0;
}

.item {
    border-top: 1px solid transparent;

    &:not(:first-child) {
        border-top: 1px solid var(--a-gray-200);
    }

    &:hover {
        border-top: 1px solid transparent;
    }

    &:global(.navds-accordion__item--open) {
        box-shadow: 0 0 0;
        border-top: 1px solid transparent;

        .header {
            box-shadow: 0 0 0;
            background-color: var(--a-gray-50);
            border-top: 1px solid transparent;
        }
    }
}

.header {
    border-radius: 4px;
    border-top: 1px solid transparent;
    --__ac-accordion-header-shadow: 0;

    margin: 0 -0.75rem;
    width: calc(100% + 1.5rem);

    :global(.navds-accordion__icon-wrapper) {
        width: 22px;
        height: 22px;
        border-radius: 8px;
        background-color: var(--a-surface-action-subtle);

        // Chevron icon
        svg > path {
            fill: var(--a-surface-action);
        }
    }

    &:hover {
        background-color: var(--a-surface-action-subtle);
        text-decoration: none;

        :global(.navds-accordion__icon-wrapper) {
            background-color: var(--a-white);
        }
    }
}

.headerTitle {
    font-weight: var(--a-font-weight-regular);
    color: var(--a-surface-action);
}

.content {
    margin: var(--a-spacing-2) 0 0 0;
}
