@use 'src/common' as common;

.centerNavigation {
    padding: 2rem 0;
    background-color: #fff;
    @include common.full-width-mixin();
}

.areasPageNavigation {
    padding-bottom: 1rem;
    visibility: visible;
    max-height: 50px;
    overflow: hidden;

    transition-property: max-height, visibility;
    transition-duration: 1000ms;
    transition-timing-function: linear;

    @include common.full-width-mixin();
}

.areasPageNavigationLink {
    margin-right: 1rem;
}

.frontpageHeader {
    max-height: 100px;
    visibility: visible;
    overflow: hidden;
    transition-property: max-height, visibility;
    transition-duration: 1000ms;
    transition-timing-function: linear;
}

.hidden {
    max-height: 0;
    visibility: hidden;
}
