@use 'src/common' as common;

.centerNavigation {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #fff;
    @include common.full-width-mixin();
}

.headerAndNavBar {
    height: 60px;
    overflow: hidden;
}
