@use 'src/common' as common;

.areaNavigation {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    background-color: #fff;

    &.areaPage {
        padding-bottom: 0.5rem;
    }

    @include common.full-width-mixin();

    @media #{common.$mq-screen-mobile} {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.headerAndNavBar {
    min-height: common.px-to-rem(74px);
    overflow: hidden;
    padding-bottom: 1.5rem;
}
