.moreLink {
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.1em;
    text-decoration-line: underline;
    margin: 0.5rem 0 1rem 0;
    display: block;
    color: var(--default-action-color);
}
