@use 'src/common' as common;
@use 'src/components/layouts/index-page/IndexPage.module' as indexPage;

.panel {
    display: flex;
    padding-bottom: 0.5rem;
    background-color: common.$a-white;

    @include common.full-width-mixin();
}

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;

    width: 100%;
    max-width: common.px-to-rem(600px);

    @media #{common.$mq-screen-mobile} {
        min-width: 100%;
        max-width: 100%;
    }
}

.heading {
    @media #{common.$mq-screen-mobile-small} {
        padding-left: 0.5rem;
    }
}

.gfxContainer {
    display: flex;
    flex-shrink: 3;
    justify-content: flex-end;
    align-self: flex-end;

    width: common.px-to-rem(500px);
    max-width: common.px-to-rem(500px);
    height: common.px-to-rem(160px);
    margin-bottom: -0.5rem;

    pointer-events: none;

    @media #{common.$mq-screen-mobile} {
        display: none;
    }
}
