@use 'common' as common;

.themedPageHeader {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: var(--ax-space-20);
    padding-bottom: var(--ax-space-20);
    border-bottom: 4px solid transparent;

    @include common.full-width-mixin;

    &.situation {
        border-bottom-color: var(--ax-warning-600);
    }
    &.product {
        border-bottom-color: var(--ax-success-600);
    }
    &.guide {
        border-bottom-color: var(--ax-brand-blue-200);
    }
    &.themedpage {
        border-bottom-color: var(--ax-meta-lime-600);
    }
    &.tool {
        border-bottom-color: var(--ax-brand-blue-600);
    }
    &.intermediateStep {
        border-bottom-color: var(--ax-brand-blue-400);
    }
    &.overview {
        border-bottom-color: var(--ax-danger-200);
    }
    &.generic {
        border-bottom-color: var(--ax-neutral-700);
    }

    @media #{common.$mq-screen-mobile} {
        padding-left: var(--ax-space-16);
        padding-right: var(--ax-space-16);

        .illustration {
            display: none;
        }
    }
}

.header {
    padding: 0 0 var(--ax-space-20) 0;
    margin: 0 auto;
}

.illustration {
    width: var(--ax-space-80);
    height: var(--ax-space-80);
    margin-right: var(--ax-space-32);
    pointer-events: none;
}

.text {
    width: 100%;
    max-width: 63.5rem;
}

.taglineWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media #{common.$mq-screen-mobile} {
        flex-direction: column;
        align-items: stretch;
    }
}

.taglineLabel {
    @media #{common.$mq-screen-mobile} {
        margin-bottom: var(--ax-space-8);
    }
}

.divider {
    padding: 0 var(--ax-space-16);

    @media #{common.$mq-screen-mobile} {
        display: none;
    }
}

.divider,
.modifiedLabel {
    color: var(--ax-neutral-800);
}
