@use 'common' as common;

.tagLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: var(--ax-space-4);

    @include common.full-width-mixin;
}

.wrapper {
    display: flex;
    max-width: 63.5rem;
    width: 100%;
}

.tagLabel {
    color: var(--a-lightblue-800);
    font-weight: var(--ax-font-weight-bold);
    padding-left: var(--ax-space-8);
    text-transform: uppercase;
}

.tagIcon {
    height: var(--ax-space-20);
    width: var(--ax-space-20);
}
