@use 'common' as common;

.page {
    display: grid;
    margin: var(--ax-space-20) auto var(--ax-space-40);
    grid-template-columns: 1fr minmax(0, 45rem) 1fr;
    grid-template-areas: 'pictogram content .';
    column-gap: var(--ax-space-40);

    @media #{common.$mq-screen-tablet-and-mobile} {
        grid-template-areas:
            '. pictogram .'
            '. content .';
        column-gap: 0;
    }
}

.content {
    grid-area: content;
}

.pictogram {
    grid-area: pictogram;
    width: var(--ax-space-80);
    height: var(--ax-space-80);
    display: block;

    justify-self: end;
    position: relative;
    align-self: flex-start;
    margin-bottom: var(--ax-space-20);

    @media #{common.$mq-screen-tablet-and-mobile} {
        width: var(--ax-space-64);
        justify-self: start;
    }
}
